.container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-300);
    justify-content: flex-end;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-300);
    align-items: center;
}