<div style="width: 100%; height: 100%;">
  <div style="width: 100%; height: 50px; position: sticky;">
    <h2 style="margin-left: 5px;">Plan:</h2>
  </div>
  <div style="width: 100%; height: calc(100% - 50px); overflow-y: scroll;" *ngIf="plan">
    <p *ngFor="let action of plan.actions" class="actions"><span style="font-weight: bold;">{{action.name}}</span>(<span>{{action.args.join(', ')}}</span>)</p>

    <!-- <div style="width: 50%; height: 2px; background-color: black; margin: 20px 0px;"></div>
    <p style="font-size: large;"><span style="font-weight: bold;">Plan cost: </span>{{plan.cost}}</p> -->
  </div>
</div>
