<div class="container">
    <div>
    <mat-icon>{{ icon() }}</mat-icon>
    </div>
    <div class="rack">
        <div class="slider">
            @for(jig of jigs(); track jig){
                <app-jig [jig]="jig" [jigType]="jigTypes()?.[jig?.name]"></app-jig>
            }
        </div>
    </div>
    <div class="info-container">
        @if(!incoming()){
            <span class="font-highlight">{{ outgoingType() }}</span>
            <span>{{ numOutgoingJigs() }}</span>
        }
    </div>
</div>

