.button-group {
    display: flex;
    gap: 8px; /* Adjust the gap as needed */
    /* Optional: Align items vertically centered */
    align-items: center;
  }

.chat {
  height: clamp(200px, 400px, 80vh);
  }
