@use "../../../../../../variables.scss" as vars;

:host {
  display: grid;
  align-items: center;
}

.action-container{
    width: fit-content;
    padding: var(--spacing-200);

    border-radius: var(--radius-full);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-100);

    @include vars.background-color(surface-container);
}

.action-container:hover {
    cursor: pointer;
}


.selected{
    background-color: rgb(159, 249, 232);
}
