@use "@angular/material" as mat;

@use "../../../../../../variables" as vars;
@use "../../../../../../ipexco-theme" as ipexco-theme;

:host {
  display: grid;
  align-items: center;
}

.action-container{
    width: fit-content;
    padding: var(--spacing-200);

    border-radius: var(--radius-full);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-100);

    @include vars.background-color(surface-container);

    outline: solid;
    outline-width: 2px;
    outline-offset: -2px;
    outline-color: transparent;

    transition: outline-color 100ms, background-color 100ms, scale 100ms;
    scale: 0.9;
}

.action-container:hover {
    cursor: pointer;
}


.selected{
  outline-color: #{mat.get-theme-color(ipexco-theme.$light-theme, outline-variant)};
  scale: 1;
}
