<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>{{ project()?.name }}</mat-card-title>
      <mat-card-subtitle>
        <!-- <app-label
          [color]="plan()?.status | stepStatusColor"
        >{{ plan()?.status | stepStatusName }}</app-label> -->
      </mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      <div class="content">
        <div class="stats">
          <mat-icon>flight_land</mat-icon>
          <span class="property-label">#Flights:</span>
          <span class="property-value">{{ numFlights() ?? '?'}}</span>

          <mat-icon>menu</mat-icon>
          <span class="property-label">#Racks:</span>
          <span class="property-value">{{ numRacks() ?? '?' }}</span>
  
          <mat-icon>crop_16_9</mat-icon>
          <span class="property-label">#Jigs:</span>
          <span class="property-value">{{ numJigs() ?? '?'}}</span>
        </div>
  
        <div class="utility">
          <mat-icon>connecting_airports</mat-icon>
          <!-- <div class="utility-value-container">
            <span class="value" *isProject>{{ step() | stepValue : planProperties() | default : '-/-'}}</span>
            <span class="value" *isDemo>{{ (step() | stepValue : planProperties() | default : '-') + '/' + maxOverallUtility() }}</span>
            <span class="label">Utility</span>
          </div> -->
        </div>
      </div>
    </mat-card-content>
  
    <mat-card-actions>
      <div class="action-container">
        <a class="details" mat-stroked-button [routerLink]="[project()?._id]">Details</a>
      </div>
    </mat-card-actions>
  </mat-card>
  