<div class="container" cdkDropList (cdkDropListDropped)="drop($event)">
    @for(elem of schedule(); track elem.jig.name; let idx = $index){
        <app-jig-configurator 
            [index]="idx"
            [jig]="elem.jig"  
            [jigType]="jigTypes()?.[elem.jig?.type]"
            [status]="elem.status"
            [showOnlyPart]="true"
            (statusChange)="setStatus(idx, $event)"
        >
        <div class="custom-placeholder" *cdkDragPlaceholder></div>
        </app-jig-configurator>
    }
</div>
