<div class="main" *transloco="let t">
  <div class="group">
    <a mat-flat-button 
        [routerLink]="['../../../../flight-sections']"  
        (click)="onSave()">
        <mat-icon>save</mat-icon>
        {{t('b.save')}}
    </a>
    <a mat-button 
      [routerLink]="['../../../../flight-sections']"
      (click)="onCancel()">
        <mat-icon>cancel</mat-icon>
        {{t('b.cancel')}}
    </a>
  </div>

  <div class="group">
    <button mat-button (click)="onUndo()" [disabled]="!this.undoStack.hasStackItems()">
        <mat-icon>undo</mat-icon>
        {{t('b.undo')}}
    </button>

    @if(!allFlightsInHorizonFinished()){
    <button mat-button (click)="onNextFlight()" [disabled]="! currentFlightFinished()">
        <mat-icon>keyboard_arrow_right</mat-icon>
        Next Flights
    </button>
    }
  </div>
</div>

