@let step = step$ | async;
@let solved = solved$ | async;

<app-page>
  <app-breadcrumb>
    <a app-breadcrumb-item [routerLink]="['/projects/' + (step$ | async)?.project]"><mat-icon>home</mat-icon></a>
    <a app-breadcrumb-item [routerLink]="['../..']">All Iterations</a>
    <a app-breadcrumb-item [routerLink]="['..']">{{ (step$ | async)?.name }}</a>
    <app-breadcrumb-item>Plan</app-breadcrumb-item>
  </app-breadcrumb>
  <app-page-title>
    {{ step?.name }}
    <app-page-title-action>
      @if (solved) {
        <a mat-icon-button matTooltip="Open PlanPilot." [routerLink]="['../planpilot']">
          <mat-icon>account_tree</mat-icon>
        </a>
      } @else {
        <button mat-icon-button matTooltip="Solve this step before opening PlanPilot." disabled>
          <mat-icon>account_tree</mat-icon>
        </button>
      }
      <button mat-icon-button
        matTooltip="Creates a new iteration based on the properties selected in this iteration."
        (click)="createNewIteration(step?._id)"
      ><mat-icon>call_split</mat-icon></button>
    </app-page-title-action>
  </app-page-title>

  <app-page-content>
    <app-plan-view></app-plan-view>
    <!-- <app-beluga-plan-animation *isBeluga></app-beluga-plan-animation> -->
  </app-page-content>
</app-page>
