<div>

  <mat-form-field id="sortField" appearance="fill">
    <mat-label>Select a sorting method</mat-label>
    <mat-select [(value)]="optioned" (selectionChange)="setOrder($event)">
      <mat-option value="option1">No Sorting Method</mat-option>
      <mat-option value="option2">Least Occurence First</mat-option>
      <mat-option value="option3">Most Occurence First</mat-option>
      <mat-option value="option4">Most Deviation First</mat-option>
      <mat-option value="option5">User Preference</mat-option>
    </mat-select>
  </mat-form-field>

  <div style="margin-top: 30px; margin-left: 20px; border: 2px solid grey; border-radius: 5px; width: 255px;">
    <p style="font-weight: bold; padding-top: 10px; padding-left: 3px;" (click)="extendFilter($event)">Filter MUGS by Plan Properties ◀</p>
    <section id="mugsFilterSection" style="display:none"></section>
  </div>

  <div style="margin-top: 30px; margin-left: 20px; border: 2px solid grey; border-radius: 5px; width: 255px;">
    <p style="font-weight: bold; padding-top: 10px; padding-left: 3px;" (click)="extendGroup($event)">Group MUGS ◀</p>
    <section id="groupSection" style="display:none"></section>
  </div>

  <div id="target">
    <div id="head"></div>
    <div id="vis"></div>
  </div>

  <div id="orderPanel">
    <div id="construct"></div>
    <div id="button"></div>
    <input type="button" value="close" style="bottom:5px;position:absolute;text-align:center" (click)="closePanel($event)"/>
  </div>

</div>

