#head {
  position: absolute;
  top: 39px;
  left: 250px;
  width: 84%;
  height: 120px;
}

#vis {
  position: absolute;
  top: 160px;
  left: 250px;
  width: 84%;
  height: 650px;
  overflow-y: auto;
}

#sortField{
  padding-top:63px;
  padding-left:20px;
}

#mugsFilterSection {
  padding-top: 0px;
  padding-left: 3px;
}

#groupSection {
  padding-top: 0px;
  padding-left: 3px;
}

#orderPanel {
  text-align: center;
  background-color: #eeeeee;
  border: 2px groove black;
  border-radius: 15px;
  width: 500px;
  height: 400px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

#construct {
  height: 95%;
  width: 45%;
  float: left;
  display: inline;
}

#button {
  height: 95%;
  width: 45%;
  float: right;
  display: inline;
}
