#head {
  position: absolute;
  top: 39px;
  left: 230px;
  width: 85%;
  height: 120px;
}

#vis {
  position: absolute;
  top: 160px;
  left: 230px;
  width: 85%;
  height: 650px;
  overflow-y: auto;
}

#sortField{
    padding-top:63px;
    padding-left:20px;
}

#mugsFilterSection {
  padding-top: 30px;
  padding-left: 20px;
}
