<div  class="container">
    @if(index() !== null){
        <span class="index">{{ (index() ?? 0) + 1}}</span>
    }
    <app-jig
        [class.notUsed]="status()?.skip"
        [jig]="jig()"  
        [jigType]="jigType()"
        [incomingFlight]="incomingFlightJigMap()?.[jig().name] ?? null"
        [unitSize]="true"
        [draggable]="true"
        [showOnlyPart]="showOnlyPart()"
    >
    </app-jig>
    @if(!status()?.onSite){
        <mat-icon class="error">wrong_location</mat-icon>
    }
    @if(!status()?.skip){
        <button mat-icon-button (click)="onStatusChanged(true)">
            <mat-icon>step_over</mat-icon>
        </button>
    }
    @else{
        <button mat-icon-button (click)="onStatusChanged(false)" [disabled]="mustBeSkipped()">
            <mat-icon>check</mat-icon>
        </button>
    }
</div> 