<div
    class="container"
    [class.next]="status().next"
   *transloco="let t"
>
    <app-jig
        [jig]="jig()"
        [jigType]="jigType()"
        [unitSize]="true"
        [draggable]="false"
        [isGhost]="!status().loaded"
        [animate]="true"
    >
    </app-jig>

    <div class="button-container">
        @if(status()?.next) {
            <button
              mat-icon-button
              (click)="onSkip()"
              [disabled]="!isSkipPossible()"
              [matTooltip]="t('b.skip')"
            ><mat-icon>step_over</mat-icon></button>
        }
    </div>
</div>
