@use "../../../../../../variables.scss" as vars;

.skipped {
    opacity: 50%;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: var(--spacing-200);
    align-items: center;

    padding: var(--spacing-100);
    border: solid;
    border-width: 1px;
    @include vars.border_color();
    border-radius: var(--spacing-200);
}

.next{
    outline: solid;
    outline-width: 3px;
    outline-offset: -3px;
    @include vars.border_color();
}

.index {
    font-weight: 500;
    font-size: large;

    margin-left: var(--spacing-100);
}

.error {
    color: red;
}

.info {
    color: gray;
}