.mat-card{
  width: 400px;
  max-width: 100%;
}

.mat-grid-tile .mat-figure {
  align-items: start !important;
  animation: 5s;
}

.mat-grid-list {
  animation: 5s;
}

mat-grid-tile {
  width: 20%;
}

.project-card {
  width: 20%;
  min-width: 300px;
  margin: 1%;
}

.add-button {
  position: fixed;
  right: 50px;
  bottom: 50px;
}
