<mat-card appearance="outlined" class="card">
    <mat-card-header>
        <mat-card-title>Production Schedule</mat-card-title>
    </mat-card-header>
    <mat-card-content class="container">
        @for(schedule of productionLineTargetSchedules(); track schedule.name; let idx = $index){
            <app-production-line-configurator
                [productionLineTargetSchedule]="schedule"
                [jigsOnSite]="jigsOnSite()"
                [jigTypes]="jigTypes()"
                [jigs]="jigs()"
                [conflictMembers]="conflictMembers()"
                [disabled]="disabled()"
                (change)="onChangeProductionTarget($event, schedule.name)"
            >
            </app-production-line-configurator>
        }
    </mat-card-content>
</mat-card>
