.main-container {
  box-sizing: border-box;;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.card-style {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-style > mat-card-actions {
  align-self: flex-end;
}


.content-style {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
