<div class="main-container" (click)="deactivateAll()">
  <mat-card [class.base-card-desktop]="! isMobile" [class.base-card-mobile]="isMobile">
    <mat-card-header>
      <mat-card-title>New User Study</mat-card-title>
      <mat-card-subtitle>General Data</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="userStudyForm">
        <mat-form-field class="full-line-input">
          <mat-label>Name</mat-label>
          <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field class="full-line-input">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field class="full-line-input">
          <mat-label>Start Date</mat-label>
          <input matInput type="date" formControlName="startDate">
        </mat-form-field>

        <mat-form-field class="full-line-input">
          <mat-label>End Date</mat-label>
          <input matInput type="date" formControlName="endDate">
        </mat-form-field>

        <mat-form-field class="full-line-input">
          <mat-label>Prolific redirect URL</mat-label>
          <input matInput type="text" formControlName="redirectUrl">
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card [class.base-card-desktop]="! isMobile" [class.base-card-mobile]="isMobile"
            *ngFor="let part of parts" (click)="activate($event, part.index)">
    <mat-card-header>
      <mat-card-title *ngIf='part.type === userStudyStepType.description'>Description</mat-card-title>
      <mat-card-title *ngIf='part.type === userStudyStepType.form'>Google Form</mat-card-title>
      <mat-card-title *ngIf='part.type === userStudyStepType.demo'>Demo</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="width: 100%; display: flex; justify-content: flex-end;">
      <mat-form-field appearance="fill" *ngIf="part.active">
        <mat-label>Type</mat-label>
        <mat-select [(value)]="part.type">
          <mat-option [value]="userStudyStepType.description">Description</mat-option>
          <mat-option [value]="userStudyStepType.form">Form</mat-option>
          <mat-option [value]="userStudyStepType.demo">Demo</mat-option>
        </mat-select>
      </mat-form-field>
      </div>

        <ng-container *ngIf="part.active">
          <ng-container *ngIf='part.type === userStudyStepType.description'>
            <mat-form-field class="full-line-input">
              <mat-label>Description</mat-label>
              <textarea matInput [value]="part.content" [(ngModel)]="part.content">
              </textarea>
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf='part.type === userStudyStepType.form'>
            <mat-form-field class="full-line-input">
              <mat-label>Form Link</mat-label>
              <input matInput type="url" [(ngModel)]="part.url">
            </mat-form-field>
          </ng-container>

          <ng-container *ngIf='part.type === userStudyStepType.demo'>
            <mat-form-field appearance="fill">
              <mat-label>Demo</mat-label>
              <mat-select [(value)]="part.demo">
                <mat-option *ngFor="let d of (demos$ | async)" [value]=d>{{d.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-container>
        </ng-container>

      <ng-container *ngIf="! part.active">
        <ng-container *ngIf='part.type === userStudyStepType.description'>
            <p>{{part.content}}</p>
        </ng-container>

        <ng-container *ngIf='part.type === userStudyStepType.form'>
          <div style="display: flex; flex-direction: column; justify-content: center;">
            <a mat-flat-button color="primary" href="{{part.url}}">
              <mat-icon>visibility</mat-icon>
              Google Form Link
            </a>
            <iframe *ngIf="part.url" [src]='makeTrustedURL(part.url)'
                    width="640" height="890" frameborder="0" marginheight="0" marginwidth="0">Wird geladen…</iframe>
          </div>
        </ng-container>

        <ng-container *ngIf='part.type === userStudyStepType.demo'>
          {{part.demo?.name}}
        </ng-container>
      </ng-container>


    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button (click)="moveUp(part)" [disabled]="part.index == 0">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
      <button mat-icon-button (click)="moveDown(part)" [disabled]="part.index == this.parts.length - 1">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
      <button mat-icon-button (click)="deletePart(part)" [disabled]="this.parts.length == 1">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card [class.button-container-desktop]="! isMobile" [class.button-container-mobile]="isMobile">
    <button mat-icon-button (click)="editUserStudy()" *ngIf="! edit">
      <mat-icon>create</mat-icon>
    </button>
    <button mat-icon-button (click)="addNewPart()" *ngIf="edit">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button (click)="saveUserStudy()" *ngIf="edit">
      <mat-icon>save</mat-icon>
    </button>
  </mat-card>


</div>

