@use "@angular/material" as mat;

@use "../../../../../../variables" as vars;
@use "../../../../../../ipexco-theme" as ipexco-theme;

.container{
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    gap: var(--spacing-200);
    align-items: center;

    padding: var(--spacing-100);
    border-radius: var(--radius-100);

    @include vars.background-color(surface-container-low);

    outline: solid;
    outline-width: 3px;
    outline-offset: -3px;
    outline-color: transparent;

    transition: outline-color 100ms;
}

.next{
    outline-color: #{mat.get-theme-color(ipexco-theme.$light-theme, outline-variant)};;

    @include vars.background-color(surface-container);
}

.container:not(.next) {
  pointer-events: none;
}
