<div  
    class="container"
    [class.next]="status().next"    
>
    @if(index() !== null){
        <span class="index">{{ (index() ?? 0) + 1}}</span>
    }
    <app-jig
        [class.skipped]="status()?.skip"
        [jig]="jig()"  
        [jigType]="jigType()"
        [incomingFlight]="incomingFlightJigMap()?.[jig().name] ?? null"
        [unitSize]="true"
        [draggable]="true"
        [showOnlyPart]="true"
    >
    </app-jig>
    @if (!status()?.onSite) {
        <mat-icon class="error">wrong_location</mat-icon>
    }
    @if (status()?.delivered) {
        <mat-icon>check</mat-icon>
    }
    @else{
        <mat-icon>close</mat-icon>
    }

</div> 