<div
    class="container"
    [class.next]="status().next"
   *transloco="let t"
>
    <app-jig
        [class.skipped]="status()?.skip"
        [jig]="jig()"
        [jigType]="jigType()"
        [isGhost]="!status()?.delivered"
        [animate]="true"
        [incomingFlight]="incomingFlightJigMap()?.[jig().name] ?? null"
        [unitSize]="true"
        [draggable]="true"
        [showOnlyPart]="true"
    >
    </app-jig>

    <div class="button-container">
    @if (!status()?.onSite) {
        <mat-icon class="error">wrong_location</mat-icon>
    }
    @if (status()?.next) {
      <button
        mat-icon-button
        (click)="onSkip()"
        [disabled]="!isSkipPossible()"
        [matTooltip]="t('b.skip')"
      ><mat-icon>step_over</mat-icon></button>
    }
    </div>
</div>
