@let step = step$ | async;

@switch (step?.type){
  @case(UserStudyStepType.description){
    <app-user-study-execution-description-view></app-user-study-execution-description-view>
  }
  @case(UserStudyStepType.form){
    <app-user-study-execution-external-view></app-user-study-execution-external-view>
  }
  @case(UserStudyStepType.demo){
    <app-user-study-execution-demo-view></app-user-study-execution-demo-view>
  }
  @case(UserStudyStepType.userManual){
    <app-user-manual-view></app-user-manual-view>
  }
  @case(UserStudyStepType.demoInfo){
    <app-demo-information-view></app-demo-information-view>
  }
}
