
<div *ngIf="settings">

  <form class="settings-form"
    [formGroup]="settingsForm"
    (ngSubmit)="onSave()">

      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>
            Plan Properties
          </mat-card-title>
        </mat-card-header>
        
        <mat-card-content class="sub-card-content">
          <mat-label matTooltip="Interface used for creating plan properties.">
            Property Creation Interface
          </mat-label>
          <mat-button-toggle-group  formControlName="propertyCreationInterfaceType">
            <mat-button-toggle [value]="PropertyCreationTypes.TEMPLATE_BASED">Templates</mat-button-toggle>
            <mat-button-toggle [value]="PropertyCreationTypes.LLM_CHAT">LLM Chat</mat-button-toggle>
          </mat-button-toggle-group>

          <mat-slide-toggle formControlName="usePlanPropertyValues">
            use utility
          </mat-slide-toggle>
        </mat-card-content>
      </mat-card>

      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>
            Explanations
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="sub-card-content">
          <mat-slide-toggle formControlName="allowQuestions"
            color="primary"
            matTooltip="Allow the user to ask conflict explanations.">
            Provide Conflict Explanations
          </mat-slide-toggle>

          <mat-slide-toggle formControlName="globalExplanation" *ngIf="settingsForm.controls.allowQuestions.value"
            matTooltip="Global conflict explanation independent of the iteration step.">
            Global Explanation
          </mat-slide-toggle>

          <mat-label matTooltip="Interface used for providing explanations" *ngIf="settingsForm.controls.allowQuestions.value">
            Explanation Interface
          </mat-label>
          <mat-button-toggle-group  formControlName="explanationInterfaceType" *ngIf="settingsForm.controls.allowQuestions.value">
            <mat-button-toggle [value]="ExplanationTypes.TEMPLATE_QUESTION_ANSWER">Templates</mat-button-toggle>
            <mat-button-toggle [value]="ExplanationTypes.MUGS_VISUALIZATION">MUGS Visualization</mat-button-toggle>
            <mat-button-toggle [value]="ExplanationTypes.LLM_CHAT">LLM Chat</mat-button-toggle>
          </mat-button-toggle-group>

          <mat-slide-toggle formControlName="provideRelaxationExplanations" *ngIf="settingsForm.controls.useConstraints.value"
            matTooltip="Provide the user with relaxation explanations while analysing
            the conflicts.">
            Provide Relaxation Explanations
          </mat-slide-toggle>
        </mat-card-content>
      </mat-card>

      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>
            Automatic Computation
          </mat-card-title>
        </mat-card-header>
        
        <mat-card-content class="sub-card-content">

          <mat-slide-toggle formControlName="computePlanAutomatically"
            matTooltip="When a new iteration step is created, a plan is automatically computed.">
            Plans
          </mat-slide-toggle>

          <mat-slide-toggle formControlName="computeDependenciesAutomatically"
            matTooltip="When a new iteration step is created, the explanations
              are computed without asking a question.">
            Explanations
          </mat-slide-toggle>
      </mat-card-content>
    </mat-card>

    @if(isDemo()){
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          Demo
        </mat-card-title>
      </mat-card-header>
      
      <mat-card-content class="sub-card-content">

        <mat-slide-toggle formControlName="public"
          matTooltip="Makes the demo publicly available. Neets to be set to true, when the
          demo is used in a user study.">
          public
        </mat-slide-toggle>
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          Features for a User Study
        </mat-card-title>
      </mat-card-header>
      
      <mat-card-content class="sub-card-content">

        <mat-slide-toggle formControlName="introTask"
          matTooltip="If a demo is an intro task, additional instructions are displayed.">
          Intro Task
        </mat-slide-toggle>

        <mat-form-field style="width: 250px">
          <mat-label>Maximal number of iteration steps</mat-label>
          <input matInput type="number" formControlName="maxRuns" />
        </mat-form-field>

        <mat-slide-toggle formControlName="useTimer">
          Use Timer
        </mat-slide-toggle>

        @if(settingsForm.controls.useTimer.value){
        <mat-form-field style="width: 200px">
          <mat-label>Max processing time (in min)</mat-label>
          <input matInput type="number" formControlName="maxTime" />
        </mat-form-field> 
        }

        <mat-slide-toggle formControlName="measureTime">
          Measure Time
        </mat-slide-toggle>

        <mat-slide-toggle formControlName="checkMaxUtility"
          matTooltip="The user is notified, when they reached the maximal possible utility.">
          Stop demo if max utility achieved
        </mat-slide-toggle>
      </mat-card-content>
    </mat-card>

    
  }
  <button mat-stroked-button>Save</button>

<!-- 
        <div class="part">
          <h4>Payment Score</h4>

          <mat-slide-toggle formControlName="showPaymentScore"
            matTooltip="Display a process bar with the achived utility and The
            corresponding payment.">
            Show Payment Score
          </mat-slide-toggle>

          <mat-form-field style="width: 200px" *ngIf="settingsForm.controls.showPaymentScore.value">
            <mat-label matTooltip="Payment for participation">
              Minimal Payment
            </mat-label>
            <input matInput type="number" formControlName="minPayment" />
          </mat-form-field>

          <mat-form-field style="width: 200px" *ngIf="settingsForm.controls.showPaymentScore.value">
            <mat-label matTooltip="Payment for achieving the maximal utility">
              Max Payment
            </mat-label>
            <input matInput type="number" formControlName="maxPayment" />
          </mat-form-field>

          <mat-form-field style="width: 200px" *ngIf="settingsForm.controls.showPaymentScore.value">
            <mat-label matTooltip="Different levels of payment, in fraction of the
              differents between the utiity of the global hard goals and the maximal possible utility.">
              Payment Steps
            </mat-label>
            <input matInput type="string" formControlName="paymentSteps" />
          </mat-form-field>
        </div> -->


  </form>
</div>
