<app-page>
  <app-breadcrumb>
    <a app-breadcrumb-item [routerLink]="['/project/' + (project$ | async)?._id]"><mat-icon>home</mat-icon></a>
    <app-breadcrumb-item>Settings</app-breadcrumb-item>
  </app-breadcrumb>
  <app-page-title>Settings</app-page-title>

  <app-page-content class="container">
    <app-settings
      [settings]="settings$ | async"
      [planners]="planners$ | async"
      [explainer]="explainer$ | async"
      [prompts]="prompts$ | async"
      [outputSchemas]="outputSchemas$ | async"
      (update)="onSaveSetting($event)">
    </app-settings>
    <!-- <app-property-template-creator
      [variablesTypes]="(model$ | async).types"
      [templates]="templates$ | async"
      (updatedTemplates)="onSaveTemplates($event)">
    </app-property-template-creator> -->
  </app-page-content>
</app-page>


