.main-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.header-container {
  width: 100%;
  height: 70px;
  background-color: cornflowerblue;
}

.goal-fact-container {
  width: 100%;
  height: 50% - 35px;
  overflow: scroll;
}

.plan-properties-container {
  width: 100%;
  height: 50% - 35px;
  overflow: scroll;
}
