
  <mat-card class="card-style" *ngIf="! hasPlan">
    <h1>This selection of hard goals is unsolvable!</h1>
  </mat-card>
  <mat-card class="card-style">
      <mat-card-header>
          <mat-card-title>Hard Goals</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngFor="let item of enforcedSatPlanProperties;last as last">
          <app-scalable-list icon="bookmark">
            <span> {{item.naturalLanguageDescription}} </span>
            <span *ngIf="(settingsService.getSelectedObject() | async).usePlanPropertyValues"> Utility: {{item.value}} </span>
          </app-scalable-list>
          <mat-divider [inset]="true" *ngIf="! last"></mat-divider>
        </ng-container>
      </mat-card-content>
  </mat-card>

  <mat-card class="card-style" *ngIf="hasPlan">
    <mat-card-header>
        <mat-card-title>Additionally satisfied Plan-Properties</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="addSatPlanProperties.length > 0">
        <ng-container *ngFor="let item of addSatPlanProperties;last as last">
          <app-scalable-list icon="bookmark">
            <span> {{item.naturalLanguageDescription}} </span>
            <span *ngIf="(settingsService.getSelectedObject() | async).usePlanPropertyValues"> Utility: {{item.value}} </span>
          </app-scalable-list>
          <mat-divider [inset]="true" *ngIf="! last"></mat-divider>
        </ng-container>
      </ng-container>
      <p *ngIf="addSatPlanProperties.length == 0">There are no additionally satisfied plan-properties.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-style" *ngIf="hasPlan && (settingsService.getSelectedObject() | async).usePlanPropertyValues">
    <mat-card-header>
      <mat-card-title>Overall Plan Utility: {{planValue}}</mat-card-title>
    </mat-card-header>
  </mat-card>

  <mat-card class="card-style" *ngIf="hasPlan">
    <mat-card-header>
        <mat-card-title>Not satisfied Plan-Properties</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="notSatPlanProperties.length > 0">
        <ng-container *ngFor="let item of notSatPlanProperties;last as last">
          <app-scalable-list icon="bookmark_border">
            <span> {{item.naturalLanguageDescription}} </span>
            <span *ngIf="(settingsService.getSelectedObject() | async).usePlanPropertyValues"> Utility: {{item.value}} </span>
          </app-scalable-list>
          <mat-divider [inset]="true" *ngIf="! last"></mat-divider>
        </ng-container>
      </ng-container>
      <p *ngIf="notSatPlanProperties.length == 0">All plan-properties are satisfied.</p>
    </mat-card-content>
  </mat-card>

