<div style="width: 100%;">
  <mat-card class="card-style">
      <mat-card-header>
          <mat-card-title>Hard Goals</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let item of enforcedSatPlanProperties;last as last">
            {{item.naturalLanguageDescription}}
            <mat-divider [inset]="true" *ngIf="! last"></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
  </mat-card>

  <mat-card class="card-style">
    <mat-card-header>
        <mat-card-title>Additionally satisfied Plan-Properties</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list *ngIf="addSatPlanProperties.length > 0">
        <mat-list-item *ngFor="let item of addSatPlanProperties">
          {{item.naturalLanguageDescription}}
          <mat-divider [inset]="true"></mat-divider>
        </mat-list-item>
      </mat-list>
      <p *ngIf="addSatPlanProperties.length == 0">There are no additionally satisfied plan-properties.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card-style">
    <mat-card-header>
        <mat-card-title>Not satisfied Plan-Properties</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list *ngIf="notSatPlanProperties.length > 0">
        <mat-list-item *ngFor="let item of notSatPlanProperties;last as last">
          {{item.naturalLanguageDescription}}
          <mat-divider [inset]="true" *ngIf="! last"></mat-divider>
        </mat-list-item>
      </mat-list>
      <p *ngIf="notSatPlanProperties.length == 0">All plan-properties are satisfied.</p>
    </mat-card-content>
  </mat-card>

</div>
