<div class="main-container">
  <div [class.control-container-web]="! isMobile" [class.control-container-mobile]="isMobile">
    <button mat-flat-button color="primary">Register</button>
    <button mat-flat-button color="primary" routerLink="/projects" routerLinkActive="active">Guest</button>
    <button mat-flat-button color="accent" routerLink="/demos" routerLinkActive="active">Demo</button>
    <button mat-flat-button >Info</button>
  </div>

  <img src="assets/logo_text.svg" class="logo-text">
</div>
