@use '../../../../../variables' as vars;

:host {
  padding: var(--spacing-200);

  width: 100%;
  min-width: 0;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);

  border-radius: var(--radius-100);
  @include vars.background-color(surface-container-high);
}

.list {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-200);
}
