<mat-horizontal-stepper [linear]="true" #stepper class="stepper" (selectionChange)="initNextStep()">
  <mat-step class="step" label="Select initial values" [editable]="false"
  [completed]="this.selectedInitialFacts.length > 0">
    <div class="main-container">
      <mat-form-field appearance="fill" style="width: 300px;" >
        <mat-label>Predicate</mat-label>
        <mat-select [(value)]="selctedPredicate" (selectionChange)="updateInitialFacts(selctedPredicate)">
          <mat-option *ngFor="let pred of task.predicates" [value]="pred">
            {{pred.toString()}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="bottom-container">
        <mat-card class="predicate-collection-card">
          <mat-chip-list class="mat-chip-list-stacked" cdkDropList
          [cdkDropListData]="initialFacts"
          #listOneInit="cdkDropList" [cdkDropListConnectedTo]="[listTwoInit]"
          (cdkDropListDropped)="drop($event)">
            <mat-chip *ngFor="let fact of initialFacts" [value]="fact" cdkDrag>{{fact.toString()}}</mat-chip>
          </mat-chip-list>
        </mat-card>

        <mat-card class="predicate-collection-card">
          <mat-chip-list class="mat-chip-list-stacked selected-list" cdkDropList
            [cdkDropListData]="selectedInitialFacts"
            #listTwoInit="cdkDropList" [cdkDropListConnectedTo]="[listOneInit]"
            (cdkDropListDropped)="drop($event);updateSelectedFacts($event)">
            <p>initial values:</p>
            <mat-chip class="selected-chip" *ngFor="let fact of selectedInitialFacts" [value]="fact" (removed)="removeInitFact(fact)">
              {{fact.toString()}}
              <button matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
          </mat-chip-list>
        </mat-card>
      </div>
      <button mat-stroked-button matStepperNext>Next</button>
    </div>
  </mat-step>


  <mat-step class="step" label="Define Relaxation Order">
    <div class="main-container">
      <mat-form-field appearance="fill" style="width: 300px;" >
        <mat-label>Predicate</mat-label>
        <mat-select [(value)]="selctedPredicate" (selectionChange)="updateFacts(selctedPredicate)">
          <mat-option *ngFor="let pred of task.predicates" [value]="pred">
            {{pred.toString()}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="bottom-container" cdkDropListGroup>
        <mat-card class="predicate-collection-card">
          <mat-chip-list class="mat-chip-list-stacked" cdkDropList
          [cdkDropListData]="possibleFacts"
          cdkDropList
          (cdkDropListDropped)="drop($event)">
            <mat-chip *ngFor="let update of possibleFacts" [value]="update" cdkDrag>{{update.fact.toString()}}</mat-chip>
          </mat-chip-list>
        </mat-card>

        <mat-card class="fact-lists-card">
          <div class="relaxation-container">
            <mat-card class="relax-card" *ngFor="let relax of relaxationSpace.taskUpdatList">
              <div class="fact-container">
                <mat-chip-list
                  class="mat-chip-list-stacked selected-list" cdkDropList
                  [cdkDropListData]="relax.newFacts"
                  cdkDropList
                  (cdkDropListDropped)="drop($event);updateSelectedFacts($event)">
                  <mat-chip class="selected-chip" color="accent">{{relax.orgFact.toString()}}</mat-chip>
                  <mat-divider [inset]="true"></mat-divider>
                  <mat-chip class="selected-chip" *ngFor="let update of relax.newFacts"
                    [value]="update" (removed)="deleteFactFromRelax(update, relax)" cdkDrag>
                    {{update.fact.toString()}}
                    <button matChipRemove>
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip>
                </mat-chip-list>
              </div>
            </mat-card>
          </div>
        </mat-card>
      </div>
      <button mat-stroked-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step class="step" label="Relaxation Values">
    <div class="main-container-values">
      <div *ngFor="let updates of relaxationSpace.taskUpdatList" class="relaxation-value-container">
      <table mat-table id="plan-property-collection-table" [dataSource]="updates.newFacts" class="value-table">

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>Utility</th>
          <td mat-cell *matCellDef="let update">
            <mat-form-field class="value-form-field">
              <input matInput type="number" value="{{update.value}}" (change)="$event ? updateValueChanged($event, update) : null" class="value-input">
            </mat-form-field>
          </td>
        </ng-container>

        <ng-container matColumnDef="fact">
          <th mat-header-cell *matHeaderCellDef> Fact </th>
          <td mat-cell *matCellDef="let update" #cellElement>
            {{update.fact.toString()}}
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="['fact', 'value']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['fact', 'value'];">
        </tr>

      </table>
      </div>
      <button mat-stroked-button matStepperNext>Next</button>
    </div>
  </mat-step>

  <mat-step class="step" label="Name">
    <form [formGroup]="relaxationForm">
      <mat-form-field appearance="fill" style="width: 300px;">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" type="text" formControlName="name">
      </mat-form-field>
    </form>
    <button mat-stroked-button (click)="onSave()">Save</button>
  </mat-step>
</mat-horizontal-stepper>
