@let userStudy = userStudy$ | async;

<app-page>
  <app-page-title>
    Informed Consent
  </app-page-title>
  <app-page-content>
    <app-page-section-list>
        <app-page-section>
          <app-page-section-title>
            Related Project
          </app-page-section-title>
          <app-page-section-content>
            {{ userStudy?.relatedProject }}
          </app-page-section-content>
        </app-page-section>
        <app-page-section>
          <app-page-section-title>
            Expectations
          </app-page-section-title>
          <app-page-section-content>
              {{ userStudy?.expectation }}
          </app-page-section-content>
        </app-page-section>
        <app-page-section>
          <app-page-section-title>
            Withdraw & Confidentiality
          </app-page-section-title>
          <app-page-section-content>
              {{ userStudy?.confidentiality }}
          </app-page-section-content>
        </app-page-section>
        <app-page-section>
          <app-page-section-title>
            Consent
          </app-page-section-title>
          <app-page-section-content>
            <div class="consent-box">
              <span class="highlight">I have read and understood the information above <br> I freely agree to participate in this research study.</span>
              <div>
                <button mat-flat-button (click)="onAccept(userStudy?._id)">Accept</button>
              </div>
            </div>
          </app-page-section-content>
        </app-page-section>
    </app-page-section-list>
  </app-page-content>
</app-page>
