<div class="container">
    <div class="buttons">
        <app-swap-configurator 
        [value]="maxSwaps()" 
        [disabled]="!allowModifications()"
        ></app-swap-configurator>
        <mat-slide-toggle 
            [checked]="keepRackEmpty()" 
            [disabled]="numEmptyRacks() == 0 || !allowModifications()">
                Keep at lest one rack empty
        </mat-slide-toggle>
    </div>
    <div class="buttons">
        <a mat-button [routerLink]="['../../flight-sections']">
            <mat-icon>chevron_left</mat-icon>
            Back
        </a>
        <button mat-flat-button (click)="onExplain()" [disabled]="hasExplanation()">
            <mat-icon>contact_support</mat-icon>
            Is solvable?
        </button>
    </div>
</div>