<div 
    [class.container]="!explanationRunning()"
    [class.container-running]="explanationRunning()"
    *transloco="let t">
    <div class="goals">             
        <div class="goal">
            <mat-icon>swap_vert</mat-icon>
            <span class="label">{{t('f.max_allowed_swaps')}}:</span>
            <span class="value">{{ maxSwaps() }}</span>
            @if(swapConflictMembers()?.length > 0){
                <div class="status error">
                    <mat-icon [inline]="true">warning</mat-icon>
                </div>
            }
        </div>

        <div class="goal">
            <mat-icon>shelves</mat-icon>
            <span class="label">{{t('f.keep_rack_empty')}}:</span>
            @if(numEmptyRacks() == 0){
                <span class="value">{{t('f.yes')}}</span>
            }
            @else{
                <span class="value">{{t('f.no')}}</span>
            }          
            @if(rackEmptyConflict()){
                <div class="status error">
                    <mat-icon [inline]="true">warning</mat-icon>
                </div>
            }
        </div>     
    </div>

    @if(explanationRunning()){
        <mat-progress-bar mode="indeterminate" class="progress"></mat-progress-bar>
    }

    <div class="buttons">
        <a mat-button [routerLink]="['../../../flight-sections']" [disabled]="explanationRunning()">
            <mat-icon>chevron_left</mat-icon>
            {{t('f.back')}}
        </a>
        @if(sectionPending()){
            @if(isSolvable()){
                <a mat-flat-button 
                    [routerLink]="['../../../flight-sections']"
                    (click)="onUseConfiguration()" 
                    [disabled]="explanationRunning()">
                    {{t('f.use_configuration')}} 
                </a>
                <a mat-button 
                    [routerLink]="['../../../configuration-update/' + section()?._id]"
                    (click)="onUpdateConfiguration()" 
                    [disabled]="explanationRunning()">
                    {{t('f.explore_new_configuration')}}
                </a>
            }
            @if(!isSolvable() && hasExplanation()){
                <a mat-button 
                    [routerLink]="['../../../flight-sections']"
                    (click)="onUseConfiguration()" 
                    [disabled]="explanationRunning()">
                    {{t('f.use_configuration')}}
                </a>
                <a mat-flat-button 
                    [routerLink]="['../../../configuration-update/' + section()?._id]"
                    (click)="onUpdateConfiguration()" 
                    [disabled]="explanationRunning()">
                    {{t('f.explore_new_configuration')}}
                </a>
            }

            @if(!hasExplanation()){
                <a mat-button 
                    [routerLink]="['../../../flight-sections']"
                    (click)="onUseConfiguration()" 
                    [disabled]="explanationRunning()">
                    {{t('f.use_configuration')}}
                </a>
                <a mat-button 
                    [routerLink]="['../../../configuration-update/' + section()?._id]"
                    (click)="onUpdateConfiguration()" 
                    [disabled]="explanationRunning()">
                    {{t('f.explore_new_configuration')}}
                </a>
            }

            <button mat-flat-button (click)="onExplain()" [disabled]="hasExplanation() || explanationRunning()">
                <mat-icon>contact_support</mat-icon>
                {{t('f.solvable')}} ?
            </button>
            
            
        }
    </div>
</div>