<div 
    [class.container]="!explanationRunning()"
    [class.container-running]="explanationRunning()"
    *transloco="let t">
    <div class="goals">             
        <app-swap-configurator 
            [value]="maxSwaps()" 
            [disabled]="disabled()"
        ></app-swap-configurator>
        @if(swapConflictMembers()?.length > 0){
            <mat-icon class="inConflict">warning</mat-icon>
        }
        <mat-slide-toggle 
            [checked]="keepRackEmpty()" 
            [disabled]="numEmptyRacks() == 0 || disabled()">
                {{t('f.one_rack_empty')}}
        </mat-slide-toggle>    
        @if(rackEmptyConflict()){
            <mat-icon class="inConflict">warning</mat-icon>
        }     
    </div>

    @if(explanationRunning()){
        <mat-progress-bar mode="indeterminate" class="progress"></mat-progress-bar>
    }

    <div class="buttons">
        <a mat-button [routerLink]="['../../../flight-sections']" [disabled]="explanationRunning()">
            <mat-icon>chevron_left</mat-icon>
            {{t('f.back')}}
        </a>
        @if(pending()){
            <button 
                mat-button (click)="onUpdateConfiguration()" [disabled]="explanationRunning()">
                {{t('f.update_configuration')}}
            </button>
            <button mat-flat-button (click)="onExplain()" [disabled]="hasExplanation() || explanationRunning()">
                <mat-icon>contact_support</mat-icon>
                {{t('f.solvable')}} ?
            </button>
        }
    </div>
</div>