@use "../../../../../../variables.scss" as vars;

.container-running {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing-300);
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-300);
    align-items: center;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-300);
    align-items: center;
    justify-content: end;
}

.goals {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-500);
    align-items: center;
    justify-content: start;
}

.inConflict {
    @include vars.color(on-error-container);
}

.progress{
    max-width: 100%;
}

.goal{
    display: flex;
    gap: var(--spacing-100);
}

.label{
    font-size: larger;
}

.value{
    font-weight: 500;
    font-size: larger;
}

.status {
  display: inline-grid;
  aspect-ratio: 1/1;
  align-items: center;

  border-radius: var(--radius-full);
  padding: var(--spacing-050);
}

.error{
    @include vars.background-color(error);
    @include vars.color(on-error);
}