@use "../../../../../../variables.scss" as vars;

.container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-300);
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-300);
    align-items: center;
}

.inConflict {
    @include vars.color(on-error-container);
}