@import "../../../../variables.scss";

.project-card-web {
  width: 20%;
  min-width: 300px;
  margin: 1%;
}

.project-card-mobile {
  width: 95%;
  margin: 5px auto;
}

.project-container-web {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  padding: 10px;
}

.project-container-mobile {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.add-button {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.header-container {
  box-sizing: border-box;
  width: 100%;
  padding: 0px 25px 0px 25px;
}

.cdk-overlay-pane {
  position: absolute;
}