<div class="main-container">

  <div class="action-container">
    <div class="iter-planning-buttons">
      <button mat-flat-button color="accent" (click)="newPlanRun()"
              [disabled]="(plannerService.isPlannerBusy() | async) || runsService.getNumRuns() >= (currentProjectService.getSelectedObject()| async).settings?.maxRuns">
        <mat-icon>create</mat-icon>
        New Plan
      </button>
      <mat-divider [inset]="true" [vertical]="true"></mat-divider>
      <button mat-flat-button color="accent" (click)="newQuestion();"
              *ngIf="(currentProjectService.getSelectedObject()| async).settings?.allowQuestions"
              [disabled]="! (selectedPlan?.status == runStatus.finished  || selectedPlan?.status === runStatus.noSolution)">
        <mat-icon>question_answer</mat-icon>
        Ask Question
      </button>
      <button mat-flat-button color="accent" (click)="globalExplanation();"
              *ngIf="(currentProjectService.getSelectedObject()| async).settings?.allowQuestions"
              [disabled]="! (selectedPlan?.status == runStatus.finished  || selectedPlan?.status === runStatus.noSolution)">
<!--        <mat-icon>question_answer</mat-icon>-->
        Show Incompatibilities Overview
      </button>
    </div>
    <mat-divider [inset]="true" [vertical]="true"></mat-divider>
    <div class="payment-container" *ngIf="(currentProjectService.getSelectedObject()| async).settings?.checkMaxUtility">
      <p style="font-size: large;">Utility: <span style="font-weight: bold;">{{maxAchievedUtility}}/{{maxUtility}}</span></p>
      <div class="bar-container" #barContainer>
        <mat-progress-bar mode="determinate" color="accent" [value]="progressValue * 100"
                          style="height: 20px; position: absolute;">
        </mat-progress-bar>
      </div>
      <p style="font-size: large;" *ngIf="payment > 0">
        Payment: {{payment | currency : 'GBP' : 'symbol' : '1.2-2'}}/{{maxPayment | currency : 'GBP' : 'symbol' : '1.2-2'}}
      </p>
    </div>
    <mat-divider [inset]="true" [vertical]="true"></mat-divider>
    <div style="margin: 5px"
         *ngIf="(currentProjectService.getSelectedObject()| async).settings?.allowQuestions"
        matTooltip="You have to compute at least 1 plan, take a look at the incompatibilities overview and ask 1 question before you can finish the intro task."
         [matTooltipDisabled]="!((currentProjectService.getSelectedObject()| async).settings?.introTask && (askedQuestions < 1 || computedPlans < 2))">
      <button mat-stroked-button  style="height: 100%"
              [disabled]="(currentProjectService.getSelectedObject()| async).settings?.introTask && (askedQuestions < 1 || usedGlobalExplanations < 1 || computedPlans < 2)"
              (click)="finishDemo()">
        <mat-icon>exit_to_app</mat-icon>
        Finish
      </button>
    </div>
    <div style="margin: 5px"
         *ngIf="! (currentProjectService.getSelectedObject()| async).settings?.allowQuestions"
         matTooltip="You have to compute at least 1 plan before you can finish the intro task."
         [matTooltipDisabled]="!((currentProjectService.getSelectedObject()| async).settings?.introTask && (computedPlans < 2))">
      <button mat-stroked-button  style="height: 100%"
              [disabled]="(currentProjectService.getSelectedObject()| async).settings?.introTask &&  computedPlans < 2"
              (click)="finishDemo()">
        <mat-icon>exit_to_app</mat-icon>
        Finish
      </button>
    </div>

    <button mat-stroked-button (click)="showDemoHelp()">
      <mat-icon>help</mat-icon>
      Help
    </button>
  </div>

  <div class="view-container">
    <app-planning-step-tree class="navigator"></app-planning-step-tree>

    <div class="bottom-container" [class.two-columns]="!computeNewPlan" [class.three-columns]="computeNewPlan">
      <div class="center-container">
  <!--      <app-plan-animation-view style="height: 100%;overflow: auto;"></app-plan-animation-view>-->
        <app-demo-task-info style="height: 100%;overflow: auto;"></app-demo-task-info>
      </div>

      <div class="divider"></div>

      <div class="center-container" [class.center-one-column]="! askQuestion" [class.center-two-columns]="askQuestion || showAnswer || showGlobalExplanation">
        <app-finished-planning-step *ngIf="selectedPlan" style="height: 100%;overflow: auto;"></app-finished-planning-step>

        <div *ngIf="! selectedPlan" class="spinner-container">
          <div>
            <h1>Computing plan ...</h1>
            <mat-spinner  diameter="200"></mat-spinner>
          </div>
        </div>

        <ng-container *ngIf="askQuestion && selectedPlan && !showGlobalExplanation">
          <div class="divider"></div>
          <div class="task-creator-container">
            <app-question-creator style="height: 100%;overflow: auto;" (finished)="questionCreatorClose($event)"></app-question-creator>
          </div>
        </ng-container>

        <ng-container *ngIf="showGlobalExplanation && selectedPlan && !askQuestion">
          <div class="divider"></div>
          <div class="task-creator-container">
            <app-global-explanation style="height: 100%; overflow: auto;" (finished)="globalExplanationClose()"></app-global-explanation>
          </div>
        </ng-container>

        <ng-container *ngIf="showAnswer && selectedPlan">
          <div class="divider"></div>
          <div class="task-creator-container">
            <app-question-view></app-question-view>
            <app-explanation-view style="height: 100%;overflow: auto;" (finished)="showAnswer = false"></app-explanation-view>
          </div>
        </ng-container>
      </div>

      <ng-container *ngIf="computeNewPlan">
        <div class="divider"></div>
        <div class="task-creator-container">
          <app-task-creator style="height: 100%;overflow: auto;" (finished)="taskCreatorClose($event)"></app-task-creator>
        </div>
      </ng-container>

    </div>
  </div>

</div>
