@import '../../../../variables.scss';

.main-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;
  //overflow: hidden;
}

.info-container {
  background-color: #5e5e5e;
  display: flex;
  align-items: center;
}


.action-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.action-container > button {
  margin: 5px;
}

.iter-planning-buttons {
  display: flex;
  flex-direction: row;
}

.iter-planning-buttons > button {
  margin: 5px;
}

.bottom-container {
  height: 100%;
  width: 100%;
  display: grid;
  overflow: auto;
}

.bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.two-columns {
  grid-template-columns: 1fr 5px 2fr;
}

.three-columns {
  grid-template-columns: 1fr 5px 2fr 5px 1fr;
}

.divider {
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  height: 95%;
  background-color: lightgray;
}


.task-creator-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: auto;
}

.spinner-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.center-container {
  display: grid;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.center-one-column{
  grid-template-columns: 1fr;
}

.center-two-columns{
  grid-template-columns: 1fr 5px 1fr;
}
