@import '../../../../variables.scss';

.main-container {
  display: grid;
  grid-template-rows: auto 180px 1fr;
}

.info-container {
  background-color: #5e5e5e;
  display: flex;
  align-items: center;
}

.router-outlet-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: auto;
}


.plan-question-container {
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240);
  display: flex;
  overflow-x: scroll;
}

.run-container {
  height: auto;
  margin: 10px 5px;
  display: flex;
  flex-direction: row;
  background-color: rgb(191, 191, 191);
}

.run-card {
  box-sizing: border-box;
  width: 150px;
  height: auto;
  margin: 10px 10px;
}

.question-card {
  width: 150px;
  height: auto;
  margin: 10px 10px;
}

.mat-card{
  display:flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content{
  flex-grow: 1;
  overflow: auto;
}

.mat-card-actions{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
}

.add-plan-button {
  margin: auto 10px;
  align-self: end;
}

.finish-demo-button {
  margin: auto 10px;
  align-self: end;
}
