
@if(state() !== null && state() !== undefined){
<div class="main-container">
    <div class="belugas">
        <app-beluga-flight
                [jigs]="incoming()"
                [jigTypes]="jigTypes()"
        ></app-beluga-flight>

        <app-beluga-flight
            [jigs]="outgoing()"
            [jigTypes]="jigTypes()"
            [incoming]="false"
            [schedule]="outgoingSchedule()"
        ></app-beluga-flight>
    </div>
    <div class="trailers">
        @for(elem of trailersBeluga(); track elem.trailer.name){
            <app-trailer [name]="elem.trailer.name" [size]="20 * 15">
                <app-jig
                    *ngIf="elem.jig"
                    [jig]="elem.jig"  
                    [jigType]="jigTypes()?.[elem.jig?.type]"
                    draggable="false"
                >
                </app-jig>
            </app-trailer>
        }
    </div>
    <div class="racks">
        @for(rack of racks(); track rack){
            <app-rack [name]="rack.name" [size]="rack.size" [occupied]="rack.occupied" [maintenance]="rack.maintenance">
                <app-jig
                    *ngFor="let jig of rack.jigs"
                    [jig]="jig"  
                    [jigType]="jigTypes()?.[jig?.type]"
                    draggable="false"
                >
                </app-jig>
            </app-rack>
        }
    </div>
    <div class="trailers">
        @for(elem of trailersFactory(); track elem.trailer.name){
            <app-trailer [name]="elem.trailer.name" [size]="20 * 15">
                <app-jig
                    *ngIf="elem.jig"
                    [jig]="elem.jig"  
                    [jigType]="jigTypes()?.[elem.jig?.type]"
                    draggable="false"
                >
                </app-jig>
            </app-trailer>
        }
    </div>
    <div class="hangars">
        @for(hangar of hangars(); track hangar){
            <app-hangar [name]="hangar.name">
                <app-jig
                    *ngIf="hangar.jig"
                    [jig]="hangar.jig"  
                    [jigType]="jigTypes()?.[hangar.jig?.type]"
                    unitSize="true"
                >
                </app-jig>
            </app-hangar>
        }
    </div>
    <div class="hangars">
        @for(pl of productionLines(); track pl;){
            <app-production-line 
                [line]="pl"
                [delivered]="productionLinesDelivered()?.[pl.name]"
            >
            </app-production-line>
        }
    </div>
</div>
    }
    @else{
        <div class="center">
            <p>
                Select a state!
            </p>
        </div>
    }

