
@if(state() !== null && state() !== undefined){
<div class="main-container">
    <div class="belugas">
        <app-beluga-flight
                [jigs]="incoming()"
                [jigTypes]="jigTypes()"
        ></app-beluga-flight>

        <app-beluga-flight
            [jigs]="outgoing()"
            [jigTypes]="jigTypes()"
            [incoming]="false"
            [schedule]="outgoingSchedule()"
        ></app-beluga-flight>
    </div>
    <div class="trailers">
        @for(trailer of trailersBeluga(); track trailer){
            <app-trailer [name]="trailer.name" size="30">
                @if(trailer.jig){
                    <app-jig
                        [jig]="trailer.jig"  
                        [jigType]="jigTypes()?.[trailer.jig?.type]"
                    >
                    </app-jig>
                }
            </app-trailer>
        }
    </div>
    <div class="racks">
        @for(rack of racks(); track rack){
            <app-rack [name]="rack.name" [size]="rack.size" occupied="-1000">
                @for(jig of rack.jigs; track jig.name){
                    <app-jig
                        [jig]="jig"  
                        [jigType]="jigTypes()?.[jig?.type]"
                    >
                    </app-jig>
                }
            </app-rack>
        }
    </div>
    <div class="trailers">
        @for(trailer of trailersFactory(); track trailer){
            <app-trailer [name]="trailer.name" size="30">
                @if(trailer.jig){
                    <app-jig
                        [jig]="trailer.jig"  
                        [jigType]="jigTypes()?.[trailer.jig?.type]"
                    >
                    </app-jig>
                }
            </app-trailer>
        }
    </div>
    <div class="hangars">
        @for(hangar of hangars(); track hangar){
            <app-hangar [name]="hangar.name">
                @if(hangar.jig){
                    <app-jig
                        [jig]="hangar.jig"  
                        [jigType]="jigTypes()?.[hangar.jig?.type]"
                    >
                    </app-jig>
                }
            </app-hangar>
        }
    </div>
    <div class="hangars">
        @for(pl of productionLines(); track pl;){
            <app-production-line 
                [line]="pl"
                [delivered]="productionLinesDelivered()?.[pl.name]"
            >
            </app-production-line>
        }
    </div>
</div>
    }
    @else{
        <div class="center">
            <p>
                Select a state!
            </p>
        </div>
    }

