@use '../../../../../../variables.scss' as vars;

.main-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr auto 1fr;
    gap: var(--spacing-300);

    overflow: auto;
    padding-block: var(--spacing-200);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.belugas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-200);
}

.trailers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-200);
    align-items: center;
}

.racks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-100);
}

.hangars {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-200);
    align-items: center;
}

.header{
  @include vars.typography(headline-small);
}

.column {
  padding: var(--spacing-200);
}

.column:nth-child(2n+1){
  @include vars.background-color(surface-container-low);
  border-radius: var(--radius-100);
}
