<mat-card class="settings-card">
  <mat-card-title>
    General Settings
  </mat-card-title>
  <mat-card-content *ngIf="settings">
    <form class="settings-form"
      [formGroup]="settingsForm"
      (ngSubmit)="onSave()">

      <div class="part">
        <h2>Features</h2>

        <mat-slide-toggle formControlName="allowQuestions"
          matTooltip="Allow the user to ask conflict explanations.">
          Provide Conflict Explanations
        </mat-slide-toggle>

        <mat-slide-toggle formControlName="globalExplanation" *ngIf="settingsForm.controls.allowQuestions.value"
          matTooltip="Global conflict explanation independent of the iteration step.">
          Global Explanation
        </mat-slide-toggle>

        <mat-label matTooltip="Interface used for providing explanations" *ngIf="settingsForm.controls.allowQuestions.value">
          Explanation Interface
        </mat-label>
        <mat-button-toggle-group  formControlName="explanationInterface" *ngIf="settingsForm.controls.allowQuestions.value">
          <mat-button-toggle [value]="ExplanationTypes.QUETSIONANSWER">Question/Answer</mat-button-toggle>
          <mat-button-toggle [value]="ExplanationTypes.MUGSVISU">MUGS Visualization</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-divider [inset]="true"></mat-divider>

        <mat-slide-toggle formControlName="useConstraints"
          matTooltip="Allow to define relaxations and enable the option of
          relaxation level selection when definiting the next iteration step.">
          Use relaxations
        </mat-slide-toggle>

        <mat-slide-toggle formControlName="provideRelaxationExplanations" *ngIf="settingsForm.controls.useConstraints.value"
          matTooltip="Provide the user with relaxation explanations while analysing
          the conflicts.">
          Provide Relaxation Explanations
        </mat-slide-toggle>

        <mat-slide-toggle formControlName="usePlanPropertyValues">
          Use utility for soft-goals
        </mat-slide-toggle>
      </div>
      <mat-divider></mat-divider>
      <div class="part">
        <h2>Automatic Computation</h2>

        <mat-slide-toggle formControlName="computePlanAutomatically"
          matTooltip="When a new iteration step is ceated, a plan is automatically computed.">
          Plans
        </mat-slide-toggle>

        <mat-slide-toggle formControlName="computeDependenciesAutomatically"
          matTooltip="When a new iteration step is created, the conflicts for
          all relaxation levels are automatically computed. For a demo this
          should be set to true.">
          Explanations
        </mat-slide-toggle>
      </div>
      <mat-divider *ngIf="!isProject"></mat-divider>
      <div class="part" *ngIf="!isProject">
        <h2>Demo</h2>

        <mat-slide-toggle formControlName="public"
          matTooltip="Makes the demo publicly available. Neets to be set to true, when the
          demo is used in a user study.">
          public
        </mat-slide-toggle>
      </div>
      <mat-divider *ngIf="!isProject"></mat-divider>
      <div class="part" *ngIf="!isProject">
        <h2>Features for User Study</h2>

        <mat-slide-toggle formControlName="introTask"
          matTooltip="If a demo is an intro task, additionall insturtcions are displayed.">
          Intro Task
        </mat-slide-toggle>

        <mat-form-field style="width: 200px">
          <mat-label>Maximal number of iteration steps</mat-label>
          <input matInput type="number" formControlName="maxRuns" />
        </mat-form-field>

        <!-- TODO -->
        <!-- <mat-slide-toggle formControlName="useTimer">
          Use Timer
        </mat-slide-toggle>

        <mat-slide-toggle formControlName="measureTime">
          Measure Time
        </mat-slide-toggle>

        <mat-form-field style="width: 200px">
          <mat-label>Max processing time (in min)</mat-label>
          <input matInput type="number" formControlName="maxTime" />
        </mat-form-field> -->

        <mat-slide-toggle formControlName="checkMaxUtility"
          matTooltip="The user is notified, when they reached the maximal possible utility.">
          Stop demo if max utility achieved
        </mat-slide-toggle>
        <mat-divider [inset]="true"></mat-divider>
        <div class="part">
          <h3>Payment Score</h3>

          <mat-slide-toggle formControlName="showPaymentScore"
            matTooltip="Display a process bar with the achived utility and The
            corresponding payment.">
            Show Payment Score
          </mat-slide-toggle>

          <mat-form-field style="width: 200px" *ngIf="settingsForm.controls.showPaymentScore.value">
            <mat-label matTooltip="Payment for participation">
              Minimal Payment
            </mat-label>
            <input matInput type="number" formControlName="minPayment" />
          </mat-form-field>

          <mat-form-field style="width: 200px" *ngIf="settingsForm.controls.showPaymentScore.value">
            <mat-label matTooltip="Payment for achieving the maximal utility">
              Max Payment
            </mat-label>
            <input matInput type="number" formControlName="maxPayment" />
          </mat-form-field>

          <mat-form-field style="width: 200px" *ngIf="settingsForm.controls.showPaymentScore.value">
            <mat-label matTooltip="Different levels of payment, in fraction of the
              differents between the utiity of the global hard goals and the maximal possible utility.">
              Payment Steps
            </mat-label>
            <input matInput type="string" formControlName="paymentSteps" />
          </mat-form-field>
        </div>

      </div>

      <div class="button-box">
        <button mat-flat-button color="accent" class="save-button">Save</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
