<mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <app-label
        [color]="demo()?.status | demoStatusColor">
            {{demo()?.status | demoStatusName}}
        </app-label>
      </mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <div class="content">
        <div class="stats">
            <mat-icon>flag_check</mat-icon>
            <span class="property-label">Goals:</span>
            <span class="property-value">{{ planProperties()?.length ?? '/'}}</span>
    
            <mat-icon>report</mat-icon>
            <span class="property-label">Conflicts:</span>
            <span class="property-value">{{ demo()?.globalExplanation?.MUGS.length }}</span>
    
            <mat-icon>healing</mat-icon>
            <span class="property-label">Corrections:</span>
            <span class="property-value">{{ demo()?.globalExplanation?.MGCS.length }}</span>
        </div>
  
        <div class="plan-link-container">
        </div>
  
        <div class="utility">
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  