<div class="action-container">
  <mat-card appearance="outlined" class="state-card" *ngIf="states_visible[0]">
    <mat-card-header>
      <mat-card-title>Initial State</mat-card-title>
    </mat-card-header>
    <mat-card-content class="state-card-content">
      <div class="state-list">
        <div class="fact"
          *ngFor="let item of state_trace_ex[0].facts"
          [class.precondition]="item.precon"
          [class.effect_pos]="item.effect_pos && !item.effect_neg"
          [class.effect_neg]="!item.effect_pos && item.effect_neg"
          [class.effect_neg_pos]="item.effect_pos && item.effect_neg"
        >
          {{ toString(item.fact) }}
      </div>
    </div>
    </mat-card-content>
  </mat-card>

  <ng-container *ngFor="let action of action_trace; let i = index">
    <mat-card appearance="outlined" class="action-card">
      <!-- <button mat-icon-button
        (click)="states_visible[i] = ! states_visible[i]">
        <mat-icon>list_alt</mat-icon>
      </button> -->
      <p class="action-name">{{ action.name }}</p>
      <!-- <button mat-icon-button
        (click)="states_visible[i+1] = ! states_visible[i+1]">
        <mat-icon>forward</mat-icon>
      </button> -->
    </mat-card>

    <mat-card
      appearance="outlined"
      class="state-card"
      *ngIf="i < (plan$ | async).actions.length - 1 && states_visible[i + 1]"
    >
      <!-- <mat-card-header>
        <mat-card-title>State {{i+1}}</mat-card-title>
      </mat-card-header> -->
      <mat-card-content class="state-card-content">
        <div class="state-list">
          <div class="fact"
            *ngFor="let item of state_trace_ex[i + 1].facts"
            [class.precondition]="item.precon"
            [class.effect_pos]="item.effect_pos && !item.effect_neg"
            [class.effect_neg]="!item.effect_pos && item.effect_neg"
            [class.effect_neg_pos]="item.effect_pos && item.effect_neg"
          >
            {{ toString(item.fact) }}
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <mat-card appearance="outlined" class="state-card" 
    *ngIf="states_visible[state_trace.length - 1]">
    <mat-card-header>
      <mat-card-title>Goal State</mat-card-title>
    </mat-card-header>
    <mat-card-content class="state-card-content">
      <div class="state-list">
        <div class="fact"
          *ngFor="let item of state_trace_ex[state_trace_ex.length - 1].facts"
          [class.precondition]="item.precon"
          [class.effect_pos]="item.effect_pos && !item.effect_neg"
          [class.effect_neg]="!item.effect_pos && item.effect_neg"
          [class.effect_neg_pos]="item.effect_pos && item.effect_neg"
        >
          {{ toString(item.fact) }}
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
