.action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.action-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.action-name {
  font-weight: bold;
  margin: 5px;
  margin-top: 10px;
  align-content: center;
}

.state-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 80%;
}
.state-card-content {
  overflow: visible;
}

.state-list {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.fact {
  border-style: solid;
  border-width: 1px;
  border-radius: 5pc;
  height: 50px;
  box-sizing: border-box;
  padding: 10px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.precondition {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(84, 149, 202);
}

.effect_pos {
  background-color: rgb(77, 187, 96);
}

.effect_neg {
  background-color: rgb(204, 101, 75);
}

.effect_neg_pos {
  background-color: rgb(236, 46, 157);
  // background: repeating-linear-gradient(
  //   45deg,
  //   #606dbc,
  //   #606dbc 10px,
  //   #465298 10px,
  //   #465298 20px
  // );
}
