<div class="main">
    <div class="controls">
        <app-step-control
            (back)="onBack()"
            (forward)="onForward()"
        ></app-step-control>
    </div>
    <div class="plan">
        <app-plan-action-list
            [actions]="actions()"
            [task]="task()"
            [selectedAction] = "selectedActionIndex()"
            (actionSelected)="onActionSelected($event)"
        ></app-plan-action-list>
    </div>
    <div class="state">
        <app-state-card
            [state]="selectedState()"
            [task]="task()"
        >
        </app-state-card>
    </div>
</div>