<div class="main-container">
    <app-score-view *ngIf="( settings$ | async).usePlanPropertyValues"
      class="sub-content"
      [step]="step$ | async">
    </app-score-view>
    <app-goals-list
      class="sub-content"
      [goalIds]="hardGoals$ | async"
      [settings]="settings$ | async"
      heading="Enforced Goals">
    </app-goals-list>
    <app-goal-list-highlighted
      class="sub-content"
      [baseGoals]="baseGoals$ | async"
      [goalIds]="satisfiedGoals$ | async"
      [highlighted]="enforcedGoals$ | async"
      [settings]="settings$ | async"
      heading="Satisfied Goals">
    </app-goal-list-highlighted>
</div>
