<div class="main-container">
    <app-score-view *ngIf="( settings$ | async).usePlanPropertyValues"
      class="sub-content"
      [step]="step$ | async">
    </app-score-view>
    <app-goals-list
      class="sub-content"
      [goalIds]="hardGoals$ | async"
      [settings]="settings$ | async"
      heading="Enforced Goals">
    </app-goals-list>
    <div class="action-container">
      <button *ngIf='!(hasPlan$ | async)' mat-stroked-button (click)="computePlan()">Compute plan</button>
    </div>
</div>
