@let step = step$ | async;

<app-page>
  <app-page-title>
    {{ step?.name }}
  </app-page-title>
  <app-page-content>

    <p>{{ preVideoText }}</p>

    <!-- Instructions video -->
    <div class="video-container">
      <iframe
        [src]="videoEmbedUrl | allowUrl"
        title="Embedded video"
        allowfullscreen
        loading="lazy"
        frameborder="0"
      ></iframe>
    </div>

    <p>{{ preComprehensionCheckText }}</p>

    <app-page-section-list>
      <app-page-section>
        <app-page-section-content>

          <!-- First attempt -- always visible -->
          <app-comprehension-check-form
            [title]="'First Attempt'"
            [form]="attemptForms[0]"
            [questions]="questions"
            [submitted]="submittedForm[0]"
            (submitForm)="submitAttempt()">
          </app-comprehension-check-form>

          <!-- Second attempt -- only visible if user fails first attempt -->
          <p *ngIf="currentAttempt >= 1"> {{ preSecondAttemptText }}</p>
          <app-comprehension-check-form
            *ngIf="currentAttempt >= 1"
            [title]="'Second Attempt'"
            [form]="attemptForms[1]"
            [questions]="questions"
            [submitted]="submittedForm[1]"
            (submitForm)="submitAttempt()">
          </app-comprehension-check-form>

          <!-- Show pass/fail -->
          <div *ngIf="passed">
            <p>You have <b>passed</b> the comprehension check. You can now continue with the study.</p>
          </div>
          <div *ngIf="!passed && currentAttempt > finalAttempt">
            <p>You have <b>failed</b> the comprehension check. Please return your submission through prolific. You may be reimbursed for your time spent so far.</p>
          </div>

        </app-page-section-content>
      </app-page-section>
    </app-page-section-list>


  </app-page-content>
</app-page>
