<div class="main-container">
  <ng-container *ngIf="! userRegistered">
    <mat-card class="card-style">
      <mat-card-header>
        <mat-card-title>Welcome to the Explainable AI User Study</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>TODO introduction text</p>

        <p>Describe what we will store.</p>
        <mat-radio-group [(ngModel)]="continue">
          <mat-radio-button [value]="true">I agree with this statements</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-flat-button color="primary" [disabled]='! continue' (click)="onAgree()">Next</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>

  <ng-container *ngIf="userRegistered && !(error || ! userStudyValid() || ! dateValid())">
    <mat-card class="card-style">
      <mat-card-header>
        <mat-card-title>Welcome to the Explainable AI User Study</mat-card-title>
      </mat-card-header>
      <mat-card-content class="center-style">
        <h1>Everything is ready, let's start.</h1>
        <button mat-flat-button color="primary" routerLink="../exec">START</button>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <ng-container *ngIf="userRegistered && (error || ! userStudyValid() || ! dateValid())">
    <mat-card class="card-style">
      <mat-card-header>
        <mat-card-title>Welcome to the Explainable AI User Study</mat-card-title>
      </mat-card-header>
      <mat-card-content class="center-style">
        <h1 *ngIf="error">{{error}}</h1>
        <h1 *ngIf="! error && ! userStudyValid()">You can not access this user study.</h1>
        <h1 *ngIf="! error && (userStudyValid() && ! dateValid())">You can no longer participate in this user study.</h1>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
