<mat-horizontal-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Domain</ng-template>
    <app-domain-selector></app-domain-selector>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Problem</ng-template>
    <app-problem-selector></app-problem-selector>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Properties</ng-template>
    <app-template-property-selecter></app-template-property-selecter>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Explanation</ng-template>

  </mat-step>
</mat-horizontal-stepper>



