<div>
  <h1>Demo Finished.</h1>
  <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
    <div *ngIf="timesUp" style="margin: 40px auto; display: flex; flex-direction: row; align-items: center;">
      <span class="material-icons" style="font-size: 50px; margin-bottom: 0px;">
        timer
      </span>
      <span style="font-size: xx-large;">Time's up!</span>
    </div>
  </div>
</div>
<div style="width: 100%; display: flex; flex-direction: row; justify-content: flex-end;">
  <button mat-flat-button color="primary"(click)="backToDemoOverview()">Back to Demo Overview</button>
</div>

