@let planProperties = planProperties$ | async;

<app-page>
  <app-breadcrumb>
    <a app-breadcrumb-item [routerLink]="['/project/' + (project$ | async)?._id]"><mat-icon>home</mat-icon></a>
    <app-breadcrumb-item>All Iterations</app-breadcrumb-item>
  </app-breadcrumb>
  <app-page-title>Plan Iterations</app-page-title>

  <app-page-content>
    <div class="page-grid">
      @for(step of steps$ | async; track step) {
        <app-iteration-step-card [step]="step" [planProperties]="planProperties" (fork)="createNewIteration(step._id)"></app-iteration-step-card>
      }

      <button app-action-card (click)="createNewIteration()">
        <div class="instructions">
          <span>Perform a new plan computation from scratch</span>
          <span class="alternative">or</span>
          <span> fork (<mat-icon>call_split</mat-icon>) an existing one.</span>
        </div>
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </app-page-content>
</app-page>
