<div class="main-container">
  <mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Task Introduction</mat-card-title>
  </mat-card-header>
  <mat-card-content>
        <div  style="height: 100%; width: 100%; display: flex; flex-direction: row;">
          <div style="height: 100%; width: 50%; display: flex; flex-direction: row; justify-content: center;">
            <img [src]="srcUrl + (demo$ | async).summaryImage" style="max-height: 100%; max-width: 100%">
          </div>
          <div style="height: 100%; width: 50%; display: flex; flex-direction: column;">

          <p>The following properties are available:</p>

          <mat-list>
            <mat-list-item *ngFor="let entry of (planPropertiesMap$ | async) | keyvalue;last as last">
              <mat-icon matListIcon>bookmark</mat-icon>
              <p matLine>{{entry.value.naturalLanguageDescription}}</p>
              <p matLine *ngIf="(settings$ | async).usePlanPropertyValues">Utility: {{entry.value.value}}</p>
              <mat-divider [inset]="true" *ngIf="! last"></mat-divider>
            </mat-list-item>
          </mat-list>
          </div>
        </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <div class="button-box">
      <button #startButton mat-flat-button color="accent" (click)="nextStep()" >Start</button>
    </div>
  </mat-card-actions>
</mat-card>
</div>
