<div class="main-container">
  <mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Task Introduction</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-horizontal-stepper #stepper [contentEditable]="true">
      <ng-template matStepperIcon="edit">
        <span class="material-icons">
          done
        </span>
      </ng-template>
      <ng-template matStepperIcon="done">
        <span class="material-icons">
          done
        </span>
      </ng-template>

      <mat-step label="Domain Info" >
        <div [innerHTML]="(demo$ | async).taskInfo | marked"></div>
      </mat-step>


      <mat-step label="Picture" >
      </mat-step>

      <mat-step label="Plan-Properties" >

        <p *ngIf="(settings$ | async).usePlanPropertyValues">
          Every plan-property has an utility, which indicates how much worth the plan-property is.
        </p>

        <p>The following properties are available:</p>

        <mat-list>
          <mat-list-item *ngFor="let entry of (planPropertiesMap$ | async) | keyvalue;last as last">
            <mat-icon matListIcon>bookmark</mat-icon>
            <p matLine>{{entry.value.naturalLanguageDescription}}</p>
            <p matLine *ngIf="(settings$ | async).usePlanPropertyValues">Utility: {{entry.value.value}}</p>
            <mat-divider [inset]="true" *ngIf="! last"></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-step>

    </mat-horizontal-stepper>

  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button (click)="goBack(stepper)">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button mat-icon-button (click)="goForward(stepper)">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
    <button mat-flat-button color="accent" (click)="nextStep()">Start</button>
  </mat-card-actions>
</mat-card>
</div>
