.main-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.main-card {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.main-card > mat-card-content {
  box-sizing: border-box;
  padding: 0;
}

.main-card > mat-card-actions {
  align-self: flex-end;
}

mat-step {
  display: flex;
  flex-direction: column;
}

.scroll-content {
  height: 100%;
  overflow-y: auto;
}

.button-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-end;
}

.button-box > * {
  margin: 0 10px;
}
