<div class="main-grid">
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of links"
       (click)="activeLink = link.ref"
       [active]="activeLink == link.ref"
       [routerLink]="link.ref" >
        {{link.name}}
    </a>
  </nav>
<!--<mat-toolbar color="#FFFFFF" style="height: 50px; min-height: 50px; background-color: #dfdfdf;">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <div style="display: flex; flex-direction: row;">
      <a mat-button [routerLink]="'./overview'" class="toolbar-button" routerLinkActive="mat-list-single-selected-option">
        <mat-icon>info</mat-icon>
        <span>Overview</span>
      </a>
      <a mat-button [routerLink]="'./properties'" class="toolbar-button" routerLinkActive="mat-list-single-selected-option">
        Plan-Properties
      </a>
      <a mat-button [routerLink]="'./iterative-planning'" class="toolbar-button"routerLinkActive="mat-list-single-selected-option">
        Iterative Planning
      </a>
    </div>
    <button mat-icon-button style="position: absolute; right: 50px;" [routerLink]="'./animation-settings'" routerLinkActive="mat-list-single-selected-option">
      <mat-icon>movie_creation</mat-icon>
    </button>
    <button mat-icon-button style="position: absolute; right: 10px;" (click)="openSettings()">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>-->
  <div style="height: 100%; width: 100%; overflow: auto">
    <router-outlet></router-outlet>
  </div>
</div>

