<mat-toolbar color="#FFFFFF" style="height: 56px; background-color: #dfdfdf;">
  <mat-toolbar-row>
    <span class="menu-spacer"></span>
    <div style="display: flex; flex-direction: row;">
      <!-- <h2>Project</h2> -->
      <a mat-button [routerLink]="'./overview'" class="toolbar-button" routerLinkActive="mat-list-single-selected-option">
        <mat-icon>info</mat-icon>
      </a>
      <a mat-button [routerLink]="'./properties'" class="toolbar-button" routerLinkActive="mat-list-single-selected-option"> Properties </a>
      <a mat-button [routerLink]="'./iterative-planning/run-overview-mobile'" class="toolbar-button"routerLinkActive="mat-list-single-selected-option">     Iterative Planning
      </a>
    </div>
    <button mat-icon-button style="position: absolute; right: 10px;" (click)="openSettings()">
      <mat-icon>settings</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div style="height: calc(100vh - 130px);">
  <router-outlet></router-outlet>
</div>


