<app-spec-card>
    <mat-icon>{{ icon() }}</mat-icon>
    <app-spec-card-title>
        {{ service()?.name }}
    </app-spec-card-title>

    <app-spec-card-sub-title>
        <span>{{ service()?.url }}</span><span>{{ apiKey() }}</span>
    </app-spec-card-sub-title>

    <app-spec-card-feature>{{ service()?.type }}</app-spec-card-feature>
    <app-spec-card-feature>{{ service()?.encoding }}</app-spec-card-feature>
    @if(service()?.domainId){
        <app-spec-card-feature>{{ domainName() }}</app-spec-card-feature>
    }
</app-spec-card>