.container {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flexbox;
  flex-direction: column;
}

.container > mat-card {
  margin: 10px auto;
}

.overview-card {
  margin: 10px auto;
}

.action-list {
  display: flex;
  flex-direction: column;
}

.action-list > button {
  margin: 5px auto;
  width: 100%;
}