<div class="container">

  <mat-card appearance="outlined">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>info</mat-icon>
      </div>
      <mat-card-title>{{ (project$ | async)?.name }}</mat-card-title>
      <mat-card-subtitle>Project</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      {{ (project$ | async)?.description }}
    </mat-card-content>
  </mat-card>

  <div class="actions-container">

    <app-project-action-card>
      <span action-title>Iterative Planning</span>
      <span action-description>
        Explore the plan space with sample plans and explanations.
      </span>
      <a mat-flat-button [routerLink]="['/iterative-planning', (project$ | async)?._id]" action-button>
        Start
      </a>
    </app-project-action-card>

    <app-project-action-card>
      <span action-title>Demo</span>
      <span action-description>
        Fix a selection of properties and precompute all MUS/MCS.
      </span>
      <button mat-flat-button (click)="createDemo()" action-button>
        Create
      </button>
    </app-project-action-card>

    <app-project-action-card>
      <span action-title>Delete Project</span>
      <span action-description>
        Delete the project and all connected data.
      </span>
      <button mat-flat-button (click)="deleteProject()" action-button>
        Delete
      </button>
    </app-project-action-card>

  </div>

</div>

