<app-rack
  [name]="name()"
  [size]="rack()?.size"
  [occupied]="[occupied()]"
  [dragTarget]="(isDragTarget$ | async) && (dragInProgress$ | async)"
  [noDragTarget]="!(isDragTarget$ | async) && (dragInProgress$ | async)"
  >
  <app-drop-target
    cdkDropList
    [cdkDropListData]="rack()?.jigs"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListEnterPredicate]="fits"
    >
    @for (jig of rack()?.jigs; track jig; let idx = $index) {
      <ng-container ngProjectAs="app-jig">
        @if (idx === 0 || idx === rack()?.jigs.length - 1) {
          <app-jig
            [jig]="jig"
            [jigType]="jigTypes()?.[jig?.type]"
            [animate]="true"
            [cdkDragData]="jig"
            [draggable]="true"
            cdkDrag
            (cdkDragStarted)="onStartDrag(jig, getSides(idx))"
            (cdkDragDropped)="onCancelDrag($event)"
            cdkDragBoundary=".beluga-boundary"
            >
          </app-jig>
        }
        @if (!(idx === 0 || idx === rack()?.jigs.length - 1)) {
          <app-jig
            [jig]="jig"
            [animate]="true"
            [jigType]="jigTypes()?.[jig?.type]"
            >
          </app-jig>
        }
      </ng-container>
    }
  </app-drop-target>
</app-rack>
