<base href="/" />

<div class="main-container">
  <mat-toolbar color="secondary" class="main-toolbar">
    @if(!(isUserStudy$ | async)){
      <button mat-icon-button (click)="sideNav.toggle()" [disabled]="!(isLoggedIn$ | async)">
        <mat-icon>menu</mat-icon>
      </button>
    }
    <mat-icon>connecting_airports</mat-icon>
    <!-- <img style="height: 60%; margin: auto 10px" src="assets/iter_logo.svg" /> -->
    <h1 style="font-weight: bold;">Beluga </h1> <h1> System</h1>
    <span style="flex: 1 1 auto"></span>
    @if(!(isUserStudy$ | async)){
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>account_circle</mat-icon>
      </button>
    }
  </mat-toolbar>

  <mat-menu #userMenu="matMenu">
    @if (!(isLoggedIn$ | async)) {
      <button mat-menu-item
        (click)="newLoginForm()">
        <mat-icon>login</mat-icon>
        Login
      </button>
    }
    @if (isLoggedIn$ | async) {
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    }
    <button mat-menu-item [matMenuTriggerFor]="languageMenu">
      <mat-icon>language</mat-icon>
      Language
    </button>
  </mat-menu>

  <mat-menu #languageMenu="matMenu"  xPosition="before">
    <button mat-menu-item (click)="setLanguage('en')">English</button>
    <button mat-menu-item (click)="setLanguage('de')">German</button>
  </mat-menu>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sideNav
      [mode]="'side'"
      fixedTopGap="56"
      style="width: 200px">
      <mat-nav-list *transloco="let t">
        <a
          mat-list-item
          routerLink="./projects"
          routerLinkActive="mat-list-single-selected-option"
          (click)="sideNav.toggle()">
          <span class="entry">
            <mat-icon>connecting_airports</mat-icon>
            <span>Projects</span>
          </span>
        </a>
        <a
          mat-list-item
          routerLink="/projects"
          routerLinkActive="mat-list-single-selected-option"
          (click)="sideNav.toggle()">
          <span class="entry">
            <mat-icon>replay</mat-icon>
            <span>IPECXO</span>
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
