
  <mat-card class="card-style">
    <mat-card-header>
      <mat-card-title>New Plan</mat-card-title>
      <button mat-icon-button (click)="abortWithoutPlan()" style="position: absolute; top: 5px; right: 5px">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>

    <mat-card-content>
      <div class="header-container">
        <h1 style="margin: 20px 20px;">Global hard-goals: </h1>
      </div>
      <ng-container *ngIf="hasGlobalHardGoals">
        <ng-container *ngFor="let item of planProperties">
          <app-scalable-list *ngIf="item.globalHardGoal">
            <span> {{item.naturalLanguageDescription}} </span>
            <span *ngIf="(settingsService.getSelectedObject() | async).usePlanPropertyValues"> Utility: {{item.value}} </span>
          </app-scalable-list>
        </ng-container>
      </ng-container>
      <h2 *ngIf="! hasGlobalHardGoals" style="margin-left: 30px;">There are no global hard-goals.</h2>

      <div class="header-container">
        <h1 style="margin: 20px 20px;">Select additional hard goals: </h1>
      </div>
      <mat-selection-list [(ngModel)]="selectedGoalFacts" (selectionChange)="checkComplete()">
        <ng-container *ngFor="let item of planProperties">
          <mat-list-option *ngIf="! item.globalHardGoal" [value]=item checkboxPosition="before"
                           style="box-sizing: border-box; height:auto; padding: 10px;">
            <p> {{item.naturalLanguageDescription}} </p>
            <p *ngIf="(settingsService.getSelectedObject() | async).usePlanPropertyValues"> Utility: {{item.value}} </p>
          </mat-list-option>
        </ng-container>
      </mat-selection-list>
    </mat-card-content>
    <mat-card-actions [align]="'end'">
      <button mat-flat-button color="accent" class="add-button" (click)="computePlan()" [disabled]="! completed">
        Compute Plan
      </button>
    </mat-card-actions>
  </mat-card>

