<div class="tab-container">
  <mat-tab-group style="height: 100%;" 
    (selectedTabChange)="setTab($event.index)"
    [selectedIndex]="showTab$ | async">
    <mat-tab> 
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">home</mat-icon>
        Overview
      </ng-template>
      <app-iteration-step-overview class="content-container"></app-iteration-step-overview>
    </mat-tab>

    <mat-tab *ngIf="(step$ | async)?.plan"> 
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">sort</mat-icon>
        Plan
      </ng-template>
      <app-plan-view  class="content-container"></app-plan-view>
    </mat-tab>

    <mat-tab *ngIf="(step$ | async)?.plan"> 
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">sort</mat-icon>
        Advanced Plan
      </ng-template>
      <app-interactive-plan-view  class="content-container"></app-interactive-plan-view>
    </mat-tab>

    <mat-tab *ngIf="(settings$ | async).allowQuestions && ((settings$ | async).explanationInterface) === ExplanationType.QUETSIONANSWER.toString()"> 
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">error</mat-icon>
        Explanations
      </ng-template>
      <app-explanations-view  class="content-container" ></app-explanations-view>
    </mat-tab>

    <mat-tab *ngIf="(settings$ | async).allowQuestions && (settings$ | async).explanationInterface === ExplanationType.MUGSVISU.toString()"> 
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">error</mat-icon>
        Explanations
      </ng-template>
      <app-conflict-visu-container  class="content-container"></app-conflict-visu-container>
    </mat-tab>

  </mat-tab-group>
</div>
