<div 
    class="container"
>
    @if(!isUsed()){
        <button mat-icon-button (click)="onUnlock()" [disabled]="! allowModifications()">
            <mat-icon>lock_open</mat-icon>
        </button>
    }
    @else{
        <button mat-icon-button (click)="onLock()" [disabled]="isLoaded() || ! allowModifications()">
            <mat-icon>lock</mat-icon>
        </button>
    }
    <app-rack 
        [name]="rack().name" 
        [size]="rack().size" 
        [occupied]="occupied()"
        [maintenance]="!isUsed()"
    >
        @for(jig of rack().jigs; track jig.name){
            <app-jig
                [jig]="jig"  
                [jigType]="jigTypes()?.[jig?.type]"
                [incomingFlight]="incomingFlightJigMap()?.[jig.name] ?? null"
                draggable="false"
            >
            </app-jig>
        }
    </app-rack>
</div>
