@let plannerMap = plannersMap$ | async;

<app-page>
  <app-breadcrumb>
    <a app-breadcrumb-item [routerLink]="['/project/' + (project$ | async)?._id]"><mat-icon>home</mat-icon></a>
    <app-breadcrumb-item>All Plans</app-breadcrumb-item>
  </app-breadcrumb>
  <app-page-title>
    
    Plans

    <app-page-title-action>
      <button mat-icon-button (click)="onCompare()">
        <mat-icon>compare</mat-icon>
      </button>
    </app-page-title-action>
  </app-page-title>

  <app-page-content>
    <app-page-section-list>
      
      <app-page-section>
        <app-page-section-content>
          <div class="page-grid">
            @for(plan of plans$ | async; track plan) {
              <app-plan-card
                [plan]="plan"
                [planner]="plannerMap?.[plan.planner]"
                (cancel)="onCancel(plan._id)"
              >
              </app-plan-card>
            }

            <button app-action-card (click)="onNewPlannerCall()">
              <div class="instructions">
                <span>Compute a new plan.</span>
              </div>
              <mat-icon>add</mat-icon>
            </button>

          </div>
        </app-page-section-content>
      </app-page-section> 

    </app-page-section-list>
  </app-page-content>
</app-page>
