.breadcrumb-container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-050);


  &::ng-deep > :last-child {
    opacity: 0.6;
  }

  &::ng-deep > :not(:last-child) {
    &::after {
      content: 'chevron_right';
      font-family: 'Material Icons Outlined';
      font-size: 18px;
    }
  }
}
