<div
  class="action-container"
  (mouseenter)="onEnter()"
  (mouseleave)="onLeave()"
  [class.highlight]="highlight()"
  [class.selected]="select()" (click)="onSelect()"
>
  <div class="location-container">
    <div class="location-header">
      <div class="move-icon">
        @if (moveIconLocation() === "left") {
          <mat-icon [inline]="true" class="inline-icon">{{ actionMoveIcon() }}</mat-icon>
        }
      </div>

        <div class="location-icon" [style.background-color]="actionColor.get(action()?.name)">
          <mat-icon [inline]="true" class="inline-icon">
            {{ actionLocationIcon() }}
          </mat-icon>
        </div>


      <div class="move-icon">
        @if (moveIconLocation() === "right") {
          <mat-icon [inline]="true" class="inline-icon">{{ actionMoveIcon() }}</mat-icon>
        }
      </div>
    </div>

    <span>
      {{ locationName() }}
    </span>
  </div>

  <div class="jig-container">
    {{ jigName() }}
  </div>
</div>
