<app-trailer 
    [name]="trailer()?.name"
    [size]="displaySize()"
    [dragTarget]="(isDragTarget$ | async) && (dragInProgress$ | async)"
    [noDragTarget]="!(isDragTarget$ | async) && (dragInProgress$ | async)"
>
    <button
        *ngIf="side() =='bside'" 
        id="bside" mat-icon-button (click)="load()" [disabled]="!canLoad()">
        <mat-icon>arrow_backward</mat-icon>
    </button>
    <app-drop-target
        cdkDropList 
        [cdkDropListData]="[jig()]" 
        (cdkDropListDropped)="drop($event)"
        [cdkDropListEnterPredicate]="empty"
    >
        <app-jig 
            *ngIf="jig() != null"
            [jig]="jig()" 
            [jigType]="jigType()"
            [draggable]="true"
            cdkDrag
            [cdkDragData]="jig()"
            (cdkDragStarted)="onStartDrag()"
            (cdkDragDropped)="onCancelDrag($event)"
            cdkDragBoundary=".beluga-boundary"
        >
        </app-jig>   
    </app-drop-target>
    <button 
        *ngIf="side() =='fside'"
        id="fside" mat-icon-button (click)="toHangar()" [disabled]="!(canDeliver$ | async)">
        <mat-icon>arrow_forward</mat-icon>
    </button>

</app-trailer>


