<app-chat [isSenderTyping]="isAnyLoading$ | async">
  <app-chat-message [role]="'sender'">{{ "Hi! I'm here to help you to understand this planning task. You can ask me any question." }}</app-chat-message>
  @for(message of messages$ | async; track message) {
  <app-chat-markdown-message [role]="message.role">{{ message.content }}</app-chat-markdown-message>
  }
  @if((messages$ | async)?.length > 1){
  <ng-container app-chat-action>
    <div class="button-group">
      <button app-chat-action (click)="onEraseHistory()">Erase history</button>
    </div>
  </ng-container>
  }
  <app-chat-input (userInput)="onUserMessage($event)"></app-chat-input>
</app-chat>