<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Relaxations</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <ng-container *ngIf="(selectedUpdates$ | async).length > 0">
      <div *ngFor="let dim of (selectedUpdates$ | async)" class="relax-space">
        <p class="name">{{dim.name}}</p>
        <div class="list-container">
          <div *ngFor="let update of dim.dimensions">
            <p style="font-weight: 700;">{{update.name}}</p>
            <app-object-progress-bar class="slider" [values]="update.possibleValues" [selected]="update.selected"></app-object-progress-bar>
          </div>
        </div>
      </div>
    </ng-container>
    <div *ngIf="(selectedUpdates$ | async).length == 0">
      <p>There are no relaxations available.</p>
    </div>
  </mat-card-content>
</mat-card>
