<div class="main-container">
  <!-- <button mat-flat-button (click)="viewpos = 1">Select other preference</button> -->
  <button mat-flat-button (click)="computeExplanations()"
  color="primary" style="position: absolute; left: 80%; top: 80%">Compute Explanations</button>
  <ng-container *ngIf="(displayExplanations$ | async)">
    <div class="slide-container"
      [class.slide-pos-one]="viewpos == 1"
      [class.slide-pos-two]="viewpos == 2">
      <div class="middle-container">
        <app-explanations-select-preference-view [step]="(step$ | async)" (selectedPP)="selectQuestion($event)"></app-explanations-select-preference-view>
      </div>
      <div class="middle-container">
        <app-conflict-view [explanation]="(selectedDependencies$ | async)" [question]="(questions$ |async)" (selectedConflict)="selectConflict($event)"></app-conflict-view>
      </div>
      <div class="middle-container">
        <app-explanations-relaxations-view [step]="(step$ | async)" [conflict]="selectedConflict$ | async"></app-explanations-relaxations-view>
      </div>
    </div>
    <button mat-raised-button
      color="primary"
      *ngIf="viewpos == 2"
      (click)="viewpos = 1"
      style="position: absolute; left: 92%; top: 92%">
      Ask other Question
    </button>
    <!-- <button mat-flat-button (click)="viewpos = 2" style="position: absolute; left: 95%; top: 90%">right</button> -->
  </ng-container>

  <div class="compute-container"
    *ngIf="! (plannerBusy$ | async) && ! (displayExplanations$ | async)">
    <button mat-flat-button (click)="computeExplanations()" color="primary">Compute Explanations</button>
  </div>

  <div class="compute-container"
    *ngIf="(plannerBusy$ | async) && ! (displayExplanations$ | async)">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>

</div>
