.main-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-container {
  box-sizing: border-box;
  width: 150%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
  animation-duration: 3s;
}

.slide-pos-one {
  left: 0;
}

.slide-pos-two {
  left: -50%;
}

.middle-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: auto;
}

.selec-one {
  grid-area: left;
}

.select-two {
  visibility: hidden;
}

.conf-one {
  grid-area: right;
}

.conf-two {
  grid-area: left;
}

.relax-one {
  visibility: hidden;
}

.relax-two {
  grid-area: right;
}

.compute-container {
  padding: 50px;
}
