.example-form {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}

.example-full-width {
  width: 100%;
}

.flex-container {
  display: inline-flex;
}

.main-card-mobile {
  width: 95%;
  margin: 2.5% auto;
}
