<mat-card [class.main-card-mobile]="isMobile" >

  <mat-card-actions>
    <form class="example-form" [formGroup]="fileForm" (ngSubmit)="onSubmit()">
      <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
      <input hidden (change)="onUploadFileSelected()" #fileInput type="file" id="file{{type}}">

      <mat-form-field class="example-full-width">
        <mat-label>name</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>domain</mat-label>
        <input matInput type="text" formControlName="domain">
      </mat-form-field>

      <button mat-raised-button type="submit" [disabled]="!fileForm.valid">
        <mat-icon>file_upload</mat-icon>Upload
      </button>
    </form>
  </mat-card-actions>

  <mat-card-content>
    <mat-list #selected>
      <mat-list-item *ngFor="let file of files$ | async">
        <div class="flex-container">
          <mat-icon mat-list-icon style="flex-grow: 1">insert_drive_file</mat-icon>
          <div style="flex-grow: 5">
            <div mat-line>{{file.name}}</div>
            <div mat-line> {{file.domain}} </div>
          </div>
          <button mat-icon-button style="flex-grow: 1" (click)="deleteFile(file)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </mat-list>

  </mat-card-content>
</mat-card>


