.main-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr;
}

.basic-card {

}
