<div class="main-container">
<h2 *ngIf="!update">New Demo</h2>
<h2 *ngIf="update">Update Demo</h2>
<form
  class="form"
  [formGroup]="demoForm"
  (ngSubmit)="createOrUpdateDemo()">

  <mat-tab-group>

  <mat-tab label="Main">
  <div class="tab-content">

    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Demo Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
  </div>
  </mat-tab>

  <mat-tab label="Task Description" class="tab">
    <div class="tab-content">
      <mat-tab-group>
        <mat-tab label="Info">
          <mat-form-field class="example-full-width">
            <textarea
              matInput
              formControlName="taskInfo"
              [(ngModel)]="taskInfo"
            ></textarea>
          </mat-form-field>
        </mat-tab>
        <mat-tab label="Preview">
          <div [innerHTML]="taskInfo | marked"></div>
        </mat-tab>
      </mat-tab-group>
    </div>

  </mat-tab>

  <mat-tab label="Task Image" class="tab">
    <div style="display: flex; flex-direction: column;" class="tab-content">
      <img
        *ngIf="demo && demo.summaryImage"
        matCardImage
        [src]="srcUrl + demo.summaryImage"
        style="max-width: 300px; height: auto; align-self: center"/>

      <input
        style="display: none"
        type="file"
        (change)="onFileChanged($event); imageSelected=true;"
        #fileInput
      />
      <button mat-icon-button (click)="fileInput.click()" type="button" style="margin-top: 20px">
        <mat-icon>add_photo_alternate</mat-icon>
      </button>
      <p style="margin: 0; align-self: center">{{ imageFileName }}</p>
    </div>
  </mat-tab>

  <!-- <mat-tab *ngIf="!update" label="Precomputed Demo" class="tab">
    <div class="tab-content">

      <mat-slide-toggle
        formControlName="precomputeToggle"
        [(ngModel)]="precomputedData">
        Add precomputed data
      </mat-slide-toggle>

      <ng-container *ngIf="precomputedData">
        <mat-form-field class="example-full-width">
          <mat-label>Demo Data</mat-label>
          <textarea
            matInput
            formControlName="demoData"
            [(ngModel)]="demoData"
          ></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Max Utility Data</mat-label>
          <textarea
            matInput
            formControlName="maxUtilityData"
            [(ngModel)]="maxUtilityData"
          ></textarea>
        </mat-form-field>
      </ng-container>
    </div>
  </mat-tab> -->

  <mat-tab label="Plan Properties" class="tab" *ngIf="update">
    <app-property-collection modOnlyVisualization="true"></app-property-collection>
  </mat-tab>

  </mat-tab-group>

  <div style="display: flex">
    <button
      mat-flat-button
      color="secondray"
      type="button"
      (click)="onBack()"
      style="flex-grow: 1"
    >
      <mat-icon> keyboard_backspace </mat-icon>
    </button>
    <button
      mat-flat-button
      color="primary"
      style="flex-grow: 4; margin-left: 10px"
    >
      Save
    </button>
  </div>

</form>
</div>
