<div class="main-container">
<h2>New Demo</h2>
<form
  class="form"
  [formGroup]="demoForm"
  (ngSubmit)="createOrUpdateDemo()">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <div>
    <mat-tab-group>
      <mat-tab label="Info">
        <mat-form-field class="example-full-width">
          <textarea
            matInput
            formControlName="taskInfo"
            [(ngModel)]="taskInfo"
          ></textarea>
        </mat-form-field>
      </mat-tab>
      <mat-tab label="Preview">
        <div [innerHTML]="taskInfo | marked"></div>
      </mat-tab>
    </mat-tab-group>
  </div>

  <div style="display: flex">
    <input
      style="display: none"
      type="file"
      (change)="onFileChanged($event); imageSelected=true;"
      #fileInput
    />
    <button mat-icon-button (click)="fileInput.click()" type="button">
      <mat-icon>add_photo_alternate</mat-icon>
    </button>
    <p style="margin: 0; align-self: center">{{ imageFileName }}</p>
  </div>

  <div>
    <mat-slide-toggle
      formControlName="precomputeToggle"
      [(ngModel)]="precomputedData">
      Add precomputed data
    </mat-slide-toggle>

    <ng-container *ngIf="precomputedData">
      <mat-form-field class="example-full-width">
        <mat-label>Demo Data</mat-label>
        <textarea
          matInput
          formControlName="demoData"
          [(ngModel)]="demoData"
        ></textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Max Utility Data</mat-label>
        <textarea
          matInput
          formControlName="maxUtilityData"
          [(ngModel)]="maxUtilityData"
        ></textarea>
      </mat-form-field>
    </ng-container>
  </div>

  <div style="display: flex">
    <button
      mat-flat-button
      color="secondray"
      type="button"
      (click)="onBack()"
      style="flex-grow: 1"
    >
      <mat-icon> keyboard_backspace </mat-icon>
    </button>
    <button
      mat-flat-button
      color="primary"
      style="flex-grow: 4; margin-left: 10px"
    >
      Save
    </button>
  </div>
</form>
</div>
