<h2>New Demo</h2>
<form class="example-form" [formGroup]="demoForm" (ngSubmit)="createDemo()" style="display: flex; flex-direction: column">

  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <div style="display: flex;">
    <input
    style="display: none"
    type="file" (change)="onFileChanged($event)"
    #fileInput>
    <button mat-icon-button (click)="fileInput.click()" type=button>
      <mat-icon>add_photo_alternate</mat-icon>
    </button>
    <p style="margin: 0; align-self: center;">{{imageFileName}}</p>
  </div>

  <div style="display: flex">
    <button mat-flat-button color="secondray" type=button (click)="onBack()" style="flex-grow: 1">
      <mat-icon>
        keyboard_backspace
      </mat-icon>
    </button>
    <button mat-flat-button color="primary" style="flex-grow: 4; margin-left: 10px">Save</button>
  </div>
</form>

