.size-group > * {
  margin-left: 15px;
}

.example-full-width {
  width: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

textarea {
  min-height: 100px;
}

.tab-content {
  margin: 20px;
}
