.visualization_matrix{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visualization_matrix_table{
  border-collapse: collapse;
  text-align: center;
}

.visualization_matrix_table th, .visualization_matrix_table td{
  border: 1px solid #ddd;
  padding: 8px;
}
