@let step = step$ | async;

@if (step && stepStatusType != PlanRunStatus.running && stepStatusType != PlanRunStatus.pending && stepStatusType != PlanRunStatus.failed)
{
  <app-page>
    <app-page-content>
      <app-page-section>
        <app-page-section-content>
          <div [id]="containerHeaderId" class="svg-container"></div>
        </app-page-section-content>
      </app-page-section>
      <br/>
      <br/>
      <app-page-section>
        <app-page-section-content>
          <app-page-section-title>{{ containerGoalInteractionSectionTest }}</app-page-section-title>
        </app-page-section-content>
        <app-page-section-content style="display: flex; flex-wrap: wrap; gap: 10px;">
          @for (property of selectedPlanProperties; track property._id;)
          {
            <app-editable-list-entry>
                <app-plan-property-badge [property]="property" class="badge-item"></app-plan-property-badge>
                <app-editable-list-entry-suffix>
                  @if (stepStatusType != PlanRunStatus.not_solvable && length > 0){
                    <mat-icon
                      [ngStyle]="{
                        color: planPropertiesCriticality[property.name],
                        backgroundColor: planPropertiesCriticality[property.name],
                        borderRadius: '20px'
                      }">
                      circle-icon
                    </mat-icon>
                  }
                  <button mat-icon-button (click)="removeselectedPlanProperty(property)" type="button" [disabled]="property.globalHardGoal"><mat-icon>delete</mat-icon></button>
                </app-editable-list-entry-suffix>
            </app-editable-list-entry>
          }
        </app-page-section-content>
      </app-page-section>
      <br/>
      <br/>
      <app-page-section>
        <app-page-section-content>
          <app-page-section-title>Result</app-page-section-title>
          <div id="sec-result" class="badge-panel">
            No goals selected
          </div>
        </app-page-section-content>
      </app-page-section>
    </app-page-content>
  </app-page>
}
