.TODO {
    width: 100%;
    height: 300px;
    background-color: red;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.TODO-text {
    font-size: xx-large;
    font-weight: bold;
}