<mat-card appearance="outlined" *transloco="let t">
    <mat-card-header>
        <mat-icon mat-card-avatar>flight_land</mat-icon>
        <mat-card-title>{{t('b.incoming_flight')}}</mat-card-title>
    </mat-card-header>
    <mat-card-content
        class="content"
        cdkDropList
        id="incoming"
        [cdkDropListData]="incomingJigsStatusSchedule()"
        [cdkDropListEnterPredicate]="noDrop"
        [class.noDragTarget]="(dragInProgress$ | async)"
        (cdkDropListDropped)="drop($event)"
    >
        @if(!flightIsEmpty()){
            @for(e of incomingJigsStatusSchedule(); track e.jig?.name; let idx = $index){ 
                <app-jig-status-incoming
                    [index]="idx"
                    [jig]="e.jig"
                    [jigType]="jigTypes()?.[e.jig?.type]"
                    [status]="e.status"
                    [flight]="currentFlight()"
                ></app-jig-status-incoming>
            }
        }
        @else{
            <app-info>
                <mat-icon>info</mat-icon>
                {{t('b.empty_flight')}}
            </app-info>
        }
    </mat-card-content>
    <mat-card-actions class="actions">
        <button mat-button (click)="onSkip()" [disabled]="!skipPossible()">
            {{t('b.skip')}}
            <mat-icon>step_over</mat-icon>
        </button>
        <button mat-flat-button (click)="onUnload()" [disabled]="!unloadAvailable()">
            {{t('b.unload')}}
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>

