<div class="main" *transloco="let t"
    [class.noDragTarget]="(dragInProgress$ | async)"
    (cdkDropListDropped)="drop($event)"
>
    <div>
        <p><span class="header">{{t('b.incoming_flight')}}</span></p>
    </div>
    <div>
        <span>{{ t('b.remaining_jigs') }}: {{remainingNumJigs()}}</span>
    </div>
    <div class="vert-con"
        cdkDropList
        id="incoming"
        [cdkDropListData]="remainingJigs()"
        [cdkDropListEnterPredicate]="noDrop">
        <button mat-icon-button (click)="onUnload()" [disabled]="!unloadAvailable()">
            <mat-icon>arrow_forward</mat-icon>
        </button>
        @if(remainingJigs()?.length > 0){
            @for(jig of remainingJigs(); track jig.name; let idx = $index){
                @if(idx == 0){
                    <app-jig
                        [jig]="jig"
                        [jigType]="jigTypes()?.[jig.type]"
                        [unitSize]="true"
                        [draggable]="true"
                        cdkDrag
                        [cdkDragData]="jig"
                        (cdkDragStarted)="onStartDrag(jig)"
                        (cdkDragDropped)="onCancelDrag($event)"
                        cdkDragBoundary=".beluga-boundary"
                    >
                    </app-jig>
                }
                @else{
                    <app-jig
                    [jig]="jig"
                    [jigType]="jigTypes()?.[jig.type]"
                    [unitSize]="true"
                >
                </app-jig>
                }
            }
        }
        @else{
            <p>{{t('b.empty_flight')}}</p>
        }
    </div>
</div>