<div class="main" *transloco="let t">
    <div>
        <p><span class="header">{{t('b.incoming_flight')}}</span>: {{remainingNumJigs()}}</p>
    </div>
    <div class="vert-con">
        @if(jigs()?.length > 0){
            @for(jig of jigs(); track jig.name){
                <app-jig
                [jig]="jig"
                [jigType]="jigTypes()?.[jig.type]"
                [unitSize]="true"
                ></app-jig>
            }
        }
        @else{
            <p>{{t('b.empty_flight')}}</p>
        }
        <button mat-icon-button (click)="onUnload()" [disabled]="!unloadAvailable()">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
</div>