.main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    background-color: var(--flight);
    padding: var(--spacing-300);
}

.vert-con {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--spacing-100);
    align-items: center;
    justify-content: end;
}

.header{
    font-size: larger;
    font-weight: 500;
}

.noDragTarget{
    opacity: 50%;
}