@use "../../../../../../variables.scss" as vars;

.actions{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
    justify-content: end;
}

.content{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
}

.noDragTarget{
    opacity: 50%;
}