<app-dialog>
  <app-dialog-header>
    <app-dialog-title>Create Plan Property</app-dialog-title>
  </app-dialog-header>

  <app-dialog-content>
    <app-chat [isSenderTyping]="true">
      <app-chat-message role="sender">Hallo</app-chat-message>
      <app-chat-message role="receiver">Hallo</app-chat-message>
      <button app-chat-action>Yes, that's it</button>
      <app-chat-input></app-chat-input>
    </app-chat>
  </app-dialog-content>

  <app-dialog-footer></app-dialog-footer>
</app-dialog>
