@use "@angular/material" as mat;

@use "../../../../../../variables" as vars;
@use "../../../../../../ipexco-theme" as ipexco-theme;

.list {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
    align-items: center;
}

.conflict {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
    align-items: center;

    width: fit-content;
    padding: var(--spacing-200);

    flex-shrink: 0;

    border-radius: var(--radius-100);

    @include vars.background-color(surface-container);

    outline: solid;
    outline-width: 2px;
    outline-offset: -2px;
    outline-color: transparent;

    transition: outline-color 100ms, background-color 100ms, scale 100ms;
}

.conflict:not(.selected):hover {
  scale: 1.04;
}

.conflict:hover {
  cursor: pointer;
}

.selected {
  outline-color: #{mat.get-theme-color(ipexco-theme.$light-theme, outline-variant)};
  scale: 1.1;
}

.inConflict {
    @include vars.color(on-error-container);
}