<app-dialog>
    <app-dialog-header>
      <app-dialog-title>
        <div class="icon-title">
          <mat-icon>alarm</mat-icon> Finish Task?
        </div>
      </app-dialog-title>
    </app-dialog-header>
    <app-dialog-content>
        @if(currentMaxUtility() == maxOverallUtility()){
            <span>
                Congratulation you achieved the maximal possible utility.
                Please continue with the next part of the user study.
            </span>
        }
        @else{
            @if(remainingMinSeconds() > 0) {
                <span>
                    You may only continue in {{ remainingMinSeconds() }} seconds or if you finish the problem by finding the maximum utility.
                </span>
            }
            <span>
                You have only attained a utility of {{ currentMaxUtility() }} and can still get {{ missingUtility() }} more.
                Your time is not over yet, please try to find a solvable selection of goals with a higher utility.
            </span>
        }
    </app-dialog-content>
    <app-dialog-footer>
        @if(currentMaxUtility() == maxOverallUtility()){
            <button mat-flat-button (click)="onClose(true)">Next User Study Part</button>
        }
        @else{
            <button mat-flat-button (click)="onClose(false)">Back to Task</button>
            <button
                mat-button
                (click)="onClose(true)"
                [disabled]="remainingMinSeconds() > 0">
                Next User Study Part
            </button>
        }
    </app-dialog-footer>
</app-dialog>
