@import "../../../../variables.scss";

.header-container {
  box-sizing: border-box;
  width: 100%;
  padding: 0px 25px 0px 25px;
}

.main-container-mobile {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.demo-card-mobile {
  width: 95%;
  margin: 5px auto;
}

.demo-card-web {
  width: 20%;
  min-width: 300px;
  margin: 1%;
}

.main-container-web {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 10px;
  padding: 10px;
}

