<div [class.main-container-web]="! isMobile" [class.main-container-mobile]="isMobile" *ngIf="(demos$ | async).length > 0">
  <mat-card [class.demo-card-web]="! isMobile" [class.demo-card-mobile]="isMobile" *ngFor="let demo of (demos$ | async)">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-spinner [diameter]="30" *ngIf="demo.status == runStatus.pending"></mat-spinner>
        <mat-icon class="fail-icon" *ngIf="demo.status == runStatus.failed">priority_high</mat-icon>
        <mat-icon *ngIf="demo.status == runStatus.finished">send</mat-icon>
      </div>
      <mat-card-title>{{demo.name}}</mat-card-title>
      <mat-card-subtitle>Explanation Demo</mat-card-subtitle>

      <button mat-icon-button [matMenuTriggerFor]="demoMenu" *ngIf="userService.loggedIn() && myDemo(demo)"
              style="position: absolute; right: 2px">
        <mat-icon>more_vert</mat-icon>
      </button>

    </mat-card-header>
    <div style="display: flex; flex-direction: row; justify-content: center">
      <img *ngIf="demo.summaryImage && demo.summaryImage != ''" matCardImage [src]="srcUrl + demo.summaryImage"
         style="max-width: 300px; height: auto; align-self: center">
    </div>
    <mat-card-content>
      {{demo.description}}
    </mat-card-content>
    <mat-card-actions align="end" style="margin-bottom: 0; padding-bottom: 0">
      <button mat-icon-button
        [disabled]="demo.status == runStatus.failed || demo.status == runStatus.running || demo.status == runStatus.pending"
        (click)="openDemo(demo)">
        <mat-icon>play_arrow</mat-icon>
      </button>
      <button mat-icon-button
        *ngIf="userService.loggedIn() && myDemo(demo) && demo.status == runStatus.running || demo.status == runStatus.pending"
        (click)="cancelDemo(demo)" color=accent>
        <mat-icon>cancel</mat-icon>
      </button>

    </mat-card-actions>

    <mat-menu #demoMenu="matMenu">
      <button mat-menu-item
              [disabled]="demo.status == runStatus.failed || demo.status == runStatus.running || demo.status == runStatus.pending"
              (click)="openSettings(demo)">
        <mat-icon>settings</mat-icon>
        <span>Execution Settings</span>
      </button>
      <button mat-menu-item
              [disabled]="demo.status == runStatus.failed || demo.status == runStatus.running || demo.status == runStatus.pending"
              (click)="openAnimationSettings(demo)">
        <mat-icon>movie_creation</mat-icon>
        <span>Animation Settings</span>
      </button>
      <button mat-menu-item
              [disabled]="demo.status == runStatus.failed || demo.status == runStatus.running || demo.status == runStatus.pending"
              (click)="update(demo)">
        <mat-icon>create</mat-icon>
        <span>Modify</span>
      </button>
      <button mat-menu-item
              [disabled]="demo.status == runStatus.running || demo.status == runStatus.pending"
              (click)="deleteDemo(demo)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>

  </mat-card>

</div>

<div [class.main-container-web]="! isMobile" [class.main-container-mobile]="isMobile" *ngIf="(demos$ | async).length == 0">
  <h1 style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">There are no demos available!</h1>
</div>
