<div class="container" *transloco="let t">
    <div class="buttons">
        <app-swap-configurator 
        [value]="maxSwaps()" 
        (valueChange)="onSwapChange($event)"
        [disabled]="!allowModifications()"
        ></app-swap-configurator>
        <mat-slide-toggle 
            [checked]="keepRackEmpty()" 
            (change)="onToggleRack()"
            [disabled]="numEmptyRacks() == 0 || !allowModifications()">
                {{t('f.one_rack_empty')}}
        </mat-slide-toggle>
    </div>
    <div class="buttons">
        <a mat-button 
            (click)="onCancel()"
            [routerLink]="['../../flight-sections']">
            <mat-icon>cancel</mat-icon>
            {{t('f.cancel')}}
        </a>
        <a mat-flat-button 
            [routerLink]="['../../configuration-explanations/' + section()?._id + '/' +  (section()?.configurationIndex + 1)]"
            (click)="onSave()">
            <mat-icon>save</mat-icon>
            {{t('f.save')}}
        </a>
    </div>
</div>