<app-page-full *transloco="let t">
    <app-page-title>
       {{t('b.manual_planning')}}
    </app-page-title>
    <app-page-content>

      <app-page-section-list>
        <app-page-section>
          <app-page-section-content>
            <div class="controls">
                <app-section-controls></app-section-controls>
            </div>
          </app-page-section-content>
        </app-page-section>

        <app-page-section>
          <app-page-section-content>
            <app-multi-flight-card
              [jigs]="jigs()"
              [jigTypes]="jigTypes()"
              [flights]="orderedFlights()"
              [highlighted]="currentRelativeFlightIndex()"
              [progressStatus]="progressStatusFlights()"
            ></app-multi-flight-card>
          </app-page-section-content>
        </app-page-section>

        <app-page-section>
          <app-page-section-title>
           {{t('b.plan')}}
          </app-page-section-title>
          <app-page-section-content>
            <div class="plan">
                <app-section-action-list></app-section-action-list>
            </div>
          </app-page-section-content>
        </app-page-section>

        <app-page-section>
          <app-page-section-content>
            <div class="main">
                <div class="grid" cdkDropListGroup>
                    <div class="header">{{t('b.flights')}}</div>
                    <div class="header">{{t('b.trailers')}} Beluga</div>
                    <div class="header">{{t('b.racks')}}</div>
                    <div class="header">{{t('b.trailers')}} {{t('b.factory')}}</div>
                    <div class="header">{{t('b.hangars')}}</div>
                    <div class="header">{{t('b.production_lines')}}</div>

                    <app-flight-state class="full-height"></app-flight-state>
                    <app-trailers-state class="full-height" [side]="'bside'"></app-trailers-state>
                    <app-racks-state class="full-height"></app-racks-state>
                    <app-trailers-state class="full-height" [side]="'fside'"></app-trailers-state>
                    <app-hangars-state class="full-height"></app-hangars-state>
                    <app-production-lines-state class="full-height"></app-production-lines-state>
                </div>
            </div>
          </app-page-section-content>
        </app-page-section>
      </app-page-section-list>
    </app-page-content>
</app-page-full>
