<app-page-full *transloco="let t">
    <app-page-title>
       {{t('b.manual_planning')}}
    </app-page-title>
    <app-page-content>

      <app-page-section-list>
        <app-page-section>
          <app-page-section-content>
            <div class="controls">
                <app-section-controls></app-section-controls>
            </div>
          </app-page-section-content>
        </app-page-section>

        <app-page-section>
          <app-page-section-title>
           {{t('b.plan')}}
          </app-page-section-title>
          <app-page-section-content>
            <div class="plan">
                <app-section-action-list></app-section-action-list>
            </div>
          </app-page-section-content>
        </app-page-section>

        <app-page-section>
          <app-page-section-content>
            <div class="main">
                <div class="grid" cdkDropListGroup>
                    <!-- <p class="header">{{t('b.flights')}}</p>
                    <p class="header">{{t('b.trailers')}} Beluga</p>
                    <p class="header">{{t('b.racks')}}</p>
                    <p class="header">{{t('b.trailers')}} {{t('b.factory')}}</p>
                    <p class="header">{{t('b.hangars')}}</p>
                    <p class="header">{{t('b.production_lines')}}</p> -->

                    <app-flight-state class="full-height"></app-flight-state>
                    <app-trailers-state class="full-height" [side]="'bside'"></app-trailers-state>
                    <app-racks-state class="full-height"></app-racks-state>
                    <app-trailers-state class="full-height" [side]="'fside'"></app-trailers-state>
                    <app-hangars-state class="full-height"></app-hangars-state>
                    <app-production-lines-state class="full-height"></app-production-lines-state>
                </div>
            </div>
          </app-page-section-content>
        </app-page-section>
      </app-page-section-list>
    </app-page-content>
</app-page-full>
