@use '../../../../../../variables.scss' as vars;

.main{
  overflow: auto;
}

.controls{

}

.plan{

}

.grid{
    display: grid;
    grid-template-columns: 2fr 2fr auto 2fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: var(--spacing-300);
    align-items: center;
    justify-items: center;

    min-height: 200px;
}

.full-height{
    height: 100%;
}

.header{
  @include vars.typography(headline-small);
}
