<div class="main-container">
  <nav mat-tab-nav-bar>
    <a mat-tab-link (click)="step = 1" [active]="step == 1">Setup</a>
    <a mat-tab-link (click)="step = 2" [active]="step == 2">Data</a>
    <a mat-tab-link (click)="step = 3" [active]="step == 3"
      >Accepted Test Persons</a
    >
  </nav>
  <div style="height: 100%; width: 100%; overflow: auto">
    <app-user-study-creator
      *ngIf="step == 1"
      style="height: 100%; overflow: auto"
    ></app-user-study-creator>
    <app-user-study-data-base
      *ngIf="step == 2"
      style="height: 100%; overflow: auto"
    ></app-user-study-data-base>
    <app-accepted-test-persons
      *ngIf="step == 3"
      style="height: 100%; overflow: auto"
    ></app-accepted-test-persons>
  </div>
</div>
