@use "@angular/material" as mat;

@use "../ipexco-theme" as ipexco-theme;

:root {
    --aircraft-part: #{mat.get-theme-color(ipexco-theme.$light-theme, tertiary-container)};
    --on-aircraft-part: #{mat.get-theme-color(ipexco-theme.$light-theme, on-tertiary-container)};
    --jig: #{mat.get-theme-color(ipexco-theme.$light-theme, tertiary-fixed-dim)};
    --on-jig: #{mat.get-theme-color(ipexco-theme.$light-theme, on-tertiary-fixed-variant)};
    --rack: #{mat.get-theme-color(ipexco-theme.$light-theme, surface-container-high)};
    --trailer: #{mat.get-theme-color(ipexco-theme.$light-theme, surface-container-high)};
    --production-line: #{mat.get-theme-color(ipexco-theme.$light-theme, surface-container-high)};
    --hangar: #{mat.get-theme-color(ipexco-theme.$light-theme, surface-container-high)};
    --flight: rgb(232, 240, 255);


    --action: rgb(226, 234, 255);

    --jig-height: var(--sizing-700);
    --part-height: var(--sizing-500);

    --rack-height: var(--sizing-900);
    --trailer-height: var(--sizing-900);
    --hangar-height:  var(--sizing-900);
  }

