:root {
    --aircraft-part: rgb(96, 98, 248);
    --jig: rgb(150, 151, 255);
    --rack: rgb(193, 195, 212);
    --trailer: rgb(193, 195, 212);
    --production-line: rgb(193, 195, 212);
    --hangar: rgb(193, 195, 212);

    --action: rgb(226, 234, 255);
  }
  