
@mixin sm {
    @container (min-width: #{$container-sm-min}) {
        @content;
    }
 }

 @mixin md {
    @container (min-width: #{$container-md-min}) {
        @content;
    }
 }

 @mixin lg {
    @container (min-width: #{$container-lg-min}) {
        @content;
    }
 }

 @mixin xl {
    @container (min-width: #{$container-xl-min}) {
        @content;
    }
 }

 @mixin xxl {
    @container (min-width: #{$container-xxl-min}) {
        @content;
    }
 }

$container-sm-min: 576px;

$container-md-min: 768px;

$container-lg-min: 992px;

$container-xl-min: 1200px;

$container-xxl-min: 1920px;
