@use '../variables' as variables;

::-webkit-scrollbar {
  width: 8px;

  &:hover {
    width: 8px;
  }
}

::-webkit-scrollbar:horizontal {
  height: 8px;

  &:hover {
    height: 8px;
  }
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @include variables.background-color(outline);
  border-radius: var(--radius-full);

  cursor: pointer;
}
