:root {
  --sizing-050: 4px;
  --sizing-100: 8px;
  --sizing-200: 16px;
  --sizing-300: 24px;
  --sizing-400: 32px;
  --sizing-500: 40px;
  --sizing-600: 48px;
  --sizing-700: 56px;
  --sizing-800: 64px;
  --sizing-1200: 96px;
  --sizing-1800: 144px;
}
