@let userStudy = userStudy$ | async;

<app-page *transloco="let t">
<app-page-content>
  <app-page-section-list>
    @if(userStudy){
    <app-page-section>
      <app-page-section-title>
        <h1>{{t('use.user_study')}}</h1>
      </app-page-section-title>
      <app-page-section-content>
        {{t('use.thankyou_welcome')}}
      </app-page-section-content>
    </app-page-section>
    }
    @else{
      <app-page-section>
        <app-page-section-title>
          <h1>{{t('use.user_study')}}</h1>
        </app-page-section-title>
        <app-page-section-content>
          {{t('use.study_not_available')}}
        </app-page-section-content>
      </app-page-section>
    }
    <app-page-section>
      <app-page-section-title>
        {{t('use.language')}}
      </app-page-section-title>
      <app-page-section-content>
        {{t('use.choose_language')}}
        <div class="language-buttons">
          <button mat-button (click)="setLanguage('en')">{{t('use.english')}}</button>
          <button mat-button (click)="setLanguage('de')">{{t('use.german')}}</button>
        </div>
      </app-page-section-content>
    </app-page-section>
    @if(userStudy){
    <app-page-section>
      <app-page-section-title>
        {{t('use.user_code')}}
      </app-page-section-title>
      <app-page-section-content>
          <mat-form-field appearance="outline">
            <mat-label>{{t('use.code')}}</mat-label>
            <input type="text" matInput [(ngModel)]="userCode" placeholder="XXXXXXXX">
        </mat-form-field>
      </app-page-section-content>
    </app-page-section>
    }
    @if(userStudy){
    <app-page-section>
      <app-page-section-title>
        {{t('use.study_about')}}
      </app-page-section-title>
      <app-page-section-content>
        {{ userStudy?.description}}
      </app-page-section-content>
    </app-page-section>
    }
    @if(userStudy){
      <app-page-section>
        <app-page-section-content>
          <app-info>
            <mat-icon>schedule</mat-icon>
            {{t('use.time_info')}}
          </app-info>
        </app-page-section-content>
      </app-page-section>
      }
    @if(userStudy){
    <app-page-section>
      <app-page-section-content>
        <a mat-flat-button 
          [disabled]="!hasCode()"
          (click)="storeCode()"
          [routerLink]="['..', 'agreement']">
          {{t('use.lets_start')}}
        </a>
      </app-page-section-content>
    </app-page-section>
    }
  </app-page-section-list>
</app-page-content>
</app-page>
