@let userStudy = userStudy$ | async;

<app-page>
<app-page-content>
  <app-page-section-list>
    @if(userStudy){
    <app-page-section>
      <app-page-section-title>
        <h1>Welcome!</h1>
      </app-page-section-title>
      <app-page-section-content>
        Thank you very much for participating in our study.
      </app-page-section-content>
    </app-page-section>
    }
    @else{
      <app-page-section>
        <app-page-section-title>
          <h1>Welcome!</h1>
        </app-page-section-title>
        <app-page-section-content>
          This user study is not available anymore.
        </app-page-section-content>
      </app-page-section>
    }
    @if(userStudy){
    <app-page-section>
      <app-page-section-title>
        What is the study about?
      </app-page-section-title>
      <app-page-section-content>
        {{ userStudy?.description}}
      </app-page-section-content>
    </app-page-section>
    }
    @if(userStudy){
    <app-page-section>
      <app-page-section-content>
        <a mat-flat-button [routerLink]="['..', 'agreement']">Let's start!</a>
      </app-page-section-content>
    </app-page-section>
    }
  </app-page-section-list>
</app-page-content>
</app-page>
