.main-container {
    padding: var(--spacing-300);
    display: grid;
    grid-template-columns: 2fr 2fr 2fr auto;
    gap: var(--spacing-300);
    justify-items: start;
}

.column-header {
    font-size: larger;
    font-weight: 500;
    justify-self: left;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.belugas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-200);
}

.trailers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-200);
    align-items: center;
}

.racks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-100);
}

.hangars {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-200);
    align-items: center;
}

.production {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-200);
    align-items: center;
}


.schedule-configurators {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    gap: var(--spacing-300);
}
