@use "../../../../../../variables.scss" as vars;


.container {
    display: grid;
    align-items: center;
    justify-items: center;
}

.jig {
    height: var(--jig-height);
    min-width: 15px;

    border: solid;
    border-width: 0px;
    border-radius: var(--spacing-100);

    background-color: var(--jig);

    display: flex;
    justify-content: space-around;
    align-items: center;

    grid-column: 1;
    grid-row: 1;

    .name{
        font-weight: 500;
    }
}

.hover {
    cursor: pointer;
}

.part {
    height: var(--part-height);
    min-width: 15px;

    border: solid;
    border-width: 0px;
    border-radius: var(--spacing-100);

    background-color: var(--aircraft-part);

    display: flex;
    width: fit-content;
    justify-content: space-around;
    align-items: center;

    grid-column: 1;
    grid-row: 1;

    .name{
        color: white;
        font-weight: 500;
    }

}
