<div class="container">
    <div 
        class="jig" 
        [matTooltip]="tooltip()"
        [style.width]="jigDisplaySize() + 'px'  "
    >
    @if(!loaded()) {
        <span class="name">{{ jigType()?.name }}</span>
    }
    </div>
    @if(loaded()){
        <div
            class="part" 
            [matTooltip]="tooltip()"
            [style.width]="partDisplaySize() + 'px'  "
        >
            @if(!unitSize()){
                <span class="name"><span class="bold">{{ name() }}</span> ({{ jigType()?.name }})</span>
            }
            @else{
                <span class="name"><span class="bold">{{ name() }}</span></span>
            }
           
        </div>
    }
</div>



