<div 
    class="container" 
    [ngClass]="{'hover': isHovering  && draggable()}" 
    (mouseover)="onHover()" (mouseout)="onMouseOut()"
    cdkOverlayOrigin #trigger="cdkOverlayOrigin"
>
    @if(!showOnlyPart()){
        <div 
            class="jig" 
            [style.width]="jigDisplaySize() + 'px'  "
            [ngClass]="{'hover': isHovering && draggable()}"
        >
            @if(!loaded()) {
                <span class="name">{{ jigType()?.name }}</span>
            }
        </div>
    }
    @if(loaded() || showOnlyPart()){
        <div
            class="part" 
            [style.width]="partDisplaySize() + 'px'  "
            [ngClass]="{'hover': isHovering && draggable()}"
        >
            @if(!unitSize()){
                <span class="name"><span class="bold">{{ name() }}</span> ({{ jigType()?.name }})</span>
            }
            @else{
                <span class="name"><span class="bold">{{ name() }}</span></span>
            }
           
        </div>
    }
    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="isHovering && showTooltip()"
    >
        <div class="info">
            <mat-list>
                <mat-list-item>
                    <mat-icon matListItemIcon>fit_screen</mat-icon>
                    <div matListItemTitle>{{sizeEmpty()}}/{{sizeLoaded()}}</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>category</mat-icon>
                    <div matListItemTitle>{{type()}}</div>
                </mat-list-item>
                @if(incomingFlight() !== undefined){
                <mat-list-item>
                    <mat-icon matListItemIcon>flight_land</mat-icon>
                    <div matListItemTitle>{{incomingFlight() ?? 'none'}}</div>
                </mat-list-item>
                }
            </mat-list>
        </div>
    </ng-template>
    @if(!draggable() && !unitSize()){
        <mat-icon class="icon">lock</mat-icon>
    }
</div>



