<div
    class="container"
    [ngClass]="{'hover': isHovering  && draggable()}"
    (mouseover)="onHover()" (mouseout)="onMouseOut()"
    cdkOverlayOrigin #trigger="cdkOverlayOrigin"
>
    @if(!showOnlyPart()){
      <div
        class="jig-container"
        [style.width]="jigDisplaySize() + 'px'"
        [style.view-transition-name]="jigViewTransitionName()"
      >
        <div
            class="jig"
            [ngClass]="{'hover': isHovering && draggable(), 'ghost': isGhost()}"
        >
            @if(!loaded()) {
                <span class="name">{{ jigType()?.name }}</span>
            }
        </div>
      </div>
    }
    @if(loaded() || showOnlyPart()){
      <div
        class="part-container"
        [style.width]="partDisplaySize() + 'px'"
        [style.view-transition-name]="partViewTransitionName()"
      >
        <div
            class="part"
            [ngClass]="{'hover': isHovering && draggable(), 'ghost': isGhost()}"
        >
            @if(!unitSize()){
                <span class="name">{{ name() }} ({{ jigType()?.name }})</span>
            }
            @else{
                <span class="name"><span>{{ name() }}</span></span>
            }

        </div>
      </div>
    }
    <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="trigger"
        [cdkConnectedOverlayOpen]="isHovering && showTooltip()"
    >
        <div class="info">
            <mat-list>
                <mat-list-item>
                    <mat-icon matListItemIcon>fit_screen</mat-icon>
                    <div matListItemTitle>{{sizeEmpty()}}/{{sizeLoaded()}}</div>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon matListItemIcon>category</mat-icon>
                    <div matListItemTitle>{{type()}}</div>
                </mat-list-item>
                @if(incomingFlight() !== undefined){
                <mat-list-item>
                    <mat-icon matListItemIcon>flight_land</mat-icon>
                    <div matListItemTitle>{{incomingFlight() ?? 'none'}}</div>
                </mat-list-item>
                }
            </mat-list>
        </div>
    </ng-template>
</div>



