@use "@angular/material" as mat;

@use "../../../../../../variables.scss" as vars;

:host {
  overflow: visible;
}

.container {
    display: grid;
    align-items: center;
    justify-items: center;
    position: relative;
}

.jig-container {
    padding: var(--spacing-050) var(--spacing-100);

    height: var(--jig-height);
    min-width: 15px;


    grid-column: 1;
    grid-row: 1;
}

.jig {
    background-color: var(--jig);
    color: var(--on-jig);

    border-radius: var(--radius-100);

    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    &.ghost {
      @include vars.background-color(surface-container-high);
      @include vars.color(outline);
    }
}

.hover {
    cursor: pointer;
}

.non-draggable {
    cursor: not-allowed;
}

.part-container {
    height: var(--part-height);
    min-width: 15px;


    grid-column: 1;
    grid-row: 1;

    padding: var(--spacing-050) var(--spacing-100);
}

.name {
  width: 100%;

  @include vars.typography(title-medium);

  text-align: center
}

.part {
    border-radius: var(--radius-100);

    background-color: var(--aircraft-part);
    color: var(--on-aircraft-part);

    height: 100%;

    display: flex;
    justify-content: center;
    gap: var(--spacing-050);
    align-items: center;

    &.ghost {
      @include vars.background-color(surface-container);
      @include vars.color(outline);
    }
}

.icon{
    position: absolute;
    right:5%;

}

.info{
  border-radius: var(--radius-200);

  @include vars.background-color(surface-container-low);
  @include vars.color(on-surface);

  @include mat.elevation(2);
}
