@import "../../../../variables";


.label-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.label{
  font-size: medium;
}

.label-highlight{
  font-size: medium;
  font-weight: bold;
  color: $primary-darker;
}
