.container-mobile {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.container-web {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.card-mobile {
  width: 100%;
  margin-bottom: 10px;
}

.card-web {
}

.add-button {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
