<mat-card class="main-card">
  <ng-container *ngIf="(possiblePP$ | async)?.length > 0">
    <mat-list>
    <mat-list-item *ngFor="let pp of (possiblePP$ | async)">
      <div class="list-item-text">
        <span> {{pp.naturalLanguageDescription}} </span>
        <span> Utility: {{pp.value}} </span>
      </div>
      <button mat-icon-button (click)="selectPP(pp)" class="list-item-button">
        <mat-icon>add</mat-icon>
      </button>
    </mat-list-item>
    </mat-list>
  </ng-container>
  <p *ngIf="(possiblePP$ | async)?.length == 0">
    No other goal facts available.
  </p>
</mat-card>

