.main-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.list {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.list-main-container {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 10px;
}


.list-item-container {
  width: 100%;
  display: grid;
  grid-template-columns: 50px auto auto;
}

.list-item-text {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.list-item-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
