<div style="width: 100%; height: 100%;">
  <h2>Why not ... ?</h2>
  <mat-selection-list #planPorpertiesList (selectionChange)="onSelectionChange($event)">
    <mat-list-option *ngFor="let property of collection; last as last"
    checkboxPosition="before" [value]="property">
      {{property.naturalLanguageDescription}}
      <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
    </mat-list-option>

  </mat-selection-list>

<button mat-fab color="primary" class="add-button" (click)="compute_dependencies()" [disabled]="question.length  == 0">
  <mat-icon>send</mat-icon>
</button>

</div>
