@let userStudy = userStudy$ | async;
@let participants = participants$ | async;

<app-page>
  <app-breadcrumb>
    <a app-breadcrumb-item [routerLink]="['/user-study', 'collection']"><mat-icon>home</mat-icon></a>
    <app-breadcrumb-item>{{ userStudy?.name }}</app-breadcrumb-item>
  </app-breadcrumb>

  <app-page-title>
    {{ userStudy?.name }}
      <app-page-title-action>
        <a mat-icon-button matTooltip="Evaluate user study"
                [routerLink]="['/user-study', userStudy?._id, 'eval']">
          <mat-icon>query_stats</mat-icon>
      </a>
      <button mat-icon-button matTooltip="Copy link to the user study."
              (click)="onCopyLink()">
        <mat-icon>link</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-icon-button matTooltip="Start user study execution."
        [routerLink]="['/user-study', userStudy?._id, 'eval']">
          <mat-icon>play_arrow</mat-icon>
        </a>
        <a mat-icon-button matTooltip="Edit user study."
                [routerLink]="['/user-study', userStudy?._id, 'edit']">
          <mat-icon>edit</mat-icon>
        </a>
        <button mat-icon-button matTooltip="Delete user study."
                (click)="onDelete(userStudy?._id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-menu>
    </app-page-title-action>
  </app-page-title>

  <app-page-hero>
    <app-user-study-hero [userStudy]="userStudy" [participants]="participants"></app-user-study-hero>
  </app-page-hero>

  <app-page-content>
    <app-page-section-list>
      <app-page-section>
        <app-page-section-title>
          Info
        </app-page-section-title>
        <app-page-section-content>
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Description</mat-panel-title>
                <mat-panel-description> What is the study about? </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{ userStudy?.description }}</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Related Project </mat-panel-title>
                <mat-panel-description>
                  What is the project performing the study about?
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{ userStudy?.relatedProject }}</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Expectations </mat-panel-title>
                <mat-panel-description>
                  What do the participants need to do?
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{ userStudy?.expectation }}</p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title> Confidentiality </mat-panel-title>
                <mat-panel-description>
                  Which data is stored where?
                </mat-panel-description>
              </mat-expansion-panel-header>
              <p>{{ userStudy?.confidentiality }}</p>
            </mat-expansion-panel>
          </mat-accordion>
        </app-page-section-content>
      </app-page-section>
      <app-page-section>
        <app-page-section-title>
          Steps
        </app-page-section-title>
        <app-page-section-content>
          <mat-list>
          @for(step of userStudy?.steps; track step; let idx = $index;){
            @switch (step.type){
              @case (userStudyStepType.description){
                <mat-list-item>
                  <mat-icon matListItemIcon>description</mat-icon>
                  <div matListItemTitle>{{ step.name }}</div>
                  <div matListItemLine>Description</div>
                </mat-list-item>
              }
              @case (userStudyStepType.demo){
                <mat-list-item>
                  <mat-icon matListItemIcon>repeat</mat-icon>
                  <div matListItemTitle>{{ step.name }}</div>
                  <div matListItemLine>Demo</div>
                </mat-list-item>
              }
              @case (userStudyStepType.form){
                <mat-list-item>
                  <mat-icon matListItemIcon>fact_check</mat-icon>
                  <div matListItemTitle>{{ step.name }}</div>
                  <div matListItemLine>Questionnaire/External Link</div>
                </mat-list-item>
              }
              @case (userStudyStepType.userManual){
                <mat-list-item>
                  <mat-icon matListItemIcon>help</mat-icon>
                  <div matListItemTitle>{{ step.name }}</div>
                  <div matListItemLine>User Manual</div>
                </mat-list-item>
              }
              @case (userStudyStepType.demoInfo){
                <mat-list-item>
                  <mat-icon matListItemIcon>info</mat-icon>
                  <div matListItemTitle>{{ step.name }}</div>
                  <div matListItemLine>Task Information</div>
                </mat-list-item>
              }
            }
          }
          </mat-list>
        </app-page-section-content>
      </app-page-section>
      <app-page-section>
        <app-page-section-title>
          Participants
        </app-page-section-title>
        <app-page-section-content>
          <app-accepted-test-persons></app-accepted-test-persons>
        </app-page-section-content>
      </app-page-section>
    </app-page-section-list>
  </app-page-content>
</app-page>
