<mat-card appearance="outlined" *transloco="let t">
    <mat-card-header>
        <mat-icon mat-card-avatar>flight_land</mat-icon>
        <mat-card-title>{{t('f.incoming_flight')}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        @for(elem of schedule(); track elem?.jig?.name; let idx = $index){
            <app-jig-configurator 
                [index]="idx"
                [jig]="elem.jig"  
                [jigType]="jigTypes()?.[elem.jig?.type]"
                [status]="elem.status"
                (statusChange)="setStatus(idx, $event)"
            >
            <div class="custom-placeholder" *cdkDragPlaceholder></div>
            </app-jig-configurator>  
        }
    </mat-card-content>
</mat-card>
