.main-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.sub-subconatiner {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.actions-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  gap: 10px;
}


