@import '../../../../variables.scss';

.add-button {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.property-card {
  width: 15%;
  min-width: 150px;
  margin: 10px;
}

.property-icon {
  display: block;
  float: left;
  background: $accent;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 8px 0 -12px;
  line-height: 40px;
  font-weight: bold;
}
