@import '../../../../variables.scss';

.main-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 100px;
  column-gap: 10px
}

.basic-card {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  width: 100%;
}

.card-content {
  box-sizing: border-box;
}

.expert-view-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.flex-container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.property-card-web {
}

.property-card-mobile {
  width: 95%;
  margin: 5px auto;
}

.property-icon {
  display: block;
  float: left;
  background: $primary;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  color: #ffffff;
  line-height: 40px;
  font-weight: bold;
}

.property-card-not-selected {
  opacity: 0.3;
}

h2 {
  margin: 5px;
}

.property-table {
  overflow: auto;
  width: 100%;
}

.value-form-field {
  width: 50px;
}

.action-card {
  display: flex;
  flex-direction: column;
}

.action-card > button {
  width: 100%;
  margin-bottom: 10px;
}

