<div class="flex-container">
  <mat-card *ngFor="let property of properties$ | async" class="property-card">
    <mat-card-header>
      <div mat-card-avatar>
      <span style="font-weight: bold;">
        {{property.type}}
      </span>
      </div>
      <mat-card-title>{{property.name}}</mat-card-title>
      <mat-card-subtitle>Property</mat-card-subtitle>

      <button mat-icon-button [matMenuTriggerFor]="menu" style="position: absolute; right: 5px">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="delete(property)">
          <mat-icon>delete</mat-icon>
          <span>delete</span>
        </button>
        <button mat-menu-item>
          <mat-icon>file_copy</mat-icon>
          <span>copy</span>
        </button>
        <button mat-menu-item>
          <mat-icon>create</mat-icon>
          <span>modify</span>
        </button>
      </mat-menu>

    </mat-card-header>
    <mat-card-content>
      <h2>{{property.formula}}</h2>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let actionSet of property.actionSets">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{actionSet.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div style="display: flex; flex-direction: column; justify-content: center; width: 100%;">
            <mat-list *ngFor="let action of actionSet.actions">
              <mat-list-item>
                {{action}}
                <mat-divider [inset]="true"></mat-divider>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
<!--    <mat-card-actions style="display: flex; flex-direction: row; justify-content: flex-end">-->
<!--      <button mat-icon-button (click)="delete(property)"><mat-icon>delete</mat-icon></button>-->
<!--      <button mat-icon-button><mat-icon>file_copy</mat-icon></button>-->
<!--      <button mat-icon-button><mat-icon>create</mat-icon></button>-->
<!--    </mat-card-actions>-->
  </mat-card>
  <button mat-fab color="warn" class="add-button" (click)="new_property_form()">
    <mat-icon>add</mat-icon>
  </button>
</div>
