<mat-card appearance="outlined" *transloco="let t">
    <mat-card-header>
        <mat-card-title class="title">
            <app-label [color]="section()?.status | stepStatusColor">{{ section()?.status | stepStatusName }}</app-label> 
            {{ originalFlight()?.name }}
        </mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
      <div class="content">
        <div class="stats-main">
            <div class="stats-container">
                <span>{{t('f.planned')}}</span>
                <div class="stats"> 
                    <mat-icon>flight_land</mat-icon>
                    <span class="property-label">{{t('f.incoming')}}:</span>
                    <span class="property-value">{{ numIncomingConsidered() ?? '?' }}/{{ numIncoming() ?? '?' }}</span>
                    <mat-icon>flight_takeoff</mat-icon>
                    <span class="property-label">{{t('f.outgoing')}}:</span>
                    <span class="property-value">{{ numOutgoingConsidered() ?? '?' }}/{{ numOutgoing() ?? '?' }}</span>
                    <mat-icon>warehouse</mat-icon>
                    <span class="property-label">{{t('f.deliveries')}}:</span>
                    <span class="property-value">{{ numPossibleDeliveries() ?? '?' }}/{{ numOverallDeliveries() ?? '?' }}</span>
                </div>
            </div>
    
            <div class="stats-container">
                <span>{{t('f.plan_statistics')}}</span>
                <div class="stats"> 
                    <mat-icon>arrow_range</mat-icon>
                    <span class="property-label">{{t('f.length')}}:</span>
                    <span class="property-value">{{ length() ?? '?'}}</span>
                    <mat-icon>swap_vert</mat-icon>
                    <span class="property-label">{{t('f.swaps')}}:</span>
                    <span class="property-value">{{ swaps() ?? '?' }}</span>
                    <mat-icon>shelves</mat-icon>
                    <span class="property-label">{{t('f.rack_occupancy_rate')}}:</span>
                    <span class="property-value">{{ rackOccupancyRate() ?? '?' }}</span>
                </div>
            </div>
        </div>

        <div class="utility">
            <mat-icon>{{ section()?.planMethod?.type | planMethodTypeIcon }}</mat-icon>
            <div class="utility-value-container">
              <span>{{ section()?.planMethod?.type | planMethodTypeName }}</span>
              <span class="value">{{ section()?.planMethod?.name }}</span>
              <span class="label">{{t('f.planning_method')}}</span>
            </div>
          </div>
      </div>
    </mat-card-content>
    <mat-card-actions class="actions-container">
        <div class="configs-main-container">
            @if(isAutomatic()){
                <span>{{t('f.configurations')}}:</span>
                <div class="configs-container">
                    @for(config of configurations(); track config; let idx = $index){
                        <app-configuration-selector
                            [configuration]="config"
                            [selected]="selectedConfigId() == idx"
                            [routerLink]="'../configuration-explanations/' + section()?._id + '/' + idx"
                        ></app-configuration-selector>
                    }
                </div>
            }
        </div>
        <div class="buttons-container">
            @if(isRunning()){
                <div class="action-running">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    <button mat-icon-button
                        matTooltip="Cancel plan computation of flight section"
                        (click)="onCancel()"
                    >
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
            }
            @if(isPending()){
                @if(isAutomatic()){
                    <a class="details" mat-button 
                        [routerLink]="['../configuration-update/' + section()?._id]"
                        (click)="onUpdateConfiguration()">
                        {{t('f.new_configuration')}}
                    </a>
                }
                @if(selectedConfigSolvable()){
                    <button class="details" mat-flat-button (click)="onCreatePlan()">{{t('f.generate_plan')}}</button>
                }
                @else{
                    <button class="details" mat-button (click)="onCreatePlan()">{{t('f.generate_plan')}}</button>
                }
                

            }
            @if(solved()){
                @if(isAutomatic()){
                    <a class="details" mat-button 
                        [routerLink]="['../configuration-explanations/' + section()?._id + '/' + section()?.configurationIndex]">
                        {{t('f.check_configurations')}}
                    </a>
                }
                <a class="details" mat-button 
                    [routerLink]="['../plan-inspection/' + section()?._id]"
                >
                    {{t('f.inspect_plan')}}
                </a>
                <button mat-icon-button
                    matTooltip="Creates a different plan for this flight."
                    (click)="onBranch()"
                ><mat-icon>call_split</mat-icon></button>
            }
            @if(notSolvable() || failed()){
                @if(isAutomatic()){
                    <a class="details" mat-button 
                        [routerLink]="['../configuration-explanations/' + section()?._id + '/' + section()?.configurationIndex]">
                        {{t('f.check_configurations')}}
                    </a>
                }
                <button mat-icon-button
                    matTooltip="Creates a different plan for this flight."
                    (click)="onBranch()"
                ><mat-icon>call_split</mat-icon></button>
            }
        </div>
    </mat-card-actions>
</mat-card>
  