<mat-card appearance="outlined" *transloco="let t">
    <mat-card-header>
        <mat-card-title class="title">
            <app-label [color]="section()?.status | stepStatusColor">{{ section()?.status | stepStatusName }}</app-label> 
            {{ name() }}
        </mat-card-title>
    </mat-card-header>
  
    <mat-card-content>
         <div class="content">
            <div class="content-info">
                <div class="stats-main">
                    <div class="stats-container">
                        <span>{{t('f.planned')}}</span>
                        <div class="stats"> 
                            <mat-icon>flight</mat-icon>
                            <span class="property-label">Flights:</span>
                            <span class="property-value">{{ numFlights() ?? '?'}}</span>
                            <mat-icon>warehouse</mat-icon>
                            <span class="property-label">{{t('f.deliveries')}}:</span>
                            <span class="property-value">{{ numPossibleDeliveries() ?? '?' }}/{{ numOverallDeliveries() ?? '?' }}</span>
                        </div>
                    </div>
            
                    <div class="stats-container">
                        <span>{{t('f.plan_statistics')}}</span>
                        <div class="stats"> 
                            <mat-icon>arrow_range</mat-icon>
                            <span class="property-label">{{t('f.length')}}:</span>
                            <span class="property-value">{{ length() ?? '?'}}</span>
                            <mat-icon>swap_vert</mat-icon>
                            <span class="property-label">{{t('f.swaps')}}:</span>
                            <span class="property-value">{{ swaps() ?? '?' }}</span>
                            <mat-icon>shelves</mat-icon>
                            <span class="property-label">{{t('f.rack_occupancy_rate')}}:</span>
                            <span class="property-value">{{ rackOccupancyRate() ?? '?' }}</span>
                        </div>
                    </div>
                </div>

                <div class="utility">
                    <mat-icon>{{ section()?.planMethod?.type | planMethodTypeIcon }}</mat-icon>
                    <div class="utility-value-container">
                    <span>{{ section()?.planMethod?.type | planMethodTypeName }}</span>
                    <span class="value">{{ section()?.planMethod?.name }}</span>
                    <span class="label">{{t('f.planning_method')}}</span>
                    </div>
                </div>
            </div>
            <app-plan-flight-progress [section]="section()"></app-plan-flight-progress>
        </div>      
    </mat-card-content>
    <mat-card-actions class="actions-container">
        <div class="configs-main-container">
            @if(isAutomatic() || isMixed() && ! hasManualPlan()){
                <span>{{t('f.configurations')}}:</span>
                <div class="configs-container">
                    @for(config of configurations(); track config; let idx = $index){
                        <app-configuration-selector
                            [configuration]="config"
                            [selected]="selectedConfigId() == idx"
                            [routerLink]="'../configuration-explanations/' + section()?._id + '/' + idx"
                        ></app-configuration-selector>
                    }
                </div>
            }
        </div>
        <div class="buttons-container">
            @if(isRunning()){
                <div class="action-running">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                    <button mat-icon-button
                        matTooltip="Cancel plan computation of flight section"
                        (click)="onCancel()"
                    >
                        <mat-icon>cancel</mat-icon>
                    </button>
                </div>
            }
            @if(isPending()){
                @if(isAutomatic()){
                    <a class="details" mat-flat-button 
                        [routerLink]="['../configuration-explanations/' + section()?._id + '/' + section()?.configurationIndex]">
                        {{t('f.check_configurations')}}
                    </a>
                    @if(selectedConfigSolvable()){
                    <button class="details" mat-flat-button (click)="onCreatePlan()">Call Planner</button>
                    }
                    @else{
                        <button class="details" mat-button (click)="onCreatePlan()">Call Planner</button>
                    }
                }
                @if(isManual()){
                    <a class="details" mat-flat-button 
                    [routerLink]="['../planning/manual/section/' +  section()?._id]"
                    (click)="onCreatePlan()">
                        {{t('f.generate_plan')}}
                    </a>
                }
                @if(isMixed()){
                    <a class="details" mat-flat-button 
                        [routerLink]="['../configuration-explanations/' + section()?._id + '/' + section()?.configurationIndex]">
                        {{t('f.check_configurations')}}
                    </a>
                    <button class="details" mat-button (click)="onPlanManually()">Plan Manually</button>
                    @if(selectedConfigSolvable()){
                        <button class="details" mat-flat-button (click)="onCreatePlan()">Call Planner</button>
                    }
                    @else{
                        <button class="details" mat-button (click)="onCreatePlan()">Call Planner</button>
                    }
                }
            }
            @if(solved()){
                @if(isAutomatic() || isMixed() && ! hasManualPlan()){
                    <a class="details" mat-button 
                        [routerLink]="['../configuration-explanations/' + section()?._id + '/' + section()?.configurationIndex]">
                        {{t('f.check_configurations')}}
                    </a>
                }
                <a class="details" mat-button 
                    (click)="onInspectPlan()"
                    [routerLink]="['../plan-inspection/' + section()?._id]"
                >
                    {{t('f.inspect_plan')}}
                </a>
            }
            @if(notSolvable() || failed()){
                @if(isAutomatic() || isMixed()){
                    <a class="details" mat-button 
                        [routerLink]="['../configuration-explanations/' + section()?._id + '/' + section()?.configurationIndex]">
                        {{t('f.check_configurations')}}
                    </a>
                }
                
            }
            <button mat-icon-button
                matTooltip="Create a new plan version."
                (click)="onBranch()"
            ><mat-icon>call_split</mat-icon></button>
        </div>
    </mat-card-actions>
</mat-card>
  