<app-page>
  <app-breadcrumb>
    <a app-breadcrumb-item [routerLink]="['/project/' + (project$ | async)?._id + '/features']"><mat-icon>home</mat-icon></a>
    <app-breadcrumb-item>Planning Task</app-breadcrumb-item>
  </app-breadcrumb>
  <app-page-title>Project</app-page-title>

  <app-page-content>
    <app-page-section-list>
      <app-page-section>
        <app-page-section-content>
          <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title> Types </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              @for (type of (planning_model$ | async)?.types; track type) {
                <mat-list-item>
                  {{ type.name }}: {{ type.parent }}
                </mat-list-item>
              }
            </mat-list>
          </mat-expansion-panel>
        </app-page-section-content>
      </app-page-section>
      <app-page-section>
        <app-page-section-content>
          <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title> Predicates </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              @for (predicate of (planning_model$ | async)?.predicates; track predicate) {
                <mat-list-item
                  >
                  {{ predicatOut(predicate) }}
                </mat-list-item>
              }
            </mat-list>
          </mat-expansion-panel>
        </app-page-section-content>
      </app-page-section>
      <app-page-section>
        <app-page-section-content>
          <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title> Actions </mat-panel-title>
            </mat-expansion-panel-header>
            @for (a of (planning_model$ | async)?.actions; track a) {
              <app-complete-action
                [action]="a"
              ></app-complete-action>
            }
          </mat-expansion-panel>
        </app-page-section-content>
      </app-page-section>
      <app-page-section>
        <app-page-section-content>
          <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title> Objects </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              @for (object of (planning_model$ | async)?.objects; track object) {
                <mat-list-item>
                  {{ object.name }} {{ object.type }}
                </mat-list-item>
              }
            </mat-list>
          </mat-expansion-panel>
        </app-page-section-content>
      </app-page-section>
      <app-page-section>
        <app-page-section-content>
          <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title> Constants </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              @for (object of (planning_model$ | async)?.constants; track object) {
                <mat-list-item>
                  {{ object.name }} {{ object.type }}
                </mat-list-item>
              }
            </mat-list>
          </mat-expansion-panel>
        </app-page-section-content>
      </app-page-section>
      <app-page-section>
        <app-page-section-content>
          <mat-expansion-panel class="expansion-panel">
            <mat-expansion-panel-header>
              <mat-panel-title> Initial </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list>
              @for (fact of (planning_model$ | async)?.initial; track fact) {
                <mat-list-item>
                  {{ factOut(fact) }}
                </mat-list-item>
              }
            </mat-list>
          </mat-expansion-panel>
        </app-page-section-content>
      </app-page-section>
    </app-page-section-list>
  </app-page-content>
</app-page>