<app-page>
  <app-breadcrumb>
    <a app-breadcrumb-item [routerLink]="['/project/' + (project$ | async)?._id + '/features']"><mat-icon>home</mat-icon></a>
    <app-breadcrumb-item>Planning Task</app-breadcrumb-item>
  </app-breadcrumb>
  <app-page-title>Project</app-page-title>

  <app-page-content>

    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> Types </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let type of (planning_model$ | async)?.types">
          {{ type.name }}: {{ type.parent }}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> Predicates </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item
          *ngFor="let predicate of (planning_model$ | async)?.predicates"
        >
          {{ predicatOut(predicate) }}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> Actions </mat-panel-title>
      </mat-expansion-panel-header>
      <app-complete-action
        *ngFor="let a of (planning_model$ | async)?.actions"
        [action]="a"
      ></app-complete-action>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> Objects </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let object of (planning_model$ | async)?.objects">
          {{ object.name }} {{ object.type }}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> Constants </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let object of (planning_model$ | async)?.constants">
          {{ object.name }} {{ object.type }}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> Initial </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let fact of (planning_model$ | async)?.initial">
          {{ factOut(fact) }}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </app-page-content>
</app-page>