.variable-icon {
    margin: auto 30px;
    /* margin: 20px 30px 10px 30px; */
}

.variable-icon:hover {
    cursor: pointer;
}

.variable-value {
    margin: auto 30px;
    /* margin: 20px 30px 10px 30px; */
    font-weight: bold;
    font-size: x-large;
}

.variable-value:hover {
    cursor: pointer;
}