<div class="step-container">
  <mat-card class="step-card" [routerLink]="['./original-task']" *ngIf="(runs$ | async).length === 0">
    <mat-card-header>
      <div mat-card-avatar><span class="material-icons">games</span></div>
      <mat-card-title>Original Task</mat-card-title>
      <mat-card-subtitle>Task</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <span class="material-icons" style="position: absolute; right: 10px; bottom: 10px">create</span>
    </mat-card-content>
  </mat-card>
  <mat-card class="step-card" *ngFor="let run of runs$ | async"
           [routerLink]="run.type.valueOf() == 'PLAN' ? ['./planning-step', run._id] : ['./question-step', run._id]">
      <mat-card-header>
        <div mat-card-avatar><span class="material-icons">games</span></div>
        <mat-card-title>{{run.name}}</mat-card-title>
        <mat-card-subtitle>{{run.type}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <span *ngIf="run.status === 0" class="material-icons" style="position: absolute; right: 10px; bottom: 10px">sync</span>
        <span *ngIf="run.status === 2" class="material-icons" style="position: absolute; right: 10px; bottom: 10px">error</span>
        <span *ngIf="run.status === 3" class="material-icons" style="position: absolute; right: 10px; bottom: 10px">done</span>

        <button mat-icon-button [matMenuTriggerFor]="menu" style="position: absolute; left: 4px; bottom: 4px;">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="delete(run)">
            <mat-icon>delete</mat-icon>
            <span>delete</span>
          </button>
        </mat-menu>
      </mat-card-content>
  </mat-card>
  <div style="display: flex; flex-direction: column; justify-content: space-evenly;">
    <button mat-flat-button color="accent" style="margin: 5px;" (click)="new_question()">Question</button>
    <button mat-flat-button color="accent" style="margin: 5px;" (click)="new_planning_step()">Plan</button>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>
