<mat-card class="action-card">
  <mat-card-header>
    <mat-card-title>
      {{ action.name }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content style="display: flex; flex-direction:column; gap: 10px; margin: 20px;">
    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> Parameter </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @for (p of this.action()?.parameters; track p) {
          <mat-list-item>
            {{ p.name }} {{ p.type }}
          </mat-list-item>
        }
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> Precondition </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @for (p of this.action()?.precondition; track p) {
          <mat-list-item>
            {{ factOut(p) }}
          </mat-list-item>
        }
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> Effect </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        @for (p of this.action()?.effect; track p) {
          <mat-list-item>
            {{ factOut(p) }}
          </mat-list-item>
        }
      </mat-list>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
