<app-dialog *transloco="let t">
    <app-dialog-header>
        <app-dialog-title>Select Planner Service</app-dialog-title>
    </app-dialog-header>
    <app-dialog-content>
        <div class="button-container">
            @if(planners.length > 0){
                @for(planner of planners; track planner._id){
                    <button mat-button class="full-width" (click)="onStart(planner)">
                        {{planner.name}}
                    </button>
                }
            }
            @else{
                <p>No planner service available!</p>
            }
        </div>
    </app-dialog-content>
    <app-dialog-footer>
        <button mat-button (click)="onCancel()">{{t('f.cancel')}}</button>
    </app-dialog-footer>
</app-dialog>