<app-dialog>
    <app-dialog-header>
        <app-dialog-title>New Prompt</app-dialog-title>
    </app-dialog-header>
    <app-dialog-content>
        <form>
            <div class="inputs-list">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput [formControl]="form.controls.name">
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Agent</mat-label>
                    <mat-select [formControl]="form.controls.agent" required>
                      @for (type of agentTypes; track type) {
                        <mat-option [value]="type">{{type}}</mat-option>
                      }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Prompt Type</mat-label>
                    <mat-select [formControl]="form.controls.type" required>
                      @for (type of promptTypes; track type) {
                        <mat-option [value]="type">{{type}}</mat-option>
                      }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Domain</mat-label>
                    <mat-select [formControl]="form.controls.domain" required>
                      @for (domain of data.domains; track domain._id) {
                        <mat-option [value]="domain._id">{{domain.name}}</mat-option>
                      }
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </app-dialog-content>
    <app-dialog-footer>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-flat-button (click)="onCreate()" [disabled]="!form.valid">Create</button>
    </app-dialog-footer>
</app-dialog>

