<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      <app-label
        [color]="step()?.plan?.status | stepStatusColor"
      >{{ step()?.plan?.status | stepStatusName }}</app-label>
    </mat-card-title>
    
    <!-- absolute position so that title is properly centered, even with step status -->
    <div style="position: absolute; left: 50%; transform: translateX(-50%);">
      <mat-card-title>
        Information for {{ step()?.name ?? 'Step ?' }}
      </mat-card-title>
    </div>
    
  </mat-card-header>

  <mat-card-content>
    <div class="content">
      <div class="stats">
        <mat-icon>emoji_events</mat-icon>
        <span class="property-label">Enforced Goals:</span>
        <span class="property-value">{{ step()?.hardGoals?.length }}</span>

        <mat-icon *isProject>flag_check</mat-icon>
        <span class="property-label" *isProject>Soft Goals:</span>
        <span class="property-value" *isProject>{{ step()?.softGoals?.length }}</span>
      </div>

      <div class="plan-link-container">
        @if(solved()){
          <a mat-button [routerLink]="['plan']" *isProject>
            <mat-icon>explore</mat-icon>
            Show Plan
          </a>
        }
        @else{
          <a mat-button [routerLink]="['plan']" *isProject [disabled]="true">
            <mat-icon>explore</mat-icon>
            No Plan available
          </a>
        }
        <button mat-button (click)="openTaskInfo()" *isDemo>
          <mat-icon>info</mat-icon>
          Show Task Information
        </button>
      </div>


      <div class="utility-group" *isDemo>
        <div class="utility">
          <mat-icon>workspace_premium</mat-icon>
          <div class="utility-value-container">
            <span class="value" *isDemo>{{ (currentUtility() | default : '-') + '/' + maxOverallUtility() }}</span>
            <span class="label">Utility</span>
          </div>
        </div>

        <div class="utility">
          <mat-icon>diamond</mat-icon>
          <div class="utility-value-container">
            <span class="value">{{ (computeCurrentPayment() | currency:'GBP':'symbol':'1.0-0') + '/' + (maxPayment() | currency:'GBP':'symbol':'1.0-0') }}</span>
            <span class="label">Bonus Reward</span>
          </div>
        </div>
      </div>


      <div class="utility" *isProject>
        <mat-icon>workspace_premium</mat-icon>
        <div class="utility-value-container">
          <span class="value">{{ step() | stepValue : planProperties() | default : '-/-'}}</span>
          <span class="label">Utility</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
