<div class="main-container">
  <mat-card class="card-style">
    <mat-card-header>
      <mat-card-title>Thank you very much!</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content-style">
      <div class="content-style">
        <h2>Thank you very much for participating.</h2>
        <button
          mat-flat-button
          color="primary"
          style="width: 200px"
          (click)="redirectTo()"
        >
          Back to Prolific
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
