@import '../../../../variables.scss';

.main-container-mobile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}


.demo-card-mobile {
  box-sizing: border-box;
  margin: 10px 10px;
}


.main-container-web{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: stretch;
  overflow: scroll;
}

.demo-card-web {
  box-sizing: border-box;
  width: 25%;
  height: auto;
  margin: 10px;
}
