@import "../../../../../variables.scss";

.main-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: grid;
  grid-template-rows: 50px 1fr;
  gap: 10px;
}

.basic-card {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  width: 100%;
}

.card-content {
  box-sizing: border-box;
}

.expert-view-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


.property-card-mobile {
  width: 95%;
  margin: 5px auto;
}

.property-icon {
  display: block;
  float: left;
  background: $accent;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  color: #000000;
  line-height: 40px;
  font-weight: bold;
}

.property-card-not-selected {
  opacity: 0.3;
}

h2 {
  margin: 5px;
}

.property-table {
  overflow: auto;
  width: 100%;
}

.value-form-field {
  width: 50px;
}

.action-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.color-form-field {
  width: 100px;
}

.color-box {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.color-box-nc {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 5px;
}

.color-input {
  display: flex;
}

.actions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.propClassContainer:hover {
  cursor: pointer;
}