@use '../../../../variables' as vars;

.tick {
  position: absolute;
  top: -4px; // make it stick out above the bar
  height: 18px;
  width: 2px;
  background-color: black;
  transform: translateX(-50%);
  z-index: 10;
}

.content {
  padding-top: var(--spacing-100);

  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;

  gap: var(--spacing-100);
}

.task-info {
  padding-top: var(--spacing-100);

  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;

  gap: var(--spacing-100);
}

.stats {
  height: fit-content;

  display: grid;
  grid-template-columns: auto auto minmax(0, 1fr);
  align-items: end;

  column-gap: var(--spacing-100);
}

.plan-link-container {
  display: grid;
  justify-content: center;
}

.progress-wrapper {
  min-width: 200px;
  position: relative;
}

.progress-bar-background {
  @include vars.color(secondary);
  // below: workaround to set opacity -- doing so directly affects children which we don't want
  background-color: color-mix(in srgb, currentColor 10%, transparent);
  height: 10px;
  border-radius: 0px; // use bigger number for rounded edges, e.g., 5px;
  overflow: hidden;
}

.progress-bar-fill {
  @include vars.color(secondary);
  background-color: currentColor;
  opacity: 0.9;
  height: 100%;
  width: 0%;
  transition: width 0.3s ease;
}

.progress-container {
  position: relative;
  width: 100%;
}

.utility-markers {
  position: absolute;
  bottom: 10px; // just above the progress bar
  left: 0;
  width: 100%;
  height: 20px;
}

.payment-markers {
  position: absolute;
  top: 14px; // just under the progress bar
  left: 0;
  width: 100%;
  height: 20px;
}

.marker {
  position: absolute;
  transform: translateX(-50%);
  font-size: 0.75rem;
  white-space: nowrap;
  @include vars.typography(label-small);
}

.progress-label {
  // font-weight: bold;
  @include vars.typography(label-small);
  text-align: center;

  &.top-label {
    margin-bottom: 24px;
  }

  &.bottom-label {
    margin-top: 24px;
  }
}

.utility-group {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 40px;
}

.utility {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: end;

  mat-icon {
    grid-row: 1;
    grid-column: 1;

    opacity: 0.1;
    --icon-size: 96px;
    font-size: var(--icon-size);
    width: var(--icon-size);
    height: var(--icon-size);
    @include vars.color(secondary);
  }

  .utility-value-container{
    grid-row: 1;
    grid-column: 1;

    display: grid;
    align-items: center;
    justify-items: center;

    gap: var(--spacing-100);


    .value {
      @include vars.typography(headline-small);
    }

    .label {
      @include vars.typography(label-small);
    }
  }

}

.property-label {
  @include vars.typography(label-small);
  @include vars.color(on-surface-variant);
}

.property-value {
  @include vars.typography(body-large);
  line-height: 1;
}

mat-icon {
  ::ng-deep .material-icons {
    font-size: 12px;
  }
}
