  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title
        >Description
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <form [formGroup]="form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-tab-group>
          <mat-tab label="Write">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Description for the user study participants</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
          </mat-tab>
          <mat-tab label="Preview">
            <div [innerHTML]="description$ | async | marked" class="content">
            </div>
          </mat-tab>
        </mat-tab-group>
        <mat-label>Minimal time before user is able to continue with the next step:</mat-label>
        <mat-slider min="1" max="1800" step="1"  discrete [displayWith]="formatLabel" class="full-width">
          <input matSliderThumb [formControl]="form.controls.time">
        </mat-slider>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button (click)="deletePart()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="moveUp()" [disabled]="first()">
        <mat-icon>keyboard_arrow_up</mat-icon>
      </button>
      <button mat-icon-button (click)="moveDown()" [disabled]="last()">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
