<div class="list" *transloco="let t">
    @for(section of sections(); track section._id; let last = $last; let idx = $index){
        <app-section-card
            [section]="section"
            [flight]="flights()?.[idx]"
        >
        </app-section-card>
        @if(last){
            <button mat-flat-button 
            (click)="onNextFlightPlan(section)"
            [disabled]="!lastSectionFinished()"
            >
                {{t('f.plan_next_flight')}}
            </button>
        }
    }
</div>