@let interfaceType = explanationInterfaceType$ | async;
@let isExplanationLoading = isExplanationLoading$ | async;

@if(isUnsolvable()){
  <app-question-form
    [isLoading]="isExplanationLoading"
    [availableQuestions]="globalAvalableQuestionTypes$ | async"
    [demoId]="(step$ | async)?.project"
    [stepId]="(step$ | async)?._id"
    (questionSelected)="answers$($event, property())"
  >
  </app-question-form>

    @if(interfaceType === ExplanationInterfaceType.MUGS_VISUALIZATION_ANSWER){
        <app-user-study-mugs-visualization *ngIf="globalAnswers | async as answers"
                                           [answer]="answers"
                                           [createUniqueIds]="false"
                                           [property]="property()"
        >
        </app-user-study-mugs-visualization>
    }

    @if(interfaceType === ExplanationInterfaceType.CONFLICT_LIST){
        <app-conflict-lists *ngIf="globalAnswers | async as answers"
                [answer]="answers"
                [planProperties] ="planProperties$ | async"
        ></app-conflict-lists>
    }


}@else{
  <app-question-form
    [isLoading]="isExplanationLoading"
    [availableQuestions]="propertyAvailableQuestionTypes$(property()) | async"
    [demoId]="(step$ | async)?.project"
    [stepId]="(step$ | async)?._id"
    (questionSelected)="answers$($event, property())"
  >
  </app-question-form>

    @if(interfaceType === ExplanationInterfaceType.MUGS_VISUALIZATION_ANSWER){
        <app-user-study-mugs-visualization *ngIf="globalAnswers | async as answers"
                                           [answer]="answers"
                                           [createUniqueIds]="true"
                                           [property]="property()"
        >
        </app-user-study-mugs-visualization>
    }

    @if(interfaceType === ExplanationInterfaceType.CONFLICT_LIST){
        <app-conflict-lists *ngIf="globalAnswers | async as answers"
                [questionArgument]="property()?._id"
                [answer]="answers"
                [planProperties] ="planProperties$ | async"
        ></app-conflict-lists>
    }
}
