@use '../../../../../variables' as vars;

.info-container {
  padding: var(--spacing-200);

  width: 100%;

  display: flex;
  flex-direction: row;
  gap: var(--spacing-200);

  border-radius: var(--radius-100);
  @include vars.background-color(primary-container);
  @include vars.color(on-primary-container);

  @include vars.typography(body-medium);

  & > ::ng-deep* {
    flex-basis: fit-content;
  }

  & > ::ng-deep mat-icon {
    flex-basis: auto;
  }
}
