<app-dialog>
    <app-dialog-header>
        <app-dialog-title>Create New Plan Property</app-dialog-title>
    </app-dialog-header>
    <app-dialog-content>
        <mat-stepper linear #stepper>

            <mat-step label="Select Template">
                <div class="class-list">
                @for(class of groupedTemplates$ | async | keyvalue ; track class){
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title> {{ class.key }} </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="template-buttons-container">
                            @for(template of class.value; track template){
                                <button mat-stroked-button (click)="selectTemplate(template, stepper)"> {{ template.nameTemplate }} </button>
                            }
                        </div>
                    </mat-expansion-panel>
                }
                </div>
            </mat-step>

            <mat-step label="Select Objects">
                <div style="box-sizing: border-box; margin-top: 20px; margin-bottom: 20px;">
                    <mat-card class="template-card">
                        <mat-card-content>
                        <div style="padding: 20px 0px 20px 0px">
                            @for(part of templateParts; track part){
                                @if(part.isVar){
                                    <app-property-template-part 
                                        [values]="part.possibleValues"
                                        [isSelected]="part.isSelected"
                                        [selectedValue]="part.text"
                                        (value)="selectVariableValue(part.var, $event)"
                                        (reset)="resetVariableValue(part.var)">
                                    </app-property-template-part>
                                }
                                @else{
                                    <span style="font-size: large">
                                        {{ part.text }}
                                    </span>
                                }
                            }
                        </div>
                        </mat-card-content>
                    </mat-card>
                </div>
                <!-- <div>
                    <button mat-button matStepperPrevious>Back</button>
                </div> -->
            </mat-step>

        </mat-stepper>
    </app-dialog-content>
    <app-dialog-footer>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-flat-button (click)="onCreateProperty()" [disabled]="!allSelected">Create</button>
    </app-dialog-footer>
</app-dialog>
