@use "../../../../../../variables.scss" as vars;

.main{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500)
}

.controls {
    display: flex;
    justify-content: space-between;
}
