.explanation-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-600);
    width: 100%;
    overflow-x: scroll;
}

.plans-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-600);
    width: 100%;
    overflow-x: scroll;
}