<div [class.container-mobile]="isMobile" [class.container-web]="! isMobile">

  <mat-card *ngFor="let study of userStudies$ | async" [class.card-mobile]="isMobile" [class.card-web]="! isMobile">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>question_answer</mat-icon>
      </div>
      <mat-card-title>
        {{study.name}}
      </mat-card-title>
      <mat-card-subtitle>User Study</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div style="border-left-style: solid; border-left: #5e5e5e; border-width: 5px;">
        <p>{{study.description}}</p>
      </div>
      <div style="padding: 20px 0; font-size: large; font-weight: bold;">
        <p>ID: {{study._id}}</p>
        <span class="material-icons" style="margin-right: 20px;">date_range</span>
        {{study.startDate | date}}
         -
        {{study.endDate | date}}
      </div>
      <mat-form-field style="width: 100%">
        <mat-label>Link</mat-label>
        <input matInput type="text" [value]="getStudyLink(study)" [readonly]="true">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button (click)="delete(study)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="openInfo(study)">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-icon-button [routerLink]='"./" + study._id + "/run/start"'>
        <mat-icon>play_arrow</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <button mat-fab color="accent" class="add-button" (click)="newUserStudy()">
    <mat-icon>add</mat-icon>
  </button>
</div>
