<div class="main-container">
  <app-selected-hard-goals></app-selected-hard-goals>

  <app-relaxation-selector clas="sub-content"></app-relaxation-selector>

  <mat-card class="actions-container">
    <button mat-flat-button color="primary"
        *ngIf="! (step$ | async)?.canBeModified() && ! (step$ | async)?.hasPlan()"
        (click)="computePlan()">
        Compute Plan
      </button>
      <button mat-flat-button color="primary"
        (click)="addNewStep()"
        *ngIf="(step$ | async)?.canBeModified()">
        Add Step
      </button>
      <button mat-icon-button color="primary" style="margin-right: auto;"
        (click)="deleteStep()">
        <mat-icon>delete</mat-icon>
      </button>
  </mat-card>
</div>


