<mat-horizontal-stepper linear #stepper>
  <mat-step>
    <ng-template matStepLabel>Domain</ng-template>
    <app-template-pddl-file></app-template-pddl-file>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Problem</ng-template>

  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Properties</ng-template>
    <app-template-property-selecter></app-template-property-selecter>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Explanation</ng-template>

  </mat-step>
</mat-horizontal-stepper>



