<app-page>
  <app-page-title>Projects</app-page-title>
  <app-page-content>
    <div class="project-container">
      <mat-card
        appearance="outlined"
        *ngFor="let projectMetaData of projectsMetaData$ | async"
        class="project-card">
        <mat-card-header>
          <div mat-card-avatar>
            <span class="material-icons"> games </span>
          </div>
          <mat-card-title>{{ projectMetaData.name }}</mat-card-title>
          <mat-card-subtitle>Project</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ projectMetaData.description }}
          </p>
        </mat-card-content>

        <mat-card-actions style="display: flex; flex-direction: row; justify-content: flex-end;">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <button mat-icon-button [routerLink]="['/project', projectMetaData._id]">
            <mat-icon>play_arrow</mat-icon>
          </button>
        </mat-card-actions>
        <mat-menu #menu="matMenu" yPosition="below">
          <button mat-menu-item (click)="openDeleteDialog(projectMetaData)">
            <mat-icon>delete</mat-icon>
            <span>delete</span>
          </button>
        </mat-menu>
      </mat-card>


      <button app-action-card class="project-card" (click)="new_project_form()" *ngIf="(projectCreationNone$ | async)">
          <span>New Project</span>
          <mat-icon>add</mat-icon>
      </button>

      <mat-card *ngIf="(projectCreationPending$ | async)"
        appearance="outlined"
        class="project-card">
        <mat-card-header>
          <div mat-card-avatar>
            <span class="material-icons"> games </span>
          </div>
          <mat-card-title>New Project</mat-card-title>
          <mat-card-subtitle>Project</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>

        <mat-card-actions style="display: flex; flex-direction: row; justify-content: flex-end;">
          <mat-spinner></mat-spinner>
        </mat-card-actions>
      </mat-card>

      <mat-card *ngIf="(projectCreationError$ | async)"
      appearance="outlined"
      class="project-card">
      <mat-card-header>
        <div mat-card-avatar>
          <span class="material-icons"> games </span>
        </div>
        <mat-card-title>New Project</mat-card-title>
        <mat-card-subtitle>Project</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>

      <mat-card-actions style="display: flex; flex-direction: row; justify-content: flex-end;">
        <mat-icon fontIcon="error"></mat-icon>
      </mat-card-actions>
    </mat-card>

    </div>
  </app-page-content>
</app-page>
