@import '../../../../variables.scss';

.tree-card {
  box-sizing: border-box;
  height: 100%;
}

.full-width {
  width: 100%;
}

.small-width {
  width: 50px;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  cursor: pointer;
}

.fail-icon {
  color: $warn;
}

.finished-icon {
  color: $primary
}

.noSolution-icon {
  color: $accent
}

.highlight {
  color: $accent;
}
