<div class="container-web">
  <mat-card *ngFor="let s of metaStudies$ | async">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>question_answer</mat-icon>
      </div>
      <mat-card-title>
        {{ s.name }}
      </mat-card-title>
      <mat-card-subtitle>Meta Study</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ getStudyLink(s) }}</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button (click)="deleteMetaStudy(s)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="openMetaStudy(s)">
        <mat-icon>info</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <button mat-fab color="accent" class="add-button" (click)="newMetaStudy()">
    <mat-icon>add</mat-icon>
  </button>
</div>
