<app-page-full *transloco="let t">
    <app-page-title>
       {{t('f.flight_sections')}}
    </app-page-title>
    <app-page-content>
        <app-page-section-list>
            <app-page-section>
                <app-page-section-content>
                    <app-controls></app-controls>
                </app-page-section-content>
            </app-page-section>
            <app-page-section>
                <app-page-section-content>
                    <div class="main-grid">
                        @for(flight of flights(); track flight.name){
                            <app-flight-info-card
                                [flight]="flight"
                            >
                            </app-flight-info-card>
                        }
                    </div>
                </app-page-section-content>
            </app-page-section>
        </app-page-section-list>
    </app-page-content>
</app-page-full>
