<app-page-full *transloco="let t">
    <app-breadcrumb>
        <a app-breadcrumb-item [routerLink]="['/beluga/projects/' + project()?._id]"><mat-icon>home</mat-icon></a>
        <a app-breadcrumb-item [routerLink]="['/beluga/flight-section-planning/' + project()?._id]"><mat-icon>connecting_airports</mat-icon></a>
        <app-breadcrumb-item>Plan {{ name() }}</app-breadcrumb-item>
    </app-breadcrumb>
    <app-page-title>
      Plan Inspector: {{ name() }}
    </app-page-title>
    <app-page-content>
        <app-page-section-list>
            <app-page-section>
                <app-page-section-content>
                   <app-trace-inspector
                        [startState]="startState()"
                        [actions]="actions()"
                        [siteSetUp]="siteSetUp()"
                        [flightSchedule]="flightSchedule()"
                        [productionSchedule]="productionSchedule()"
                    >
                    </app-trace-inspector>
                </app-page-section-content>
            </app-page-section>
        </app-page-section-list>
    </app-page-content>
</app-page-full>
