<mat-card appearance="outlined" class="card">


  @if (notSolvable$ | async) {
    <mat-card-header>
      <mat-card-title>Plan</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        There exists no plan. The selection of soft goals is not solvable.
      </p>
    </mat-card-content>
  }


  @if (solved$ | async) {
    <mat-card-header>
      <mat-card-title>Plan</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div >
        @for (action of actions$ | async; track action) {
          <p class="actions">
            <span style="font-weight: 500;">{{ action.name }}</span>(
            @for (p of action.params; track p) {
              {{ p }}
              @if (!$last) {, }
                })
              </p>
            }
          </div>
        </mat-card-content>
      }
    </mat-card>
