@let demo = demo$ | async;

<app-page>
	<app-breadcrumb>
		<a app-breadcrumb-item [routerLink]="['/project/' + demo?.projectId]"><mat-icon>home</mat-icon></a>
		<a app-breadcrumb-item [routerLink]="['../..']">Demos</a>
		<app-breadcrumb-item>{{ demo?.name }}</app-breadcrumb-item>
	</app-breadcrumb>

	<app-page-title>
	{{ demo?.name }}
	<app-page-title-action>
		<button mat-icon-button matTooltip="Run iterative planning."
			(click)="onRunIterPlanning()">
		<mat-icon>play_arrow</mat-icon>
		</button>
		<button mat-icon-button matTooltip="Delete demo."
			(click)="onDelete()">
		<mat-icon>delete</mat-icon>
		</button>
	</app-page-title-action>
	</app-page-title>

	<app-page-hero>
		<app-demo-hero [demo]="demo$ | async" [planProperties]="planPropertiesList$ | async"> 
		</app-demo-hero>
	</app-page-hero>

  	<app-page-content>
     
		<app-page-section-list>

			<app-page-section>
				<app-page-section-title>Goals</app-page-section-title>
				<app-page-section-content>				
					<div class="property-list">
						@for(property of (planPropertiesList$ | async); track property) {
							<app-plan-property-panel [property]="property"></app-plan-property-panel>
						}
					</div>
				</app-page-section-content>
			</app-page-section>
		
			<app-page-section>
				<app-page-section-title>Conflicts</app-page-section-title>
				<app-page-section-content>
					<div class="list-list">
						@for(MUGS of (MUGS$ | async); track MUGS) {
						<div class="property-badge-list">
							<mat-icon>report</mat-icon>
							@for(id of MUGS; track id) {
							<app-plan-property-badge [property]="(planProperties$ | async)?.[id]"></app-plan-property-badge>
							}
						</div>
						}
					</div>
				</app-page-section-content>
			</app-page-section>

			<app-page-section>
				<app-page-section-title>Corrections</app-page-section-title>
				<app-page-section-content>
					<div class="list-list">
						@for(MGCS of (MGCS$ | async); track MGCS) {
						<div class="property-badge-list">
							<mat-icon>healing</mat-icon>
							@for(id of MGCS; track id) {
							<app-plan-property-badge [property]="(planProperties$ | async)?.[id]"></app-plan-property-badge>
							}
						</div>
						}
					</div>
				</app-page-section-content>
			</app-page-section>

			<app-page-section>
				<app-page-section-title>Settings</app-page-section-title>
				<app-page-section-content>
					<app-settings [settings]="demo?.settings" (update)="updateSettings($event)"></app-settings>
				</app-page-section-content>
			</app-page-section>
		</app-page-section-list> 
	</app-page-content>
</app-page>