<div class="main-container">
  <!-- <div class="info-container">
      <h2>Fuel:</h2>
      <ng-container *ngIf="task">
        <h2 *ngFor="let truckItem of (task.trucks | keyvalue)" style="margin: 5px;">
          <span style="font-weight: bold;">{{truckItem.value.name}}</span>: {{truckItem.value.currentFuel}}/{{truckItem.value.startFuel}}
        </h2>      <app-plan
      </ng-container>
  </div> -->
  <div class="plan-container" id="mapContainer">
    <!-- <svg class="svg-container" #planSVG id="planSVG">

    </svg> -->
    <canvas #planvisualizationcanvas id="planvisualizationcanvas" style="width: 100%; height: 100%">

    </canvas>
  </div>
  <div class="button-container" *ngIf="animationHandler">
    <button mat-icon-button (click)="animationHandler.stepBack()"
    [disabled]="! (animationHandler.currentAnimationHasPreviousEvent | async) || ! (animationHandler.currentAnimationPausedEvent | async)">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button *ngIf="animationHandler.currentAnimationPausedEvent | async"
      (click)="animationHandler.play()" [disabled]="! (animationHandler.currentAnimationHasNextEvent | async)">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button mat-icon-button *ngIf="! (animationHandler.currentAnimationPausedEvent | async)"
      (click)="animationHandler.pause()" [disabled]="! (animationHandler.currentAnimationHasNextEvent | async)">
      <mat-icon>pause</mat-icon>
    </button>
    <button mat-icon-button (click)="animationHandler.stepForward()"
    [disabled]="! (animationHandler.currentAnimationHasNextEvent | async) || ! (animationHandler.currentAnimationPausedEvent | async)">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <button mat-icon-button (click)="animationHandler.restart()"
    [disabled]="! (animationHandler.currentAnimationPausedEvent | async)">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <!-- <button mat-fab color="accent" class="add-button" (click)="newQuestion()">
    <mat-icon svgIcon="questionmark"></mat-icon>
  </button> -->
</div>
