<app-page>
    <app-breadcrumb>
		<a app-breadcrumb-item [routerLink]="['../..']"><mat-icon>connecting_airports</mat-icon></a>
        <a app-breadcrumb-item [routerLink]="['..']">{{ project()?.name }}</a>
		<app-breadcrumb-item><mat-icon>settings</mat-icon></app-breadcrumb-item>
	</app-breadcrumb>

    <app-page-title>
        Settings: {{project()?.name}}
    </app-page-title>

    <app-page-content>

        <form class="settings-form"
        [formGroup]="form"
        (ngSubmit)="onSave()">


			<mat-card appearance="outlined">
				<mat-card-header>
				<mat-card-title>
					Services
				</mat-card-title>
				</mat-card-header>

				<mat-card-content class="sub-card-content">

				@if (planners()?.length > 0){
					<mat-form-field appearance="outline" class="full-width">
						<mat-label>Planners</mat-label>
						<mat-select [formControl]="form.controls.services.controls.planners" multiple>
							<option value="" disabled selected></option>
							@for (planner of planners(); track planner._id) {
							<mat-option [value]="planner._id">{{planner.name}}</mat-option>
							}
						</mat-select>
					</mat-form-field>
				}
				@else{
					<p>No planner services available. Please register a planner service in the specifications.</p>
				}

				@if (explainer()?.length > 0){
				<mat-form-field appearance="outline" class="full-width">
					<mat-label>Explainers</mat-label>
					<mat-select [formControl]="form.controls.services.controls.explainer" multiple>
					<option value="" disabled selected></option>
					@for (exp of explainer(); track exp._id) {
						<mat-option [value]="exp._id">{{exp.name}}</mat-option>
					}
					</mat-select>
				</mat-form-field>
				}
				@else{
					<p>No explainer services available. Please register a explainer service in the specifications.</p>
				}

				@if (tester()?.length > 0){
				<mat-form-field appearance="outline" class="full-width">
				<mat-label>Tester</mat-label>
				<mat-select [formControl]="form.controls.services.controls.tester" multiple>
					<option value="" disabled selected></option>
					@for (s of tester(); track s._id) {
					<mat-option [value]="s._id">{{s.name}}</mat-option>
					}
				</mat-select>
				</mat-form-field>
				}
				@else{
					<p>No tester services available. Please register a tester service in the specifications.</p>
				}


				</mat-card-content>
			</mat-card>

			<mat-card appearance="outlined">
				<mat-card-header>
				<mat-card-title>
					Interfaces
				</mat-card-title>
				</mat-card-header>

				<mat-card-content class="sub-card-content">

				<mat-label matTooltip="Interface used for providing explanations">
				Explanation Interface
				</mat-label>
				<mat-button-toggle-group  [formControl]="form.controls.interfaces.controls.explanationInterfaceType">
				<mat-button-toggle [value]="ExplanationTypes.MANUAL">Manual</mat-button-toggle>
				<mat-button-toggle [value]="ExplanationTypes.AUTOMATIC">Automatic</mat-button-toggle>
				<mat-button-toggle [value]="ExplanationTypes.MIXED">Mixed</mat-button-toggle>
				</mat-button-toggle-group>
			

				</mat-card-content>
			</mat-card>

			<div class="button-container">
				<button mat-flat-button>Save</button>
			</div>
 	 	</form>
    </app-page-content>
</app-page>
