.main{
    display: grid;
    grid-template-rows: 1fr 2fr auto;
    grid-template-columns: auto;
    gap: var(--spacing-500);
}

.controls{

}

.plan{

}

.grid{
    display: grid;
    grid-template-columns: 2fr 2fr auto 2fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: var(--spacing-300);
    align-items: center;

    min-height: 200px;
}

.full-height{
    height: 100%;
}

.header{
    font-size: larger;
    font-weight: 500;
}