
@let remainingSeconds = remainingSeconds$ | async;
@let remainingMinutes = remainingMinutes$ | async;

@if((loggedIn$ | async) && (!(allStepsFinished$ | async))){
<div class="container">
    @if(remainingMinutes &&  remainingMinutes >= 1){
      <span>{{ remainingMinutes ?? '?'}} min</span>
    }
    @else{
      <span>{{ remainingSeconds ?? '?'}} sec</span>
    }
  <mat-progress-bar mode="determinate" [value]="remainingTimeFraction$ | async"></mat-progress-bar>
  <button mat-stroked-button (click)="onCancel()"><mat-icon>cancel</mat-icon>Cancel</button>
  <button mat-flat-button (click)="onNext()" [disabled]="!(allowContinue$  | async)"><mat-icon>play_arrow</mat-icon>Continue</button>
</div>
}

