@use "../../../../../../variables.scss" as vars;

.container {
    display: flex;
    flex-direction: column;
}

.info-container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
    align-items: flex-end;
}

.rack {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: var(--rack);
    height: 50px;

    border: solid;
    border-width: 1px;
    border-color: var(--rack);
    border-radius: var(--spacing-050);
}

.dragTarget{
    outline: solid;
    outline-width: 2px;
    outline-offset: -2px;
}

.noDragTarget{
    opacity: 50%;
}

.maintenance{
    opacity: 30%;
}

.error{
    font-weight: 600;
    color: red
}