@use "../../../../../../variables.scss" as vars;

.container {
    display: flex;
    flex-direction: column;
}

.info-container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
}

.rack {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(193, 195, 212);
    height: 50px;

    border: solid;
    border-width: 1px;
    border-color: rgb(90, 101, 206);
    @include vars.border_color();
    border-radius: var(--spacing-050);
}