@use "@angular/material" as mat;

@use "../../../../../../variables" as vars;
@use "../../../../../../ipexco-theme" as ipexco-theme;

.container {
    display: flex;
    flex-direction: column;
}

.info-container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
    align-items: flex-end;
}

.rack {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: var(--rack);
    height: var(--rack-height);

    border: solid;
    border-width: 1px;
    border-color: var(--rack);
    border-radius: var(--spacing-050);

    transition: scale 200ms;
}

.dragTarget{
    outline: dashed;
    outline-color: #{mat.get-theme-color(ipexco-theme.$light-theme, outline-variant)};;
    outline-width: 4px;
    outline-offset: -4px;
    scale: 1.02;
}

.noDragTarget{
    opacity: 50%;
}

.maintenance{
    opacity: 30%;
}

.error{
    font-weight: 600;
    color: red
}

.inConflict {
    outline: solid;
    outline-width: 3px;
    outline-offset: -3px;
    @include vars.color(on-error-container);
    @include vars.background-color(error-container);
    opacity: 80%;
}
