<div class="container" >
    <div class="info-container">
        <span style="font-weight: 500;">{{ name() }}</span>
        <span>{{ occupied() }}/{{ size() }}</span>
        @if(maintenance()){
            <mat-icon class="error">construction</mat-icon>
        }
    </div>
    <div>
        <div 
            class="rack"  
            [class.maintenance]="maintenance()"
            [class.dragTarget]="dragTarget()"
            [class.noDragTarget]="noDragTarget()"
            [style.width]="((size() * 15) + 2) + 'px'"
        >
            <ng-content select="app-jig,app-drop-target"></ng-content>  
        </div>
    </div>
</div>