@use '../../../../variables' as vars;
@use '../../../../styles/container' as container;

.page-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: var(--page-grid-gap);
}
