<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      External Link
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <form [formGroup]="form">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Link to form</mat-label>
        <input matInput formControlName="url">
      </mat-form-field>
      <a mat-stroked-button [href]="url$ | async" target="_blank">Test Link</a>
    </form>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-icon-button (click)="deletePart()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="moveUp()" [disabled]="first()">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>
    <button mat-icon-button (click)="moveDown()" [disabled]="last()">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
