.full-width {
  width: 100%;
}

.content {
  box-sizing: border-box;
  margin-top: var(--sizing-200);

  display: flex;
  flex-direction: column;
  gap: var(--sizing-100);
}

.test-button{
  width: 100%;
  margin-bottom: var(--sizing-300);
}
