<div class="main-container">

  <div class="bottom-container">

    <div class="center-container">
      <app-iteration-steps-list
        style="height: 100%; overflow: auto"
      ></app-iteration-steps-list>
    </div>

    <div class="center-container" *ngIf="stepSelected$ | async">

    </div>

    <div
      class="center-container"
      *ngIf="!(stepSelected$ | async) && (newStep$ | async)">
      <app-new-step-navigator
        style="height: 100%;overflow: auto;">
      </app-new-step-navigator>
    </div>
  </div>
</div>
