<app-page>
  <app-breadcrumb>
    <a app-breadcrumb-item [routerLink]="['/user-studies/']"><mat-icon>home</mat-icon></a>
  </app-breadcrumb>
  <app-page-title>User Studies</app-page-title>

  <app-page-content>
    <div class="page-grid">
      @for(userStudy of userStudies$ | async; track userStudy._id) {
        <app-user-study-card [userStudy]="userStudy" [participants]="(participants$ | async)?.[userStudy._id]"></app-user-study-card>
      }

      <button app-action-card (click)="createNewUserStudy()">
        <div class="instructions">
          <span>Create a new user study.</span>
        </div>
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </app-page-content>
</app-page>
