<mat-tab-group>
  <mat-tab label="Project"> </mat-tab>

  <mat-tab label="Demo">
    <mat-horizontal-stepper>
      <mat-step label="Iterative Planning">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Subtitle</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content> Text content </mat-card-content>
        </mat-card>
      </mat-step>
      <mat-step label="Plan"> Content 2 </mat-step>
      <mat-step label="Question"> Content 3 </mat-step>
    </mat-horizontal-stepper>
  </mat-tab>

  <mat-tab label="Survey"> </mat-tab>
</mat-tab-group>
