<div class="main-conatiner">
  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>Hard Goals</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="(hardGoals$ | async)?.length > 0">
        <div>
          <div *ngFor="let pp of (hardGoals$ | async); last as last">
            <div class="list-item-container">
              <mat-icon matListIcon *ngIf="pp.globalHardGoal">star</mat-icon>
              <mat-icon matListIcon *ngIf="! pp.globalHardGoal">star_border</mat-icon>
              <div class="list-item-text">
                <span> {{pp.naturalLanguageDescription}} </span>
                <span> Utility: {{pp.value}} </span>
              </div>
              <div class="list-item-buttons">
                <button mat-icon-button
                  *ngIf="! pp.globalHardGoal"
                  (click)="deselectPP(pp)"
                  class="list-item-button">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </div>
            <mat-divider inset="true" *ngIf="!last"></mat-divider>
          </div>
        </div>
        </ng-container>
        <p *ngIf="(hardGoals$| async)?.length == 0">
          No hard goals selected.
        </p>
      </mat-card-content>
  </mat-card>

  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>Preferences</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="(possiblePP$ | async)?.length > 0">
        <div>
          <div *ngFor="let pp of (possiblePP$ | async); last as last">
            <div class="list-item-container">
              <mat-icon matListIcon *ngIf="pp.globalHardGoal">star</mat-icon>
              <mat-icon matListIcon *ngIf="! pp.globalHardGoal">star_border</mat-icon>
              <div class="list-item-text">
                <span> {{pp.naturalLanguageDescription}} </span>
                <span> Utility: {{pp.value}} </span>
              </div>
              <div class="list-item-buttons">
                <button mat-icon-button
                  (click)="selectPP(pp)"
                  class="list-item-button">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
            <mat-divider inset="true" *ngIf="!last"></mat-divider>
          </div>
        </div>
        </ng-container>
        <p *ngIf="(possiblePP$ | async)?.length == 0">
          No other preferences available.
        </p>
      </mat-card-content>
  </mat-card>

</div>

