<div class="main-conatiner">
  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>Enforced Goals</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="(hardGoals$ | async)?.length > 0">
        <div>
          <div *ngFor="let pp of hardGoals$ | async; last as last">
            <div class="list-item-container">
              <mat-icon matListIcon>{{pp.icon}}</mat-icon>
              <div class="list-item-text">
                <span> {{ pp.naturalLanguageDescription }} </span>
                <span *ngIf="( settings$ | async).usePlanPropertyValues"> Utility: {{ pp.value }} </span>
              </div>
              <div class="list-item-buttons">
                <button
                  mat-icon-button
                  *ngIf="!pp.globalHardGoal"
                  (click)="deselectPP(pp)"
                  class="list-item-button"
                >
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </div>
            <mat-divider inset="true" *ngIf="!last"></mat-divider>
          </div>
        </div>
      </ng-container>
      <p *ngIf="(hardGoals$ | async)?.length == 0">No hard goals selected.</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>Soft Goals</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngIf="(possiblePP$ | async)?.length > 0">
        <div>
          <div *ngFor="let pp of possiblePP$ | async; last as last">
            <div class="list-item-container">
              <mat-icon matListIcon>{{pp.icon}}</mat-icon>
              <div class="list-item-text">
                <span> {{ pp.naturalLanguageDescription }} </span>
                <span *ngIf="( settings$ | async).usePlanPropertyValues"> Utility: {{ pp.value }} </span>
              </div>
              <div class="list-item-buttons">
                <button
                  mat-icon-button
                  (click)="selectPP(pp)"
                  class="list-item-button"
                >
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
            <mat-divider inset="true" *ngIf="!last"></mat-divider>
          </div>
        </div>
      </ng-container>
      <p *ngIf="(possiblePP$ | async)?.length == 0">
        No other soft goals available.
      </p>
    </mat-card-content>
  </mat-card>
</div>
