 <div style="display: flex; flex-direction: row;">
  <h2 style="flex-grow: 10;">New Properties</h2>
  <mat-slide-toggle style="flex-grow: 1;" (change)="modeChange($event)">Expert Mode</mat-slide-toggle>
 </div>

  <form class="example-form" [formGroup]="propertyForm" (ngSubmit)="onSave()">
    <div *ngIf="expertMode">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>

      <mat-radio-group name="propertyType" formControlName="type" [(ngModel)]="propertyType">
        <mat-radio-button style="margin: 0px 5px" value="AS">AS</mat-radio-button>
        <mat-radio-button style="margin: 0px 5px" value="LTL">LTL</mat-radio-button>
        <mat-radio-button style="margin: 0px 5px" value="G">Goal</mat-radio-button>
      </mat-radio-group>


      <mat-form-field class="example-full-width">
        <mat-label>Formula</mat-label>
        <input matInput type="text" formControlName="formula">
      </mat-form-field>

      <mat-expansion-panel *ngIf="propertyType != 'G'">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Action Sets
          </mat-panel-title>
          <mat-panel-description>
            possibility to define action sets
          </mat-panel-description>
        </mat-expansion-panel-header>
            <div style="display: flex;">
              <mat-form-field class="example-full-width">
                <mat-label>action set name</mat-label>
                <input matInput type="text" formControlName="actionSetName">
              </mat-form-field>
              <button mat-icon-button color="accent" type="button" (click)="addActionSet()">
                <mat-icon>add_box</mat-icon>
              </button>
            </div>

        <mat-accordion *ngFor="let action_set of actionSets">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{action_set.name}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div style="display: flex; flex-direction: column; justify-content: center; width: 100%;">
                <mat-list *ngFor="let action of action_set.actions">
                  <mat-list-item>
                    {{action.name}}
                    <mat-divider [inset]="true"></mat-divider>
                  </mat-list-item>
                </mat-list>

                <div style="display: flex; width: 100%;">
                  <mat-form-field class="example-full-width">
                    <mat-label>Action Name</mat-label>
                    <input matInput type="text" [formControl]="actionSetFromControls.get(action_set.name)[0]" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onActionNameSelect($event, action_set)">
                      <mat-option *ngFor="let option of actionOptions" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <button mat-icon-button color="accent" type=button (click)="createAction(action_set)">
                    <mat-icon>add_box</mat-icon>
                  </button>
                </div>

              </div>
            </mat-expansion-panel>
            </mat-accordion>
      </mat-expansion-panel>
    </div>
    <div *ngIf="! expertMode">
      <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="true">
        <mat-step label="Select Property Template" [editable]="false">
          <mat-accordion #accordion="matAccordion" [multi]="true">
            <mat-expansion-panel *ngFor="let item of propertyClassMap | keyvalue">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{item.key}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-selection-list [multiple]="false" (selectionChange)="propTemplateSelect($event)">
                <mat-list-option *ngFor="let temp of item.value" [value]=temp>
                  {{temp.sentenceTemplate}}
                </mat-list-option>
              </mat-selection-list>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-step>
        <mat-step label="Select Property Instance">

          <div *ngIf="selectedPropertyTemplate">
            <mat-card class="template-card">
              <!-- <mat-card-header>
                  <mat-card-title>New Plan-Property from Template</mat-card-title>
                  <mat-card-subtitle>{{selectedPropertyTemplate.class}}</mat-card-subtitle>
              </mat-card-header> -->
              <mat-card-content>
                <div style="padding: 20px 0px 20px 0px;">
                  <ng-container *ngFor="let part of this.sentenceTemplateParts">
                    <span style="font-size: large;" *ngIf="! part.startsWith('$')" >{{part}}</span>
                    <mat-icon class="variable-icon" *ngIf="part.startsWith('$') && ! selectedVariableValue.has(part)" [matBadge]="possibleVariableValues.get(part).size" matBadgeColor="primary" [matMenuTriggerFor]="varMenu" (click)="onVariableIconClick(part)">
                      not_listed_location
                    </mat-icon>
                    <span class="variable-value" *ngIf="part.startsWith('$') && selectedVariableValue.has(part)" [matBadge]="possibleVariableValues.get(part).size" matBadgeColor="primary" matBadgeOverlap="false" [matMenuTriggerFor]="varMenu" (click)="onVariableIconClick(part)">
                      {{selectedVariableValue.get(part)}}
                    </span>
                    <!-- <span *ngIf="part.startsWith('$')">{{part}} {{possibleVariableValues.get(part).length}}</span> -->
                  </ng-container>
                </div>
                <mat-menu  #varMenu="matMenu" yPosition="above" >
                  <button mat-menu-item *ngIf="this.selectedVariableValue.has(selectedVariablePlaceholder)"
                  (click)="resetVariableValue(selectedVariablePlaceholder)">reset</button>
                  <button mat-menu-item *ngFor="let value of possibleVariableValues.get(selectedVariablePlaceholder)" (click)="selectVariableValue(value)">
                    {{value}}</button>
                </mat-menu>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-step>
    </mat-horizontal-stepper>

    </div>

    <div style="display: flex">
      <button mat-flat-button color="secondray" type=button (click)="onBack()" style="flex-grow: 1">
        <mat-icon>
          keyboard_backspace
        </mat-icon>
      </button>
      <button mat-flat-button color="primary" style="flex-grow: 4; margin-left: 10px" [disabled]="disableSave()">Save</button>
    </div>
  </form>

