.example-form {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}
.example-form > * {
  margin-bottom: 20px;
}

.example-full-width {
  width: 100%;
}

.flex-container {
  display: inline-flex;
}

.template-card {
  width: 100%;
  margin: 10px 0px;
}

.variable-icon {
  margin: auto 30px;
  /* margin: 20px 30px 10px 30px; */
}

.variable-icon:hover {
  cursor: pointer;
}

.variable-value {
  margin: auto 30px;
  /* margin: 20px 30px 10px 30px; */
  font-weight: bold;
  font-size: x-large;
}

.variable-value:hover {
  cursor: pointer;
}
