
mat-card-header {
  padding: var(--spacing-400);
}

.main-form {
  width: 100%;
  display: inline-flex;
  flex-direction: column;
}

.main-card {
  width: 100%;
}

.stepper-content {
  margin-top: var(--spacing-300);

  display: grid;
  gap: var(--spacing-300);
}

.button-container {
  width: 100%;

  display: flex;
  gap: var(--spacing-200);
  justify-content: flex-end;
}
