@use "../../../../../../variables.scss" as vars;


.container {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

.rack {
    height: 80px;
    // width: 100%;

    padding-left: var(--spacing-200);
    padding-right: var(--spacing-200);

    border: solid;
    border-width: 0px;
    @include vars.border_color();
    border-radius: var(--spacing-100);

    background-color: rgb(175, 175, 175);

    display: flex;
    justify-content: space-around;
    align-items: center;

    overflow-x: scroll;
    direction: rtl;
}

.slider {
    display: flex;
    gap: var(--spacing-050);
}

.info-container{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
}

.font-highlight {
    font-weight: 500;
}