<app-page *transloco="let t">
  <app-page-title>{{t('h.projects')}}</app-page-title>
  <app-page-content>
    <div class="project-container">
      @for(project of (projects$ | async); track project._id){
        <app-project-card [project]="project"></app-project-card>
      }
     
      <button app-action-card class="project-card" (click)="new_project_form()">
          <span>{{t('h.new_project')}}</span>
          <mat-icon>add</mat-icon>
      </button>

    </div>
  </app-page-content>
</app-page>
