
<app-page>
  <app-breadcrumb>
    <a app-breadcrumb-item [routerLink]="['/project/' + (project$ | async)?._id]"><mat-icon>home</mat-icon></a>
    <app-breadcrumb-item>Demos</app-breadcrumb-item>
  </app-breadcrumb>
  <app-page-title>Demos</app-page-title>

  <app-page-content>
    <div class="page-grid">
      @for(step of demosFinished$ | async; track step) {
        <p>TEST</p>
        <!-- <app-iteration-step-card [step]="step" [planProperties]="planProperties" (fork)="createNewIteration(step._id)"></app-iteration-step-card> -->
      }

      <button app-action-card (click)="createNewDemo()">
        <div class="instructions">
          <span>Create a new demo based on the current project.</span>
        </div>
        <mat-icon>add</mat-icon>
      </button>

    </div>
  </app-page-content>
</app-page>
