<mat-card appearance="outlined" class="main-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>create</mat-icon>
    </div>
    <mat-card-title>New project</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <mat-stepper linear=true #stepper>
      <mat-step [stepControl]="projectBasic" label="Name">
        <form
          class="main-form"
          [formGroup]="projectBasic">

          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Domain Name</mat-label>
            <input matInput type="text" formControlName="domain_name" />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
          </mat-form-field>
        </form>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="Domain">
        <app-template-file-upload type="pddl_domain" (fileSelected)="onDomainSelected($event)"></app-template-file-upload>
        <!-- <div>
          {{translatedDomainJSON$ | async}}
        </div> -->
        @if (domainValid$ | async) {
          <mat-icon fontIcon="done_outline"></mat-icon>
        }
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step label="Problem Instance">
        <app-template-file-upload type="pddl_problem" (fileSelected)="onProblemSelected($event)"></app-template-file-upload>
        @if (problemValid$ | async) {
          <mat-icon fontIcon="done_outline"></mat-icon>
        }
        <div>
          <button mat-button matStepperPrevious>Back</button>
          @if ((domainValid$ | async) && (problemValid$ | async)) {
          <button mat-flat-button color="primary" (click)="onSave()">Save</button>
          }
        </div>
      </mat-step>

      <!-- <mat-step label="Specification">
        <app-template-file-upload type="pddl_spec" (fileSelected)="onSpecificationSelected($event)"></app-template-file-upload>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-flat-button color="primary" (click)="onSave">Save</button>
        </div>
      </mat-step> -->

      </mat-stepper>
      </mat-card-content> 

      <mat-card-actions>
          <button mat-flat-button color="secondary"(click)="onBack()">Cancel</button>
      </mat-card-actions>

</mat-card>
