.main{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    background-color: var(--flight);
    padding: var(--spacing-300);
}

.header{
    font-size: larger;
    font-weight: 500;
}

.jigsCon{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-050);
    justify-content: end;
}

.dragTarget{
    outline: solid;
    outline-width: 2px;
    outline-offset: -2px;
}

.noDragTarget{
    opacity: 50%;
}