<div class="main" *transloco="let t"
    cdkDropList  
    (cdkDropListDropped)="drop($event)"
    [class.dragTarget]="(isDragTarget$ | async) && (dragInProgress$ | async)"
    [class.noDragTarget]="!(isDragTarget$ | async) && (dragInProgress$ | async)"
>
    <div>
        <span class="header">{{t('b.outgoing_flight')}}</span>
    </div>
    <div>
        @if(numRemaining() > 0){
            <p>{{ remainingJigTypes()?.[0] }}: {{numRemaining()}}</p>
        }
        @else{
            <p>{{t('b.no_jigs_scheduled')}}</p>
        }
        <div class="jigsCon">
        @for(jig of loaded(); track jig.name){
            <app-jig
                [jig]="jig"
                [jigType]="jigTypes()?.[jig.type]"
                [unitSize]="true"
            ></app-jig>
        }
        </div>
</div>