<mat-card appearance="outlined" *transloco="let t">
    <mat-card-header>
        <mat-icon mat-card-avatar>flight_takeoff</mat-icon>
        <mat-card-title>{{t('b.outgoing_flight')}}</mat-card-title>
    </mat-card-header>
    <mat-card-content
        class="content"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [class.dragTarget]="(isDragTarget$ | async) && (dragInProgress$ | async)"
        [class.noDragTarget]="!(isDragTarget$ | async) && (dragInProgress$ | async)"
    >
        @if(!flightIsEmpty()){
            @for(e of outgoingJigsStatusSchedule(); track e; let idx = $index){
                <app-jig-type-status-outgoing
                    [index]="idx"
                    [jig]="e.jig"
                    [jigType]="e.type"
                    [status]="e.status"
                    [flight]="currentFlight()"
                    [isSkipPossible]="skipPossible()"
                    (skip)="onSkip()"
                ></app-jig-type-status-outgoing>
            }
        }
        @else{
            <app-info>
                <mat-icon>info</mat-icon>
                {{t('b.no_jigs_scheduled')}}
            </app-info>
        }
    </mat-card-content>
</mat-card>

