<mat-expansion-panel>
    <mat-expansion-panel-header>
    <mat-panel-title> Test State {{testCase().testID}} </mat-panel-title>
    <mat-panel-description>
        {{method()}}
        <mat-icon>{{icon()}}</mat-icon>
    </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="main">
        @if(isBug()){
            <app-error-policy-trace
                [problem]="problem()"
                [actions]="actions()">
            </app-error-policy-trace>
        }
        @else{
        <div class="actions">
            @for(action of actions(); track action;){
            <app-action-card
                [action]="action"
                [highlight]="false"
                [select]="false"
            ></app-action-card> 
            }
        </div>
        }
        <div class="buttons">
            <a mat-flat-button [routerLink]="'./trace-inspection/' + testCase().testID">Inspect Trace</a>
        </div>
    </div>
</mat-expansion-panel>