@let step = step$ | async;
@let isUnsolvable = isUnsolvable$ | async;
@let isCanceled = isCanceled$ | async;
@let planComputationRunning = planComputationRunning$ | async;
@let interfaceType = explanationInterfaceType$ | async;
@let hasUnsolvedSoftGoals = hasUnsolvedSoftGoals$ | async;
@let isFailed = isFailed$ | async;

<app-page>
  <app-breadcrumb>
    <a *isProject app-breadcrumb-item [routerLink]="['/project/' + (step$ | async)?.project]"><mat-icon>home</mat-icon></a>
    <a app-breadcrumb-item [routerLink]="['..']">All Iterations</a>
    <app-breadcrumb-item>{{ (step$ | async)?.name }}</app-breadcrumb-item>
  </app-breadcrumb>
  <app-page-title>
    {{ step?.name }}
    <app-page-title-action>
      <button mat-icon-button matTooltip="Delete iteration step." *isProject
        (click)="deleteIteration(step?._id)"><mat-icon>delete</mat-icon></button>
      <button mat-icon-button matTooltip="Open user manual."
        (click)="onHelp()">
      <mat-icon>help</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Creates a new iteration based on the properties selected in this iteration."
        [disabled]="!anabelCreationInterface"
        (click)="createNewIteration(step?._id)"><mat-icon>call_split</mat-icon></button>
    </app-page-title-action>
  </app-page-title>
  <app-page-hero>
    <app-iteration-step-hero
      [maxOverallUtility]="maxOverAllUtility$ | async" 
      [step]="step$ | async"
      [planProperties]="planProperties$ | async">
    </app-iteration-step-hero>
  </app-page-hero>

  <app-page-content>
    <app-page-section-list>

      @if(planComputationRunning && ! isCanceled && !isUnsolvable) {
        <app-page-section>
          <app-page-section-content>
            <div class="action-container">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              <button mat-icon-button
                matTooltip="Cancel plan computation of iteration step"
                (click)="onCancel()"
              ><mat-icon>cancel</mat-icon></button>
            </div>
            <app-empty-state-section>
              <span>There is no plan information available for this step (yet).<br />
                Therefore, only a limited set of information is available here.</span>
              <mat-icon>explore_off</mat-icon>
            </app-empty-state-section>
          </app-page-section-content>
        </app-page-section>
        }
  
        @if(! planComputationRunning && isCanceled && !isUnsolvable) {
          <app-page-section>
            <app-page-section-content>
              <app-empty-state-section>
                <span>There is no plan information available for this step since the plan computation was canceled.<br />
                  Therefore, only a limited set of information is available here.</span>
                <mat-icon>explore_off</mat-icon>
              </app-empty-state-section>
            </app-page-section-content>
          </app-page-section>
        }

      @if(!planComputationRunning && !isCanceled && isUnsolvable && (interfaceType == expInterfaceType.TEMPLATE_QUESTION_ANSWER )) {
      <app-page-section>
        <app-page-section-title>
          <mat-icon>lightbulb_2</mat-icon>
          Insights
        </app-page-section-title>
        <app-page-section-content>
          <app-explanation-chat [isLoading]="isExplanationLoading$ | async"
            [availableQuestions]="globalAvalableQuestionTypes$ | async" (questionSelected)="onQuestionSelected($event)"
            [messages]="globalMessages$ | async" [properties]="planProperties$ | async"></app-explanation-chat>
        </app-page-section-content>
      </app-page-section>
      }



      @if(!planComputationRunning && !isCanceled && !isFailed && (hasUnsolvedSoftGoals || isUnsolvable) && (interfaceType == expInterfaceType.LLM_CHAT)) {
      <app-page-section>
        <app-page-section-title>
          <mat-icon>lightbulb_2</mat-icon>
          Insights
        </app-page-section-title>
        <app-page-section-content>
          <app-explanation-chat-llm></app-explanation-chat-llm>
        </app-page-section-content>
      </app-page-section>
      }

      @if(!planComputationRunning && !isCanceled && !isUnsolvable && (interfaceType == expInterfaceType.TEMPLATE_QUESTION_ANSWER )) {
      <app-page-section>
        <app-page-section-title>
          <span *isProject>Unsatisfied Softgoals</span>
          <span *isDemo>Unsatisfied Goals</span>
          <mat-icon
            matTooltip="Expand the individual goals to gather more information as of why they are unsolvable.">info
          </mat-icon></app-page-section-title>
        <app-page-section-content>
          @if(hasUnsolvedSoftGoals$ | async) {
          <div class="property-list">
            @for(property of unsolvedSoftGoals$ | async; track property) {
            <app-plan-property-panel [property]="property">
              <app-explanation-chat
                [isLoading]="isExplanationLoading$ | async"
                [availableQuestions]="propertyAvailableQuestionTypes$(property) | async"
                (questionSelected)="onPropertyQuestionSelected($event, property)"
                [messages]="propertyMessages$(property) | async"
                [properties]="planProperties$ | async"
              ></app-explanation-chat>
            </app-plan-property-panel>
            }
          </div>
          } @else {
          <app-empty-state-section>
            <span>All specified goals could be satisfied.</span>
            <mat-icon>celebration</mat-icon>
          </app-empty-state-section>
          }
        </app-page-section-content>
      </app-page-section>
      }

      @if(!planComputationRunning && !isCanceled && !isFailed && !isUnsolvable && (interfaceType == expInterfaceType.LLM_CHAT )) {
      <app-page-section>
        <app-page-section-title>
          <span *isProject>Unsatisfied Softgoals</span>
          <span *isDemo>Unsatisfied Goals</span>
        </app-page-section-title>
        <app-page-section-content>
          @if(hasUnsolvedSoftGoals$ | async) {
          <div class="property-list">
            @for(property of unsolvedSoftGoals$ | async; track property) {
            <app-plan-property-panel [property]="property"></app-plan-property-panel>
            }
          </div>
          } @else {
          <app-empty-state-section>
            <span>All specified goals could be satisfied.</span>
            <mat-icon>celebration</mat-icon>
          </app-empty-state-section>
          }
        </app-page-section-content>
      </app-page-section>
      }


      @if(!planComputationRunning && !isCanceled && !isUnsolvable) {
      <app-page-section>
        <app-page-section-title>
          <span *isProject>Satisfied Softgoals</span>
          <span *isDemo>Additionally Satisfied Goals</span>
        </app-page-section-title>
        <app-page-section-content>
          @if(hasSolvedSoftGoals$ | async) {
          <div class="property-list">
            @for(property of solvedSoftGoals$ | async; track property) {
            <app-plan-property-panel [property]="property"></app-plan-property-panel>
            }
          </div>
          } @else {
          <app-empty-state-section>
            <span>No additional goals were satisfied in this iteration.</span>
          </app-empty-state-section>
          }
        </app-page-section-content>
      </app-page-section>
      }


      <app-page-section>
        <app-page-section-title>Enforced Goals</app-page-section-title>
        <app-page-section-content>
          @if(hasEnforcedGoals$ | async) {
          <div class="property-list">
            @for(property of enforcedGoals$ | async; track property) {
            <app-plan-property-panel [property]="property"></app-plan-property-panel>
            }
          </div>
          } @else {
          <app-empty-state-section>
            <span>No goals were enforced in this iteration.</span>
          </app-empty-state-section>
          }
        </app-page-section-content>
      </app-page-section>
    </app-page-section-list>
  </app-page-content>
</app-page>