.property-list {
  display: flex;
  flex-direction: column;

  gap: var(--spacing-200);
}

.action-container {
  width: 100%;

  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  gap: var(--spacing-100);
  align-items: center;

  .details {
    display: grid;
  }
}