<app-page>
  <app-breadcrumb>
    <a app-breadcrumb-item [routerLink]="['/']"><mat-icon>home</mat-icon></a>
    <a app-breadcrumb-item [routerLink]="['..']">All Iterations</a>
    <app-breadcrumb-item>{{ (step$ | async)?.name }}</app-breadcrumb-item>
  </app-breadcrumb>
  <app-page-title>{{ (step$ | async)?.name }}</app-page-title>
  <app-page-hero>
    <app-iteration-step-hero
      [step]="step$ | async"
      [planProperties]="planProperties$ | async"
    ></app-iteration-step-hero>
  </app-page-hero>
</app-page>
