<mat-expansion-panel hideToggle class="expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Types
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item *ngFor="let type of (project$ |async).baseTask.types"> {{type.name}}: {{type.parent}} </mat-list-item>
     </mat-list>
</mat-expansion-panel>

<mat-expansion-panel hideToggle class="expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Predicates
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item *ngFor="let predicate of (project$ |async).baseTask.predicates">
      {{predicatOut(predicate)}}
    </mat-list-item>
   </mat-list>
</mat-expansion-panel>

<mat-expansion-panel hideToggle class="expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Actions
    </mat-panel-title>
  </mat-expansion-panel-header>
  <app-complete-action *ngFor="let a of (project$ |async).baseTask.actions" [action]="a"></app-complete-action>
</mat-expansion-panel>

<mat-expansion-panel hideToggle class="expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Objects
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item *ngFor="let object of (project$ |async).baseTask.objects">
      {{object.name}} {{object.type}}
    </mat-list-item>
   </mat-list>
</mat-expansion-panel>

<mat-expansion-panel hideToggle class="expansion-panel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Initial
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-list>
    <mat-list-item *ngFor="let fact of (project$ |async).baseTask.initial">
      {{factOut(fact)}}
    </mat-list-item>
   </mat-list>
</mat-expansion-panel>
