<mat-expansion-panel [expanded]="expanded()">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="title">
        <div class="icon-container" [style]="'background-color: ' + property()?.color + ';'">
          <mat-icon>{{ property()?.icon }}</mat-icon>
        </div>
        <span class="property-name">{{ property()?.name }}</span>
      </div>
    </mat-panel-title>
    <mat-panel-description>
      <div class="description">
        @if(property()?.globalHardGoal){
          <mat-icon>lock</mat-icon>
        }
        <div class="utility">
          <mat-icon>workspace_premium</mat-icon>
          {{ property()?.utility }}
        </div>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div class="content-container">
    <app-quote>
      {{ property()?.naturalLanguageDescription }}
    </app-quote>

    <ng-content></ng-content>

    @if(showFormula()){
    <app-unformatted *isProject>
      {{ property()?.formula }}
    </app-unformatted>
    }
  </div>

</mat-expansion-panel>

