<app-page-full *transloco="let t">
    <!-- <app-breadcrumb>
        <a app-breadcrumb-item [routerLink]="['../../flight-sections']">Plan Overview</a>
        <app-breadcrumb-item>{{ name() }}</app-breadcrumb-item>
      </app-breadcrumb> -->
    <app-page-title>
       {{t('f.configurations')}}
    </app-page-title>  
    <app-page-content>
        <app-page-section-list>
            <app-page-section>
                <app-page-section-content>
                    <div class="configs-container">
                        <span>{{t('f.configurations')}}:</span>
                        @for(config of configurations(); track config; let idx = $index){
                            <app-configuration-selector
                                [configuration]="config"
                                [routerLink]="'../' + idx"
                                [selected]="selectedConfigId() == idx"
                            ></app-configuration-selector>
                        }
                    </div>
                </app-page-section-content>
            </app-page-section>    
            <app-page-section>
                <app-page-section-content>
                    <app-explanation-controls
                        [section]="section()"
                        [config]="configuration()"
                        [disabled]="true"
                        [rackEmptyConflict]="hasEmptyRackConflictMember()"
                        [swapConflictMembers]="swapConflictMembers()"
                    ></app-explanation-controls>
                </app-page-section-content>
            </app-page-section>     
            <!-- <app-page-section>
                <app-page-section-content>
                    {{ conflicts() }}
                </app-page-section-content>
            </app-page-section>             -->
            <app-page-section>
                <app-page-section-content>
                        <div class="main-container">
                            <div class="belugas">
                            <app-incoming-flight-configurator
                                [originalFlight]="originalFlight()"
                                [flightTargetSchedule]="flightTargetSchedule()"
                                [jigTypes]="jigTypes()"
                                [jigs]="jigs()"
                                [conflictMembers]="unloadConflictMembers()"
                                [disabled]="true"
                            >
                            </app-incoming-flight-configurator>

                            <app-outgoing-flight-configurator
                                [originalFlight]="originalFlight()"
                                [flightTargetSchedule]="flightTargetSchedule()"
                                [jigTypes]="jigTypes()"
                                [jigs]="jigs()"
                                [conflictMembers]="loadConflictMembers()"
                                [disabled]="true"
                            >
                            </app-outgoing-flight-configurator>
                            </div>
                            <div class="trailers">
                                @for(trailer of belugaTrailers(); track trailer.name; let idx = $index){
                                    <app-trailer-configurator
                                        [trailer]="trailer"
                                        [jigTypes]="jigTypes()"
                                        [disabled]="true"
                                        [conflictMembers]="trailerMaintenanceConflictMembers()"
                                    >
                                    </app-trailer-configurator>
                                }
                            </div>
                            <div class="racks">
                                @for(rack of racks(); track rack.name; let idx = $index){
                                    <app-rack-configurator
                                        [rack]="rack"
                                        [jigTypes]="jigTypes()"
                                        [disabled]="true"
                                        [conflictMembers]="rackMaintenanceConflictMembers()"
                                    >
                                    </app-rack-configurator>
                                }
                            </div>
                            <div class="trailers">
                                @for(trailer of factoryTrailers(); track trailer.name; let idx = $index){
                                    <app-trailer-configurator
                                        [trailer]="trailer"
                                        [jigTypes]="jigTypes()"
                                        [disabled]="true"
                                        [conflictMembers]="trailerMaintenanceConflictMembers()"
                                    >
                                    </app-trailer-configurator>
                                }
                            </div>
                            <div class="hangars">
                                @for(hangar of hangars(); track hangar.name; let idx = $index){
                                    <app-hangar-configurator
                                        [hangar]="hangar"
                                        [jigTypes]="jigTypes()"
                                        [disabled]="true"
                                    >
                                    </app-hangar-configurator>
                                }
                            </div>
                            <div class="production">
                                <app-production-lines-configurator
                                    [productionLineTargetSchedules]="productionLineTargetSchedules()"
                                    [jigsOnSite]="jigsOnSite()"
                                    [jigTypes]="jigTypes()"
                                    [jigs]="jigs()"
                                    [conflictMembers]="deliverConflictMembers()"
                                    [disabled]="true"
                                >
                                </app-production-lines-configurator>
                            </div> 
                        </div>  
                                     
                </app-page-section-content>
            </app-page-section>
        </app-page-section-list>
    </app-page-content>
</app-page-full>
