.main-container {
    display: grid;
    grid-template-columns: auto 2fr 2fr 2fr auto auto;
    gap: var(--spacing-300);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.belugas {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-200);
}

.trailers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-200);
    align-items: center;
}

.racks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-100);
}

.hangars {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-200);
    align-items: center;
}

.production {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--spacing-200);
    align-items: center;
}


.configs-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: var(--spacing-100);
  align-items: center;
  justify-content: start;
}