@import "../../../../variables.scss";

.main-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 55px 1fr;
}

.step-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.step-name {
  margin: 0px;
  padding: 0px;
}

.step-icon {
}

.new-step {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: $primary;
  color: white;
}

.new-step:hover {
  cursor: pointer;
}

.new-step-name {
  margin: auto;
}

.delete-button {
  margin-left: auto;
  visibility: hidden;
}

.step-item .delete-button {
  visibility: hidden;
}

.step-item:hover .delete-button {
  visibility: visible;
}
