<div class="main-container">
  <button
    mat-flat-button
    color="primary"
    [disabled]="hasPendingStepCreation$ | async"
    (click)="newStep()">
    New Step
  </button>
  <div>
    <mat-selection-list
      [multiple]="false"
      (selectionChange)="selectStep($event)">

      <mat-list-option
        *ngFor="let step of steps$ | async"
        [value]="step"
        [selected]="step._id == (selected$ | async)?._id">

        <div class="step-item">
          <mat-icon class="step-icon" *ngIf="hasPlan(step)">check</mat-icon>
          <mat-icon
            svgIcon="no_map"
            class="step-icon"
            *ngIf="notSolvable(step)"
          ></mat-icon>
          <mat-icon class="step-icon" *ngIf="hasError(step)">error</mat-icon>
          <mat-spinner
            class="spinner"
            *ngIf="isPending(step)"
            diameter="25"
          ></mat-spinner>
          <p class="step-name">{{ step.name }}</p>
        </div>

      </mat-list-option>

      @let new = newStep$ | async;
      <mat-list-option
        *ngIf="new"
        [value]="new"
        [selected]="new._id == (selected$ | async)?._id">

        <div class="step-item">
          <mat-icon class="step-icon">edit</mat-icon>
          <p class="step-name">{{ new.name }}</p>
        </div>

      </mat-list-option>


    </mat-selection-list>
    <!-- <mat-divider inset="true"></mat-divider>
    <div class="new-step" *ngIf="newStep$ | async" (click)="selectNewStep()">
      <p class="new-step-name">{{ (newStep$ | async).name }}</p>
    </div> -->
  </div>
</div>
