@let modelValid = modelValid$ | async;

<app-dialog>
  <app-dialog-header>
    <app-dialog-title>New Project</app-dialog-title>
  </app-dialog-header>
  <app-dialog-content>

    <mat-stepper linear=true #stepper [selectedIndex]="selectedIndex">
      <mat-step label="Main">
        <div class="stepper-content">
          <form
            class="main-form"
            [formGroup]="form">

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput type="text" formControlName="name" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Domain</mat-label>
              <mat-select [formControl]="form.controls.domain" required>
                @for (domain of (domains$ | async); track domain._id) {
                  <mat-option [value]="domain._id">{{domain.name}}</mat-option>
                }
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline"  class="full-width">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
          </form>

        </div>
      </mat-step>

      <mat-step label="Task">
        <div class="stepper-content">

          <div class="encoding">
            <span>Encoding: </span>
            <app-spec-card-feature>{{ (selectedDomain$ | async)?.encoding }}</app-spec-card-feature>
          </div>

          @if((selectedDomain$ | async)?.encoding == encoding.PDDL_CLASSIC ){
            <app-template-file-upload 
              (fileContent)="onDomainSelected($event)"
              [valid]="pddlModelValid$ | async"
              >
              Upload PDDL domain File
            </app-template-file-upload>
            <app-template-file-upload 
              (fileContent)="onProblemSelected($event)"
              [valid]="pddlModelValid$ | async">
              Upload PDDL problem File
            </app-template-file-upload>
          }

          @if((selectedDomain$ | async)?.encoding == encoding.PDDL_NUMERIC){
            <p>Not supported yet!</p>
          }

          @if((selectedDomain$ | async)?.encoding == encoding.DOMAIN_DEPENDENT ){
            <app-template-file-upload 
              (fileContent)="onTaskSelected($event)"
              [valid]="domainDependentModelValid$ | async">
              Upload JSON task encoding
            </app-template-file-upload>
          }
          
        </div>
        <!-- <p>{{ model$ | async }}</p> -->
      </mat-step>

    </mat-stepper>
  </app-dialog-content>
  <app-dialog-footer>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onPrevious()" [disabled]="selectedIndex == 0">Back</button>
    @if(selectedIndex == maxStepIndex){
      <button mat-flat-button color="primary" (click)="onSave()" [disabled]="!(modelValid && form.valid)">
        Create
      </button>
    }
    @else{
      <button mat-flat-button (click)="onNext()" [disabled]="!form.valid">Next</button>
    }
  </app-dialog-footer>
</app-dialog>
