@import "../../../../variables.scss";

.page-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.control-container-desktop {
  width: 20%;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  flex-direction: column;
}

.control-container-desktop > button {
  width: 100%;
  height: 50px;
  margin: 5px 0px;
}

.logo-desktop {
  width: 40%;
  height: auto;
  position: absolute;
  right: 10%;
  bottom: 10%;
}

.control-container-mobile {
  width: 80%;
  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.control-container-mobile > button {
  width: 100%;
  margin: 5px 0px;
}

.logo-mobile {
  width: 80%;
  height: auto;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

.logo-mobile > svg {
  width: 80%;
  height: auto;
  position: absolute;
  right: 5%;
  bottom: 5%;
}

svg:not(:root) {
  width: 100%;
  height: auto;
}

.video-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.demo-container {
  background-color: $primary-darker;
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.demo-button {
  font-size: 60px;
  font-family: "Julius Sans One";
  width: 450px;
  height: 90px;
}

.iter-overview-image {
  box-sizing: border-box;
  padding-right: 50px;
  width: 100%;
}

.info-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#info-button {
  width: 400px;
  height: 70px;
  font-size: 40px;
  font-family: "Julius Sans One";
}
