<div
    class="container"
    [class.next]="status().next"
   *transloco="let t"
>
    <app-jig
        [jig]="jig()"
        [jigType]="jigType()"
        [unitSize]="true"
        [draggable]="status().next"
        [isGhost]="status()?.unloaded"
        [animate]="true"
        cdkDrag
        [cdkDragData]="jig()"
        (cdkDragStarted)="onStartDrag()"
        (cdkDragDropped)="onCancelDrag($event)"
        cdkDragBoundary=".beluga-boundary"
    >
    </app-jig>

    <div class="button-container">
      @if (status()?.next) {
        <button
          mat-icon-button
          (click)="onSkip()"
          [disabled]="!isSkipPossible()"
          [matTooltip]="t('b.skip')"
        ><mat-icon>step_over</mat-icon></button>
        <button
          mat-flat-button
          class="primary"
          (click)="onUnload()"
          [disabled]="!isUnloadPossible()"
          [matTooltip]="t('b.unload')"
        ><mat-icon>arrow_forward</mat-icon></button>
      }
    </div>
</div>
