<div 
    class="container" 
    [class.next]="status().next"
    [class.skipped]="status()?.skip"
>
    @if(index() !== null){
        <span class="index">{{ (index() ?? 0) + 1}}</span>
    }
    <app-jig
        [jig]="jig()"
        [jigType]="jigType()"
        [unitSize]="true"
        [draggable]="status().next"
        cdkDrag
        [cdkDragData]="jig()"
        (cdkDragStarted)="onStartDrag()"
        (cdkDragDropped)="onCancelDrag($event)"
        cdkDragBoundary=".beluga-boundary"
    >
    </app-jig>
    @if (status()?.unloaded) {
        <mat-icon>check</mat-icon>
    }
    @else{
        <mat-icon>close</mat-icon>
    }
    <!-- @if(status()?.consideration == considerationStatuses.CONSIDER){
        <button mat-icon-button [disabled]="!canSkip()" (click)="onSkip()">
            <mat-icon>step_over</mat-icon>
        </button>
    }
    @if(status()?.consideration == considerationStatuses.SKIP){
        <button mat-icon-button [disabled]="!canConsider()" (click)="onConsider()">
            <mat-icon>check</mat-icon>
        </button>
    } -->
</div>