<ng-container *ngIf="currentProject">
  <div [class.container-web]="!isMobile" [class.container-mobile]="isMobile">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>info</mat-icon>
        </div>
        <mat-card-title>{{ currentProject.name }}</mat-card-title>
        <mat-card-subtitle>Overview</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{ currentProject.description }}
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>insert_drive_file</mat-icon>
        </div>
        <mat-card-title> Files </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon matListItemIcon>article</mat-icon>
            <h3 matListItemTitle>Domain</h3>
            <p matListItemLine>
              <span>{{ currentProject.domainFile.name }}</span>
            </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>article</mat-icon>
            <h3 matListItemTitle>Problem</h3>
            <p matListItemLine>
              <span>{{ currentProject.problemFile.name }}</span>
            </p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon matListItemIcon>article</mat-icon>
            <h3 matListItemTitle>Specification</h3>
            <p matListItemLine>
              <span>{{ currentProject.domainSpecification.name }}</span>
            </p>
          </mat-list-item>
        </mat-list> 
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>show_chart</mat-icon>
        </div>
        <mat-card-title>Statistics</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            #properties: {{ (properties$ | async).size }}
            <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>
          <mat-list-item>
            #planning runs: {{ runsService.getNumRuns() }}
            <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>
          <mat-list-item>
            #questions: {{ runsService.getNumQuestions() }}
            <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>
          <!--        <mat-list-item>-->
          <!--          #demos: {{demosService.getNumOfProject(currentProject)}}-->
          <!--        </mat-list-item>-->
        </mat-list>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <div mat-card-avatar>
          <mat-icon>create</mat-icon>
        </div>
        <mat-card-title>Actions</mat-card-title>
      </mat-card-header>
      <mat-card-content class="action-list">
        <button mat-flat-button color="primary" (click)="createDemo()">
          Create Demo
        </button>
        <button mat-flat-button color="primary" (click)="deleteProject()">
          Delete Project
        </button>
    </mat-card-content>
    </mat-card>
  </div>
</ng-container>
