<mat-card class="action-card">
  <mat-card-header>
    <mat-card-title>
      {{ action.name }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-expansion-panel hideToggle class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> Parameter </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let p of this.action.parameters">
          {{ p.name }} {{ p.type }}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> Precondition </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let p of this.action.precondition">
          {{ p.toString() }}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>

    <mat-expansion-panel hideToggle class="expansion-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> Effect </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item *ngFor="let p of this.action.effects">
          {{ p.toString() }}
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-card-content>
</mat-card>
