@use "../../../../../../variables.scss" as vars;

.main{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500)
}



.plan {
    padding: var(--spacing-200);
    border: solid;
    border-width: 1px;
    @include vars.border_color();
    border-radius: var(--spacing-200);

     width: 100%;
     overflow-x: scroll;
}