@use "../../../../../../variables.scss" as vars;

.main{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500)
}



.plan {
  padding-block: var(--spacing-200);
  overflow-x: scroll;
}

.controls {
    display: flex;
    justify-content: space-between;
}
