<div class="main">
    <div class="controls">
        <app-step-control
            (back)="onBack()"
            (forward)="onForward()"
        ></app-step-control>
        <a mat-button [routerLink]="['../../flight-sections']">
            <mat-icon>chevron_left</mat-icon>
            Back
        </a>
    </div>
    <div class="plan">
        <app-plan-action-list
            [actions]="actions()"
            [selectedAction] = "selectedActionIndex()"
            (actionSelected)="onActionSelected($event)"
        ></app-plan-action-list>
    </div>
    <div class="state">
        <app-state-card
            [state]="selectedState()"
            [siteSetUp]="configuration()?.siteSetUp"
            [targetFlightSchedule]="configuration()?.flightTargetSchedule"
            [targetProductionSchedule]="configuration()?.productionLinesTargetSchedule"
        >
        </app-state-card>
    </div>
</div>