@let interfaceType = explanationInterfaceType$ | async;
@let isExplanationLoading = isExplanationLoading$ | async;
@let answers = globalAnswers$ | async;

@if(isUnsolvable()){
  <app-question-form
    [isLoading]="isExplanationLoading"
    [availableQuestions]="globalAvalableQuestionTypes$ | async"
    (questionSelected)="answers$($event, property())"
  >
  </app-question-form>

    @if(interfaceType === ExplanationInterfaceType.MUGS_VISUALIZATION_ANSWER){
        <app-user-study-mugs-visualization *ngIf="answers"
                                           [answer]="answers"
                                           [createUniqueIds]="false"
        >
        </app-user-study-mugs-visualization>
    }
    @if(interfaceType === ExplanationInterfaceType.CONFLICT_LIST){
      <app-conflict-lists
        [answer]="answers"
        [planProperties] ="planProperties$ | async"
      ></app-conflict-lists>
    }


}@else{
  <app-question-form
    [isLoading]="isExplanationLoading"
    [availableQuestions]="propertyAvailableQuestionTypes$(property()) | async"
    (questionSelected)="answers$($event, property())"
  >
  </app-question-form>

    @if(interfaceType === ExplanationInterfaceType.MUGS_VISUALIZATION_ANSWER){
        <app-user-study-mugs-visualization *ngIf="answers"
                                           [answer]="answers"
                                           [createUniqueIds]="true"
        >
        </app-user-study-mugs-visualization>
    }
    @if(interfaceType === ExplanationInterfaceType.CONFLICT_LIST){
      <app-conflict-lists
        [questionArgument]="property()?._id"
        [answer]="answers"
        [planProperties] ="planProperties$ | async"
      ></app-conflict-lists>
    }
}