<app-page *transloco="let t">

    <app-breadcrumb>
      <a app-breadcrumb-item [routerLink]="['..']"><mat-icon>connecting_airports</mat-icon></a>
      <app-breadcrumb-item>{{(project$ | async)?.name}}</app-breadcrumb-item>
    </app-breadcrumb>


    <app-page-title>{{t('h.project')}} {{(project$ | async)?.name}}
      <app-page-title-action>
        <button  mat-icon-button (click)="deleteProject()">
          <mat-icon>delete</mat-icon>
        </button>
      </app-page-title-action>
    </app-page-title>
  
    <app-page-content>
      <div class="page-grid">

        <app-project-action-card>
          <span action-title>{{t('h.flight_section_planning')}}</span>
          <span action-description>
            {{t('h.flight_section_planning_description')}}
          </span>
          <a mat-flat-button [routerLink]="['/beluga/flight-section-planning', (project$ | async)?._id]" action-button>
            Start
          </a>
        </app-project-action-card>

        <app-project-action-card>
          <span action-title>Policy Testing</span>
          <span action-description>
            Test a policy for sub-optimality.
          </span>
          <a mat-flat-button [routerLink]="['/beluga/policy-testing', (project$ | async)?._id]" action-button>
            Start
          </a>
        </app-project-action-card>

        <app-project-action-card>
          <span action-title>Settings</span>
          <span action-description>
            Select the services and features.
          </span>
          <a mat-button [routerLink]="['/beluga/projects/', (project$ | async)?._id, 'settings']" action-button>
            Open
          </a>
        </app-project-action-card>
  
      </div>
    </app-page-content>
  </app-page>
  
  