<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <app-side-sheet>
    <app-side-sheet-header>
      <app-side-sheet-title>Create Iteration</app-side-sheet-title>
    </app-side-sheet-header>

    <app-side-sheet-content>
      <app-side-sheet-section-list>
        <app-side-sheet-section>
          <app-side-sheet-section-content>
            <app-info>
              <mat-icon>lightbulb_2</mat-icon>
              <span>You can navigate around the app while keeping this panel opened.</span>
            </app-info>
          </app-side-sheet-section-content>
        </app-side-sheet-section>

        <app-side-sheet-section>
          <app-side-sheet-section-title>General</app-side-sheet-section-title>
          <app-side-sheet-section-content>
            <mat-form-field appearance="outline">
              <mat-label>Iteration Name</mat-label>
              <input matInput required [formControl]="form.controls.general.controls.name"/>
            </mat-form-field>
          </app-side-sheet-section-content>
        </app-side-sheet-section>

        <app-side-sheet-section>
          <app-side-sheet-section-title>Enforced Goals*</app-side-sheet-section-title>
          <app-side-sheet-section-content>
            <app-editable-list>

              @for(property of enforcedPlanProperties$ | async; track property._id; let idx = $index) {
              <app-editable-list-entry>
                <app-plan-property-panel [property]="property"></app-plan-property-panel>
                <app-editable-list-entry-suffix>
                  <button mat-icon-button (click)="removeEnforcedGoal(idx)" type="button"><mat-icon>delete</mat-icon></button>
                </app-editable-list-entry-suffix>
              </app-editable-list-entry>
              }

              @if(!(hasEnforcedPlanProperties$ | async)) {
              <app-editable-list-empty-state>
                <span>Add properties that should be fulfilled by the plan.</span>
                <mat-icon>emoji_events</mat-icon>
              </app-editable-list-empty-state>
              }
              <app-editable-list-action>
                <button mat-button (click)="addPropertyEnforce()" type="button"><mat-icon>add</mat-icon>Add Property</button>
              </app-editable-list-action>
            </app-editable-list>
          </app-side-sheet-section-content>
        </app-side-sheet-section>

        <app-side-sheet-section>
          <app-side-sheet-section-title>Soft Goals</app-side-sheet-section-title>
          <app-side-sheet-section-content>
            <app-editable-list>

              @for(property of softPlanProperties$ | async; track property._id; let idx = $index) {
              <app-editable-list-entry>
                <app-plan-property-panel [property]="property"></app-plan-property-panel>
                <app-editable-list-entry-suffix>
                  <button mat-icon-button (click)="removeSoftGoal(idx)" type="button"><mat-icon>delete</mat-icon></button>
                </app-editable-list-entry-suffix>
              </app-editable-list-entry>
              }

              @if(!(hasSoftPlanProperties$ | async)) {
              <app-editable-list-empty-state>
                <span>Add properties that you would be interested in observing additionally.</span>
                <mat-icon>flag_check</mat-icon>
              </app-editable-list-empty-state>
              }
              <app-editable-list-action>
                <button mat-button (click)="addPropertySoftGoal()" type="button"><mat-icon>add</mat-icon>Add Property</button>
              </app-editable-list-action>
            </app-editable-list>
          </app-side-sheet-section-content>
        </app-side-sheet-section>


      </app-side-sheet-section-list>
    </app-side-sheet-content>

    <app-side-sheet-footer>
      <button mat-button type="button" (click)="onCancel()">Cancel</button>

      <button mat-flat-button color="primary" [disabled]="form.invalid">Create</button>
    </app-side-sheet-footer>
  </app-side-sheet>
</form>

<ng-template #propertySelector>
  <app-select-property
    [properties]="availableProperties$ | async"
    (cancel)="onCancelPropertySelection()"
    (select)="handlePropertyIdSelection($event)"
  ></app-select-property>
</ng-template>
