<app-side-sheet>
  <app-side-sheet-header>
    <app-side-sheet-title>Create Iteration</app-side-sheet-title>
  </app-side-sheet-header>

  <app-side-sheet-content>
    <app-side-sheet-section-list>
      <app-side-sheet-section>
        <app-side-sheet-section-content>
          <app-info>
            <mat-icon>lightbulb_2</mat-icon>
          </app-info>
        </app-side-sheet-section-content>
      </app-side-sheet-section>
    </app-side-sheet-section-list>
  </app-side-sheet-content>

  <app-side-sheet-footer>
  </app-side-sheet-footer>
</app-side-sheet>
