.tab-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.content-container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow-y: auto;
}
