<div class="tab-container">
  <nav mat-tab-nav-bar style="width: 100%; height: 100%;" color="acccent">
    <a mat-tab-link (click)="showTab = 1"
      [active]="showTab == 1">
      <mat-icon style="margin-right: 10px;">star_border</mat-icon>
      Goals
    </a>
    <a mat-tab-link *ngIf="(step$ | async)?.hasPlan()" (click)="showTab = 2"
      [active]="showTab == 2">
      <mat-icon style="margin-right: 10px;">map</mat-icon>
      Plan
    </a>
    <a mat-tab-link *ngIf="(step$ | async)?.hasPlan()" (click)="showTab = 3"
      [active]="showTab == 3">
      <mat-icon style="margin-right: 10px;">map</mat-icon>
      Advanced Plan
    </a>
  </nav>
  <div class="content-container" *ngIf="showTab == 1">
    <app-hard-goal-selector style="height: 100%;overflow: auto;"></app-hard-goal-selector>
  </div>
 <div class="content-container" *ngIf="showTab == 2">
    <app-plan-view style="height: 100%;overflow: auto;"></app-plan-view>
 </div>
 <div class="content-container" *ngIf="showTab == 3">
    <app-interactive-plan-view style="height: 100%;overflow: auto;">
    </app-interactive-plan-view>
  </div>
</div>
