@let modelValid = modelValid$ | async;

<app-dialog>
  <app-dialog-header>
    <app-dialog-title>New Project</app-dialog-title>
  </app-dialog-header>
  <app-dialog-content>

    <mat-stepper linear=true #stepper [selectedIndex]="selectedIndex">
      <mat-step label="Main">
        <div class="stepper-content">
          <form
            class="main-form"
            [formGroup]="form">

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput type="text" formControlName="name" />
            </mat-form-field>

            <mat-form-field appearance="outline"  class="full-width">
              <mat-label>Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
          </form>

        </div>
      </mat-step>

      <mat-step label="Task">
        <div class="stepper-content">

            <app-template-file-upload 
              (fileContent)="onTaskSelected($event)"
              [valid]="domainDependentModelValid$ | async">
              Task
            </app-template-file-upload>        
        </div>
        <!-- <p>{{ model$ | async }}</p> -->
      </mat-step>

    </mat-stepper>
  </app-dialog-content>
  <app-dialog-footer>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button (click)="onPrevious()" [disabled]="selectedIndex == 0">Back</button>
    @if(selectedIndex == maxStepIndex){
      <button mat-flat-button color="primary" (click)="onSave()" [disabled]="!(modelValid && form.valid)">
        Create
      </button>
    }
    @else{
      <button mat-flat-button (click)="onNext()" [disabled]="!form.valid">Next</button>
    }
  </app-dialog-footer>
</app-dialog>
