ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.file-list {
  box-sizing: border-box;
  width: 20%;
  height: 100%;
  float: left;
  padding: 20px;
}

.file-display {
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  float: left;
}
