<mat-card appearance="outlined" class="main-card">
  <mat-card-header>
    <mat-card-title>Why not ... ?</mat-card-title>
  </mat-card-header>
  <mat-card-content>
  @if ((possiblePP$ | async)?.length > 0) {
    <mat-action-list>
      @for (pp of (possiblePP$ | async); track pp) {
        <mat-list-item (click)="selectPP(pp)" [class.selected]="selectedPPId === pp._id">
          <mat-icon matListItemIcon>{{ pp.icon }}</mat-icon>
          <h3 matListItemTitle>{{ pp.naturalLanguageDescription }}</h3>
          @if (( settings$ | async).usePlanPropertyValues) {
          <p matListItemLine>
            <span>Utility: {{ pp.value }}</span>
          </p>
          }
          @if (!$last) {
            <mat-divider inset="true"></mat-divider>
          }
        </mat-list-item>
      }
    </mat-action-list>
  }
  @if ((possiblePP$ | async)?.length === 0) {
    <p>No other goals available.</p>
  }
  </mat-card-content>
</mat-card>
