@use "../../../../../../variables.scss" as vars;

.container {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--spacing-100);

    padding: var(--spacing-200);

    border: solid;
    border-width: 0px;
    @include vars.border_color();
    border-radius: var(--spacing-100);

    background-color: var(--production-line);

}

.list-wrapper {
    max-height: 100px;
    overflow-y: scroll;
    width: fit-content;

    display: flex;
    flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
}
