<mat-card appearance="outlined" *transloco="let t">
    <mat-card-header>
        <mat-icon mat-card-avatar>factory</mat-icon>
        <div>{{t('s.line')}} <span style="font-weight: 500;">{{ lineName() }}</span></div>
    </mat-card-header>
    <mat-card-content class="content">
        @for(jig of remainingJigs(); track jig.name; let idx = $index){
            <app-jig-status 
                [index]="idx"
                [jig]="jig"  
                [jigType]="jigTypes()?.[jig?.type]"
            >
            </app-jig-status>
        }
        @if(remainingJigs().length == 0){
            <app-info>
                <mat-icon>check_circle</mat-icon>
                {{t('f.everything_delivered')}}
            </app-info>
        }
    </mat-card-content>
</mat-card>