<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            Plan Property Templates
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="template-form" [formGroup]="form">
            <mat-form-field class="template-full-width">
              <!-- <mat-label>Define plan property templates</mat-label> -->
              <textarea matInput [formControl]="form.controls.planPropertyTemplates"></textarea>
            </mat-form-field>
          </form>
    </mat-card-content>
    <mat-card-actions class="actions">
        <button mat-stroked-button [disabled]="!form.valid" (click)="addNewTemplate()">Add new template</button>
        <button mat-flat-button [disabled]="!form.valid" (click)="save()">Save</button>
    </mat-card-actions>
  </mat-card>
