@let plan = plan$ | async;

<app-page>
  <app-breadcrumb>
    <a app-breadcrumb-item [routerLink]="['/projects/' + plan?.project]"><mat-icon>home</mat-icon></a>
    <a app-breadcrumb-item [routerLink]="['..']">All Plans</a>
    <app-breadcrumb-item>{{ (plan$ | async)?.name }}</app-breadcrumb-item>
  </app-breadcrumb>
  <app-page-title>
    {{ plan?.name }}
  </app-page-title>

  <app-page-content>
    <app-page-section-list>
      <app-page-section>
        <app-page-section-content>
          @if(isBeluga$ | async){
            <app-beluga-plan-animation
                [plan]="plan"
                [model]="project$ | async"
            ></app-beluga-plan-animation>
          }
        </app-page-section-content>
      </app-page-section>
    </app-page-section-list>
  </app-page-content>
</app-page>
