:host::ng-deep {
  mat-form-field {
    display: flex;
    flex-grow: 1;

    .mat-mdc-form-field-subscript-wrapper {
      display: none;
    }
  }
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-200);
}
