/* You can add global styles to this file, and also import other style files */

@use 'styles/reset';
@use 'styles/icons';
@use 'styles/spacing';
@use 'styles/sizing';
@use 'styles/radius';
@use 'styles/scrollbar';
@use 'styles/material/index';

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-tab-body-wrapper{
  flex-grow: 1;
}
