/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-tab-body-wrapper {
  height: 100%;
  width: 100%;
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.mat-card-header {
  flex-shrink: 0;
}

.mat-card-content {
  flex-grow: 1;
  overflow: auto;
}

.mat-stepper-vertical {
  display: grid;
}

.mat-stepper-horizontal {
  display: grid;
}

.mat-horizontal-stepper-content {
  height: 100%;
}

.mat-horizontal-content-container {
  height: 100%;
}

// .cdk-overlay-connected-position-bounding-box {
//   position: absolute;
//   z-index: 1000;
// }