/* You can add global styles to this file, and also import other style files */

@import 'styles/spacing';

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-tab-body-wrapper{
  flex-grow: 1;
}
