@use '~@angular/material' as mat;

//$EXPLORE-CLI-primary: mat-palette($mat-green, 400);
//$EXPLORE-CLI-accent: mat-palette($mat-orange, 400);
//$EXPLORE-CLI-warn: mat-palette($mat-red);
//
//$primary: mat-color($EXPLORE-CLI-primary);
//$accent: mat-color($EXPLORE-CLI-accent);
//$warn: mat-color($EXPLORE-CLI-warn);

$mat-primary: (
  main: #03658c,
  lighter: #b3d1dd,
  darker: #02496f,
  200: #03658c, // For slide toggle,
  contrast : (
    main: white,
    lighter: rgba(black, 0.87),
    darker: white,
  )
);

$mat-accent: (
  main: #f29422,
  lighter: #fbdfbd,
  darker: #ec7714,
  200: #f29422, // For slide toggle,
  contrast : (
    main: rgba(black, 0.87),
    lighter: rgba(black, 0.87),
    darker: rgba(black, 0.87),
  )
);

$EXPLORE-CLI-primary: mat.define-palette($mat-primary, main, lighter, darker);
$EXPLORE-CLI-accent: mat.define-palette($mat-accent, main, lighter, darker);
$EXPLORE-CLI-warn: mat.define-palette(mat.$red-palette);

$primary: mat.get-color-from-palette($EXPLORE-CLI-primary);
$primary-darker: mat.get-color-from-palette($EXPLORE-CLI-primary, darker);
$accent: mat.get-color-from-palette($EXPLORE-CLI-accent);
$warn: mat.get-color-from-palette($EXPLORE-CLI-warn);

