<mat-card *ngIf="solved" class="card">
    <mat-card-header>
      <mat-card-title>Question</mat-card-title>
      <button mat-icon-button (click)="abortWithoutQuestion()" style="position: absolute; top: 5px; right: 5px">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <h2>Why not ... ?</h2>
      <mat-selection-list #planPropertiesList (selectionChange)="onSelectionChange($event)">
        <ng-container *ngFor="let property of notSatPlanProperties; last as last">
          <mat-list-option
          [disabled]="maxSizeQuestionReached && ! this.question.includes(property)"
          checkboxPosition="before" [value]="property"
          style="box-sizing: border-box; height:auto; padding: 10px;">
            <p> {{property.naturalLanguageDescription}} </p>
            <p *ngIf="this.currentProject.settings.usePlanPropertyValues"> Utility: {{property.value}} </p>
          </mat-list-option>
          <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
        </ng-container>
      </mat-selection-list>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-flat-button color="accent" (click)="compute_dependencies()" [disabled]="question.length  == 0">
        Get Answer
      </button>
    </mat-card-actions>
</mat-card>

<mat-card *ngIf="! solved" class="card">
  <mat-card-header>
    <mat-card-title>Question</mat-card-title>
    <button mat-icon-button (click)="abortWithoutQuestion()" style="position: absolute; top: 5px; right: 5px">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <h2>Why is the selection of hard goals unsolvable?</h2>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button color="accent" (click)="compute_dependencies_unsolvable()">
      Get Answer
    </button>
  </mat-card-actions>
</mat-card>

