<div class="main-grid">


<mat-card class="main-card">

  <mat-list>
    <mat-list-item *ngFor="let relax of this.relaxationSpaces">
      {{json.stringify(relax)}}
    </mat-list-item>
  </mat-list>

</mat-card>

<mat-card style="grid-column: 2 / span 1;" class="action-card">
  <button mat-flat-button color="accent" (click)="new_relaxation_form()">
    <mat-icon>add</mat-icon>
  </button>
  <a mat-flat-button id="prop_download">
    <mat-icon>download</mat-icon>
  </a>
<!--    <a href="" id="a">download</a>-->
<!--    <button mat-flat-button (click)="upload_properties()">-->
<!--      <mat-icon>upload</mat-icon>-->
<!--    </button>-->

</mat-card>

</div>
