<div class="main-grid">


<mat-card class="main-card">

  <mat-card *ngFor="let space of relaxationSpaces$ | async" class="relax-card">
    <mat-card-header>
      <mat-card-title>
          {{space.name}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
      <div *ngFor="let possibleUpdates of space.updates" class="table-container">
        <table mat-table [dataSource]="possibleUpdates" class="relax-table">

          <ng-container matColumnDef="fact">
            <th mat-header-cell *matHeaderCellDef> Fact </th>
            <td mat-cell *matCellDef="let element"> {{element.fact.toString()}} </td>
          </ng-container>

          <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Value </th>
            <td mat-cell *matCellDef="let element"> {{element.value}} </td>
          </ng-container>

          <ng-container matColumnDef="display">
            <th mat-header-cell *matHeaderCellDef> Display </th>
            <td mat-cell *matCellDef="let element"> {{element.display}} </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="['fact', 'display', 'value']"></tr>
          <tr mat-row *matRowDef="let row; columns: ['fact', 'display', 'value'];"></tr>
        </table>
      </div>
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-icon-button (click)="deleteRelaxation(space.space)">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-icon-button (click)="editRelaxation(space.space)">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

</mat-card>

<mat-card style="grid-column: 2 / span 1;" class="action-card">
  <button mat-flat-button color="accent" (click)="new_relaxation_form()">
    <mat-icon>add</mat-icon>
  </button>
  <a mat-flat-button id="prop_download">
    <mat-icon>download</mat-icon>
  </a>
<!--    <a href="" id="a">download</a>-->
<!--    <button mat-flat-button (click)="upload_properties()">-->
<!--      <mat-icon>upload</mat-icon>-->
<!--    </button>-->

</mat-card>

</div>
