.input-list {
  display: flex;
  flex-direction: column;
  gap: var(--sizing-200);
}

.base-card-desktop {
  width: 50%;
  margin-top: 10px;
}

.base-card-mobile {
  width: 100%;
  margin-top: 10px;
}

.full-line-input {
  width: 100%;
}

.button-container-desktop {
  position: absolute;
  left: 75%;
  top: 40%;
  box-sizing: border-box;
  padding: 15px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.button-container-desktop > * {
  margin: 10px 0;
}

.button-container-mobile {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.button-container-mobile > * {
  margin: 0 10px;
}
