@use '../../../../../styles/container' as devices;

.page {
  padding-top: var(--spacing-600);

  margin-inline: var(--spacing-200);
  width: auto;

  display: grid;
  gap: var(--spacing-500);

  @include devices.md {
    margin-inline: var(--spacing-800);
    width: auto;
  }

  @include devices.lg {
    margin-inline: var(--spacing-1200);
    width: auto;
  }

  @include devices.xl {
    margin-inline: var(--spacing-1800);
    width: auto;
  }

  @include devices.xxl {
    margin-inline: auto;
    width: 1800px;
  }
}
