@use '../../../../../styles/devices' as devices;

.page {
  padding-top: var(--spacing-600);
  padding-bottom: var(--spacing-400);

  margin-inline: var(--spacing-600);
  width: auto;

  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: var(--spacing-500);
}
