<mat-stepper
  [linear]="false"
  #stepper
  class="stepper"
  [selectedIndex]="(interfaceStatus$ | async)?.stepperStep"
  (selectionChange)="stepperChanged($event)"
>
  <mat-step label="Select enforced Goals">
    <div class="step">
      <app-hard-goal-selector class="componenets"></app-hard-goal-selector>
      <div class="button-container">
        <button mat-flat-button matStepperNext color="primary">Next</button>
      </div>
    </div>
  </mat-step>
  <mat-step label="Finish">
    <div class="step">
      <div class="finish-container">
        <app-goals-list
          [goalIds]="hardGoals$ | async"
          [settings]="settings$ | async"
          heading="Enforced Goals"
          class="componenets"
        ></app-goals-list>
      </div>
      <div class="button-container">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-flat-button (click)="addNewStep()" color="primary">
          Add new Step
        </button>
      </div>
    </div>
  </mat-step>
</mat-stepper>
