<base href="/">
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="'navigation'"
      [mode]="'side'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/projects" routerLinkActive="active">Projects</a>
      <a mat-list-item routerLink="/domain-files" routerLinkActive="active">Domain Files</a>
      <a mat-list-item routerLink="/problem-files" routerLinkActive="active">Problem Files</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height: 100vh">
    <mat-toolbar color="primary" style="height: 70px">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>EXPLORE</span>
    </mat-toolbar>
    <div style="height: calc(100vh - 70px);">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

