<base href="/">

<div class="main-container" [class.example-is-mobile]="isMobile">
  <mat-toolbar color="primary" class="main-toolbar">
    <button mat-icon-button (click)="snav.toggle()" [disabled]="! userService.logedIn()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">EXPLORE</h1>
    <span style="flex: 1 1 auto;"></span>
    <button mat-icon-button [matMenuTriggerFor]="userMenu"><mat-icon style="font-size: 36px">account_circle</mat-icon></button>
  </mat-toolbar>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item *ngIf="! userService.logedIn()" (click)="newLoginForm()">Login</button>
    <button mat-menu-item *ngIf="userService.logedIn()" (click)="logout()">Logout</button>
  </mat-menu>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="isMobile ? 'over' : 'side'" [fixedInViewport]="isMobile" fixedTopGap="56" style="width: 200px;">
      <mat-nav-list>
        <a mat-list-item routerLink="/overview" routerLinkActive="mat-list-single-selected-option"  (click)="snav.toggle()">
          <span class="material-icons" style="margin-right: 10px;">home</span>Home
        </a>
        <a mat-list-item routerLink="/projects" routerLinkActive="mat-list-single-selected-option"  (click)="snav.toggle()">
          <span class="material-icons" style="margin-right: 10px;">games</span>Projects
        </a>
        <a mat-list-item routerLink="/demos" routerLinkActive="mat-list-single-selected-option" (click)="snav.toggle()">
          <span class="material-icons" style="margin-right: 10px;">send</span>Demos
        </a>
        <a mat-list-item routerLink="/surveys" routerLinkActive="mat-list-single-selected-option" (click)="snav.toggle()">
          <span class="material-icons" style="margin-right: 10px;">question_answer</span>Surveys
        </a>
        <a mat-list-item routerLink="/uploaded-files" routerLinkActive="mat-list-single-selected-option" (click)="snav.toggle()">
          <span class="material-icons" style="margin-right: 10px;">text_snippet</span>Uploaded Files
        </a>
        <a mat-list-item routerLink="/info" routerLinkActive="mat-list-single-selected-option" (click)="snav.toggle()">
          <span class="material-icons" style="margin-right: 10px;">info</span>Info
        </a>
        <a mat-list-item routerLink="/help" routerLinkActive="mat-list-single-selected-option" (click)="snav.toggle()">
          <span class="material-icons" style="margin-right: 10px;">help</span>Help
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content >
      <div style="height: calc(100vh - 64px); width: 100%;">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

