<base href="/" />

<div class="main-container" [class.example-is-mobile]="isMobile">
  <mat-toolbar color="secondary" class="main-toolbar">
    <button
      mat-icon-button
      *ngIf="!userStudyPath() || userService.loggedIn()"
      (click)="sideNav.toggle()"
      [disabled]="!userService.loggedIn()"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <img style="height: 60%; margin: auto 10px" src="assets/iter_logo.svg" />
    <h1 style="font-weight: bold;">IPEXCO</h1>
    <span style="flex: 1 1 auto"></span>
    <button mat-icon-button *ngIf="!userStudyPath()" [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu #userMenu="matMenu">
    <button
      mat-menu-item
      *ngIf="!userService.loggedIn()"
      (click)="newLoginForm()"
    >
      Login
    </button>
    <button mat-menu-item *ngIf="userService.loggedIn()" (click)="logout()">
      Logout
    </button>
  </mat-menu>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sideNav
      [mode]="isMobile ? 'over' : 'side'"
      [fixedInViewport]="isMobile"
      fixedTopGap="56"
      style="width: 200px"
    >
      <mat-nav-list>
        <a 
          mat-list-item
          routerLink="/overview"
          routerLinkActive="mat-list-single-selected-option"
          (click)="sideNav.toggle()">
          <span class="entry">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </span>
        </a>
        <a
          mat-list-item
          routerLink="/projects"
          routerLinkActive="mat-list-single-selected-option"
          (click)="sideNav.toggle()">
          <span class="entry">
            <mat-icon>games</mat-icon>
            <span>Projects</span>
          </span>
        </a>
        <a
          mat-list-item
          routerLink="/demos"
          routerLinkActive="mat-list-single-selected-option"
          (click)="sideNav.toggle()">
          <span class="entry">
            <mat-icon>send</mat-icon>
            <span>Demos</span>
          </span>
        </a>
        <a
          mat-list-item
          routerLink="/user-studies"
          routerLinkActive="mat-list-single-selected-option"
          (click)="sideNav.toggle()">
        <span class="entry">
          <mat-icon>question_answer</mat-icon>
          <span>User Studies</span>
        </span>
        </a>
        <a
          mat-list-item
          routerLink="/info"
          routerLinkActive="mat-list-single-selected-option"
          (click)="sideNav.toggle()">
          <span class="entry">
            <mat-icon>info</mat-icon>
            <span>Info</span>
          </span>
        </a>
        <a
          mat-list-item
          routerLink="/help"
          routerLinkActive="mat-list-single-selected-option"
          (click)="sideNav.toggle()">
          <span class="entry">
            <mat-icon>help</mat-icon>
            <span>Help</span>
          </span>
        </a>
        <a
          mat-list-item
          routerLink="/llm"
          routerLinkActive="mat-list-single-selected-option"
          (click)="sideNav.toggle()">
          <span class="entry">
            <mat-icon>chat</mat-icon>
            <span>LLM</span>
          </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
