<app-dialog>
  <app-dialog-header>
    <app-dialog-title>
      Login
    </app-dialog-title>
  </app-dialog-header>
  <app-dialog-content>
    <form [formGroup]="loginForm">
      <mat-form-field class="form-inputs" appearance="outline">
        <mat-label>User name</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>

      <mat-form-field class="form-inputs" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>
    </form>
  </app-dialog-content>
  <app-dialog-footer>
    <button mat-button (click)="onBack()"> Cancel </button>
    <button mat-flat-button (click)="onLogin()">Login</button>
  </app-dialog-footer>
</app-dialog>