<div style="width: 100%; height: 100%">
  <mat-tab-group>
    <mat-tab label="General">
      <p>ID: {{ demo._id }}</p>

      <a mat-flat-button id="demo_download">
        <mat-icon>download</mat-icon>
      </a>
    </mat-tab>
    <mat-tab label="MUGS" *ngIf="demo.explanations">
      <mat-list>
        <mat-list-item *ngFor="let line of this.mugs">
          <mat-icon matListIcon>bolt</mat-icon>
          <p matLine>({{ line.length }}) {{ line }}</p>
        </mat-list-item>
      </mat-list>
    </mat-tab>
    <mat-tab label="Max Utility">
      <p style="margin: 20px; font-size: larger">
        Max Utility: {{ demo.maxUtility?.value }}
      </p>
      <mat-list>
        <mat-list-item *ngFor="let pp of planProperties">
          <mat-icon
            matListIcon
            *ngIf="demo.maxUtility?.selectedPlanProperties.includes(pp.name)"
            >done</mat-icon
          >
          <mat-icon
            matListIcon
            *ngIf="!demo.maxUtility?.selectedPlanProperties.includes(pp.name)"
            >bolt</mat-icon
          >
          <p matLine>{{ pp.name }}</p>
          <p matLine>Utility: {{ pp.value }}</p>
        </mat-list-item>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</div>
