<div 
    class="container"
    *transloco="let t"
>
    @if(!isUsed()){
        <button mat-icon-button (click)="onUnlock()" 
            [disabled]="disabled()"
            [matTooltip]="t('f.release_maintenance')">
            <mat-icon>check_circle</mat-icon>
        </button>
    }
    @else{
        <button mat-icon-button (click)="onLock()" 
            [disabled]="isLoaded() || disabled()"
            [matTooltip]="t('f.block_maintenance')">
            <mat-icon>construction</mat-icon>
        </button>
    }
    <app-hangar
        [maintenance]="!isUsed()"
        [name]="hangar().name">
        @if(jig()){
            <app-jig
                [jig]="jig()"  
                [jigType]="jigTypes()?.[jig()?.type]"
                [incomingFlight]="incomingFlightJigMap()?.[jig().name]"
                draggable="false"
            >
            </app-jig>
        }
    </app-hangar>
</div>
