<app-dialog>
    <app-dialog-header>
        <app-dialog-title>New {{data.serviceType}}</app-dialog-title>
    </app-dialog-header>
    <app-dialog-content>
        <form>
            <div class="inputs-list">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Fast Downward LAMA" [formControl]="form.controls.name">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>URL</mat-label>
                    <input matInput placeholder="http://service:1234" [formControl]="form.controls.url">
                    @if (form.controls.url.hasError('required')) {
                        <mat-error>Please add an URL.</mat-error>
                    }
                    @if (form.controls.url.hasError('pattern')) {
                        <mat-error>Not a valid URL.</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Domain</mat-label>
                    <mat-select [formControl]="form.controls.domainId" required>
                      @for (domain of data.domains; track domain._id) {
                        <mat-option [value]="domain._id">{{domain.name}}</mat-option>
                      }
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Encoding</mat-label>
                    <mat-select [formControl]="form.controls.encoding" required>
                      @for (encoding of encodings; track encoding) {
                        <mat-option [value]="encoding">{{encoding}}</mat-option>
                      }
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </app-dialog-content>
    <app-dialog-footer>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-flat-button (click)="onCreate()">Create</button>
    </app-dialog-footer>
</app-dialog>
