@use "@angular/material" as mat;

@use "../../../../../../variables" as vars;
@use "../../../../../../ipexco-theme" as ipexco-theme;

.container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
    align-items: center;
    align-items: flex-end;

  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-container {
  padding: var(--spacing-100) var(--spacing-200);

  width: fit-content;

    display: inline-flex;
    flex-direction: row;
    gap: var(--spacing-100);
    align-items: center;

    background-color: var(--hangar);

    border-top-left-radius: var(--radius-100);
    border-top-right-radius: var(--radius-100);

  @include vars.typography(label-large);
}

.status-container {
    padding: var(--spacing-100);

    align-self: flex-end;

    width: fit-content;

    flex-shrink: 0;

    display: inline-flex;
    flex-direction: row;
    gap: var(--spacing-100);
    align-items: flex-end;
}

.hangar-container {
    display: flex;
    flex-direction: column;
}

.hangar {
    height: var(--hangar-height);
    min-width: 100px;

    border: solid;
    border-width: 0px;
    border-radius: var(--spacing-100);
    border-top-left-radius: 0px;

    background-color: var(--hangar);

    display: flex;
    width: fit-content;
    justify-content: space-around;
    align-items: center;
}

.dragIcon {
  position: absolute;
  @include vars.color(outline);
}

.dragTarget{
    outline: dashed;
    outline-color: #{mat.get-theme-color(ipexco-theme.$light-theme, outline-variant)};;
    outline-width: 4px;
    outline-offset: -4px;
}

.noDragTarget{
    opacity: 50%;
}

.maintenance{
    opacity: 50%;
}

.status {
  display: inline-grid;
  aspect-ratio: 1/1;

  border-radius: var(--radius-full);
  padding: var(--spacing-050);
}

.error{
    @include vars.background-color(error);
    @include vars.color(on-error);
}
