<div
  class="container"
  [class.noDragTarget]="noDragTarget()"
>
    <ng-content select="button"></ng-content>
    <div class="hangar-container">
      <div class="header">
          <div class="info-container"
            [class.maintenance]="maintenance()"
          >
              <mat-icon>warehouse</mat-icon>
              <span>{{ name() }}</span>
          </div>

          <div class="status-container">
              @if(maintenance()){
                  <div class="status highlight">
                    <mat-icon [inline]="true">construction</mat-icon>
                  </div>
              }
          </div>
      </div>

        <div class="hangar"
            [class.dragTarget]="dragTarget()"
            [class.maintenance]="maintenance()"
        >
            <ng-content select="app-jig,app-drop-target"></ng-content>

            @if(dragTarget()) {
              <mat-icon class="dragIcon">place_item</mat-icon>
            }
        </div>
    </div>
</div>

