@use "@angular/material" as mat;

@use "../../../../../../variables" as vars;
@use "../../../../../../ipexco-theme" as ipexco-theme;

.container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
    align-items: center;
    align-items: flex-end;

  position: relative;
}

.info-container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
    align-items: flex-end;
}

.hangar-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-050);
}

.hangar {
    height: var(--hangar-height);
    min-width: 100px;

    border: solid;
    border-width: 0px;
    border-radius: var(--spacing-100);

    background-color: var(--hangar);

    display: flex;
    width: fit-content;
    justify-content: space-around;
    align-items: center;
}

.dragIcon {
  position: absolute;
  @include vars.color(outline);
}

.dragTarget{
    outline: dashed;
    outline-color: #{mat.get-theme-color(ipexco-theme.$light-theme, outline-variant)};;
    outline-width: 4px;
    outline-offset: -4px;
}

.noDragTarget{
    opacity: 50%;
}

.maintenance{
    opacity: 30%;
}

.error{
    font-weight: 600;
    color: red
}
