<div class="container">
  <div class="back"></div>
  <div
    class="bar"
    [style.left.%]="left$ | async"
    [style.width.%]="width$ | async">
  </div>
  <div class="values-box">
    <p class="label" [style.left.%]="0"
      *ngIf="(v_small$ | async) !== (min$ | async) && (v_large$ | async) !== (min$ | async)">
      {{ min$ | async }}</p>
    <p class="label" [style.left.%]="100"
      *ngIf="(v_small$ | async) !== (max$ | async) && (v_large$ | async) !== (max$ | async)">
      {{ max$ | async }}</p>
    <p
      class="value"
      [style.left.%]="left$ | async">
      {{ v_small$ | async }}
    </p>
    <p
      class="value"
      [style.left.%]="(left$ | async) + (width$ | async)">
      {{ v_large$ | async }}
    </p>
    <p
      class="label"
      [style.left.%]="null_pos$ | async"
      *ngIf="
        (null_pos$ | async) &&
        (v_small$ | async) !== 0 &&
        (v_large$ | async) !== 0 &&
        (max$ | async) !== 0 &&
        (min$ | async) !== 0">
      0 HELP
    </p>
  </div>
</div>
