<div>
  <mat-grid-list cols="5" rowHeight="1:1" gutterSize="1px">
    <mat-grid-tile>
      <app-project-creator></app-project-creator>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let project of projects$ | async">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar>
          <span class="material-icons">
            games
          </span>
          </div>
          <mat-card-title>{{project.name}}</mat-card-title>
          <mat-card-subtitle>Project</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{project.description}}
          </p>
          <mat-list>
            <mat-list-item>{{project.domain_file.name}}</mat-list-item>
            <mat-list-item>{{project.problem_file.name}}</mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="delete(project)"><mat-icon>delete</mat-icon></button>
          <button mat-icon-button><mat-icon>file_copy</mat-icon></button>
          <button mat-icon-button><mat-icon>create</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
