<h2>Settings:</h2>
<form class="settings-form">
  <mat-slide-toggle>Track runs</mat-slide-toggle>
  <mat-form-field style="width: 100px;">
    <mat-label>#runs</mat-label>
    <input matInput type="number">
  </mat-form-field>
  <mat-slide-toggle>Allow questions</mat-slide-toggle>
  <mat-radio-group class="size-group">
    <mat-label>Max size of questions: </mat-label>
    <mat-radio-button value="1">1</mat-radio-button>
    <mat-radio-button value="2">2</mat-radio-button>
    <mat-radio-button value="3">3</mat-radio-button>
  </mat-radio-group>
  <mat-slide-toggle>public</mat-slide-toggle>
</form>
