@use "../../../../../variables.scss" as vars;

.jig {
    height: 40px;

    padding-left: var(--spacing-200);
    padding-right: var(--spacing-200);

    border: solid;
    border-width: 1px;
    @include vars.border_color();
    border-radius: var(--spacing-100);

    background-color: rgb(150, 151, 255);

    display: flex;
    width: fit-content;
    justify-content: space-around;
    align-items: center;
}