<div class="container" [class.dragScale]="dragTarget()">
    <ng-content  select="[id=bside]"></ng-content>
    <div class="trailer-container">
        <div class="info-container">
            <span style="font-weight: 500;">{{ name() }}</span>
            @if(maintenance()){
                <mat-icon class="error">construction</mat-icon>
            }
        </div>
        <div
            class="trailer"
            [style.width]="size() + 'px' "
            [class.dragTarget]="dragTarget()"
            [class.noDragTarget]="noDragTarget()"
            [class.maintenance]="maintenance()"
             [class.inConflict]="inConflict()"
        >
            <ng-content select="app-jig,app-drop-target"></ng-content>
        </div>
    </div>
    <ng-content select="[id=fside]"></ng-content>
</div>

