<div class="container">
    <!-- <div>
        <mat-icon>local_shipping</mat-icon>
    </div> -->
    <div class="trailer" 
        cdkDropList [cdkDropListData]="[jig()]" 
        (cdkDropListDropped)="drop($event)"
        [id]="name()"
        [cdkDropListEnterPredicate]="empty">
        @if(jig() != null){
            <app-jig 
                [jig]="jig()" 
                [jigType]="jigType()"
                cdkDrag
                [cdkDragData]="jig()"
            >
            </app-jig>
        }
    </div>
    @if(side() =='fside'){
        <button mat-icon-button (click)="toHangar()" [disabled]="!(canDeliver$ | async)">
            <mat-icon>arrow_forward</mat-icon>
        </button>
    }
</div>

