@use "../../../../../../variables.scss" as vars;


.container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
    align-items: center;
}

.trailer-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-050);
    
}

.info-container {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-100);
}

.trailer {
    height: var(--trailer-height);
    min-width: 100px;

    border: solid;
    border-width: 0px;
    border-radius: var(--spacing-100);

    background-color: var(--trailer);

    display: flex;
    width: fit-content;
    justify-content: space-around;
    align-items: center;
}

.dragTarget{
    outline: solid;
    outline-width: 2px;
    outline-offset: -2px;
}

.noDragTarget{
    opacity: 50%;
}