<div
  class="container"
  [class.dragScale]="dragTarget()"
  [class.noDragTarget]="noDragTarget()"
>
    <ng-content  select="[id=bside]"></ng-content>
    <div class="trailer-container">
      <div class="header">
          <div class="info-container"
            [class.maintenance]="maintenance()"
            >
              <mat-icon>trolley</mat-icon>
              <span>{{ name() }}</span>
          </div>

          <div class="status-container">
            @if(maintenance()){
                <div class="status highlight">
                  <mat-icon [inline]="true">construction</mat-icon>
                </div>
            }
            @if(inConflict()){
                <div class="status error">
                  <mat-icon [inline]="true">warning</mat-icon>
                </div>
            }
          </div>
      </div>

      <div
          class="trailer"
          [style.width]="size() + 'px' "
          [class.dragTarget]="dragTarget()"
          [class.maintenance]="maintenance()"
      >
          <ng-content select="app-jig,app-drop-target"></ng-content>

          @if(dragTarget()) {
            <mat-icon class="dragIcon">place_item</mat-icon>
          }
      </div>
    </div>
    <ng-content select="[id=fside]"></ng-content>
</div>

