<div style="width: 100%; height: 100%">
    <div class="container">
      <mat-card appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar>
            <span class="material-icons"> games </span>
          </div>
          <mat-card-title>Projects</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-action-list>
            @for (project of projectsService.getList() | async; track project) {
              <mat-list-item (click)="openProject(project)">
                <h4 matListItemTitle>{{project.name}}</h4>
                <p matListItemLine> {{project.updated | date}}</p>
              </mat-list-item>
              @if (!$last) {
                <mat-divider [inset]="true" ></mat-divider>
              }
            }
          </mat-action-list>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="toProjectCollection()">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar>
            <span class="material-icons"> send </span>
          </div>
          <mat-card-title>Demos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @if ((demosService.getList() | async).length > 0){
            <mat-action-list>
                @for (demo of demosService.getList() | async; track demo) {
                  <mat-list-item (click)="openDemo(demo)">
                    <h4 matListItemTitle>{{demo.name}}</h4>
                    <p matListItemLine> {{demo.updated | date}}</p>
                  </mat-list-item>
                  @if (!$last) {
                    <mat-divider [inset]="true" ></mat-divider>
                  }
                }
            </mat-action-list>
          }
          @if ((demosService.getList() | async).length == 0){
          <p>No demos available.</p>
          }
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="toDemoCollection()">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>

      <mat-card appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar>
            <span class="material-icons"> question_answer </span>
          </div>
          <mat-card-title>User Studies</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          @if ((userStudiesService.getList() | async).length > 0){
          <mat-action-list>
            @for (study of userStudiesService.getList() | async; track study) {
              <mat-list-item (click)="openUserStudy(study)">
                <h4 matListItemTitle>{{study.name}}</h4>
                <p matListItemLine> {{study.updated | date}}</p>
              </mat-list-item>
              @if (!$last) {
                <mat-divider [inset]="true" ></mat-divider>
              }
            }
          </mat-action-list>
          }
          @if ((userStudiesService.getList() | async).length == 0){
          <p>No user studies available.</p>
          }
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="toUserStudyCollection()">
            <mat-icon>open_in_new</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

 
