
<app-page>
    <app-breadcrumb>
      <a app-breadcrumb-item [routerLink]="['/demos/']"><mat-icon>home</mat-icon></a>
    </app-breadcrumb>
    <app-page-title>Demos</app-page-title>
  
    <app-page-content>
      <div class="page-grid">
        @for(demo of demos$ | async; track demo) {
          <app-demo-card [demo]="demo" [planProperties]="(demoProperties$ | async)?.[demo._id] ?? []" (run)="onRunIterPlanning(demo._id)"></app-demo-card>
        }
      </div>
    </app-page-content>
</app-page>
  