@let submitted = submitted$ | async;
@let isProlificStudy = isProlificStudy$ | async;

<app-page *transloco="let t">
  <app-page-title>
    {{t('use.finished')}}!
  </app-page-title>
  <app-page-content>
    <app-page-section-list>
      @if(!submitted){
      <app-page-section>
        <app-page-section-content>
          {{t('use.thanks_participation')}}
        </app-page-section-content>
      </app-page-section>
      }
      @if(!submitted){
      <app-page-section>
        <app-page-section-title>
          {{t('use.submit')}}
        </app-page-section-title>
        <app-page-section-content>
          <p>
            {{t('use.submit_info')}}
          </p>
          <button mat-flat-button (click)="onSubmit()"><mat-icon>send</mat-icon>{{t('use.submit')}}</button>
        </app-page-section-content>
      </app-page-section>
      }
      @if(!submitted){
      <app-page-section>
        <app-page-section-title>
           {{t('use.cancel')}}
        </app-page-section-title>
        <app-page-section-content>
          <p>
            {{t('use.cancel_info')}}
          </p>
          <button mat-stroked-button (click)="onCancel()"><mat-icon>cancel</mat-icon>{{t('use.cancel')}}</button>
        </app-page-section-content>
      </app-page-section>
      }
      @if(submitted){
        <app-page-section>
          <app-page-section-title>
            {{t('use.submitted')}} <mat-icon>done_all</mat-icon>
          </app-page-section-title>
          <!-- @if(isProlificStudy){
            <app-page-section-content>
              <p>Thank you for your participation. All your data was submitted. To return to Prolific please click the following button:</p>
              <a mat-flat-button [href]="redirectLink$ | async">Back to Prolific</a>
            </app-page-section-content>
          }
          @else{ -->
            <app-page-section-content>
              {{t('use.thankyou_end')}}
            </app-page-section-content>
          <!-- } -->
        </app-page-section>
      }
    </app-page-section-list>
  </app-page-content>
</app-page>
